Node-RED/TU-Agent-Planning.txt
[{"id":"249aeb13.444e84","type":"tab","label":"TU-Agent - Planning","disabled":false,"info":""},{"id":"ddbdad88.35331","type":"comment","z":"249aeb13.444e84","name":"1.1 Receiving Load Schedule Plans from Agent (Node-RED --> Planning)","info":"","x":286.1166687011719,"y":118.11666870117188,"wires":[]},{"id":"dbf8db70.6de598","type":"comment","z":"249aeb13.444e84","name":"1.2 Receiving Answers from ERP System (Node-RED <-- Planning)","info":"","x":262.0000305175781,"y":311.416748046875,"wires":[]},{"id":"1e4bd12e.c69e8f","type":"file in","z":"249aeb13.444e84","d":true,"name":"**TEST**Testfile from Desktop","filename":"C:\\Users\\Woltmann\\Desktop\\pom2.xml","format":"","chunk":false,"sendError":false,"encoding":"none","x":512.9999694824219,"y":1191.1667785644531,"wires":[["7a53b332.281004"]]},{"id":"b0d88e9c.b15188","type":"inject","z":"249aeb13.444e84","d":true,"name":"**TEST**Inject a XML File to Agent","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":186,"y":1191.266845703125,"wires":[["1e4bd12e.c69e8f"]]},{"id":"7a53b332.281004","type":"function","z":"249aeb13.444e84","d":true,"name":"Payload_handler","func":"msg.payload = msg.payload;\nmsg.headers = {'content-type':'application/octet-stream'};\nreturn msg;\n\n\n//msg.payload = '<?xml version=\"1.0\" encoding=\"UTF-8\"?><userRequest<authentication><username>foo</username><password>bar</password></authentication><action>doit</action></userRequest>';\n//msg.headers = {};\n//msg.headers['content-type'] = 'application/xml';","outputs":1,"noerr":0,"initialize":"","finalize":"","x":819.666748046875,"y":1190.1835021972656,"wires":[["7c3fb223.5bd574"]]},{"id":"7c3fb223.5bd574","type":"http request","z":"249aeb13.444e84","d":true,"name":"scheduling_schedulingPlan Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/erp-agent/scheduling_schedulingPlan","tls":"","persist":false,"proxy":"","authType":"","x":1106.11669921875,"y":1191.1667785644531,"wires":[[]]},{"id":"79ab94b3.c6415c","type":"http in","z":"249aeb13.444e84","name":"","url":"/erp-agent/scheduling_schedulingPlan","method":"put","upload":false,"swaggerDoc":"","x":193.11666870117188,"y":350.11669921875,"wires":[["b11283c4.3b27a8","c5c844c8.c4ab5"]]},{"id":"b11283c4.3b27a8","type":"http response","z":"249aeb13.444e84","name":"Response","statusCode":"","headers":{},"x":294.4166564941406,"y":385.11669921875,"wires":[]},{"id":"cf5fe0da.0f007","type":"comment","z":"249aeb13.444e84","name":"Testing Upload SchedulingPlans via predefined XML data","info":"","x":234.11666870117188,"y":1106.11669921875,"wires":[]},{"id":"7b1bd406.37964c","type":"function","z":"249aeb13.444e84","name":"Payload_handler","func":"msg.payload = msg.payload;\nmsg.headers = {'content-type':'application/octet-stream'};\nreturn msg;\n\n\n//msg.payload = '<?xml version=\"1.0\" encoding=\"UTF-8\"?><userRequest<authentication><username>foo</username><password>bar</password></authentication><action>doit</action></userRequest>';\n//msg.headers = {};\n//msg.headers['content-type'] = 'application/xml';","outputs":1,"noerr":0,"initialize":"","finalize":"","x":822.11669921875,"y":1143.2167053222656,"wires":[["d7b4a422.83f928"]]},{"id":"d7b4a422.83f928","type":"http request","z":"249aeb13.444e84","name":"scheduling_schedulingPlan Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/erp-agent/scheduling_schedulingPlan","tls":"","persist":false,"proxy":"","authType":"","x":1105.11669921875,"y":1143.2167053222656,"wires":[[]]},{"id":"9db74b9a.6bbb08","type":"inject","z":"249aeb13.444e84","name":"**TEST**Inject a predefined XML to Agent","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"a\":1}","payloadType":"str","x":209.11666870117188,"y":1145.7166748046875,"wires":[["fbcfe0dd.ec5ec8"]]},{"id":"307fb841.f25fd","type":"http in","z":"249aeb13.444e84","name":"","url":"/erp/scheduling_startScheduling","method":"put","upload":false,"swaggerDoc":"","x":177.11666870117188,"y":160.11666870117188,"wires":[["7d3b5a3.f7c8524","b1d31393.b900a8","5659bae2.002f14"]]},{"id":"7d3b5a3.f7c8524","type":"http response","z":"249aeb13.444e84","name":"Response","statusCode":"","headers":{},"x":255.11666870117188,"y":198.11666870117188,"wires":[]},{"id":"3cc71fbb.5b725","type":"function","z":"249aeb13.444e84","name":"Data from JSON Interface","func":"var schedulingStart = msg.payload.InterfacePayloadPlanning.schedulingStart.toString();\nvar schedulingEnd = msg.payload.InterfacePayloadPlanning.schedulingEnd.toString();\nvar expiration = msg.payload.InterfacePayloadPlanning.expiration.toString();\nvar referenceID = msg.payload.InterfacePayloadPlanning.referenceID.toString();\n\npayload = \n{\n\"schedulingStart\" : schedulingStart,\n\"schedulingEnd\" : schedulingEnd,\n\"expiration\" : expiration,\n\"referenceID\" : referenceID,\n}\nmsg.payload = payload;\n\n/* HTTP Header:\nif you have binary (non-alphanumeric) data \n(or a significantly sized payload) to transmit, \nuse multipart/form-data. Otherwise, use \napplication/x-www-form-urlencoded.\n*/\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":607.9500732421875,"y":201.81666564941406,"wires":[["9fa3384b.12fc1"]]},{"id":"22bb0d26.19069a","type":"comment","z":"249aeb13.444e84","name":"Payload description (JSON)","info":"{\n    schedulingStart: \"2021-02-05 12:00:00\",\n    schedulingEnd: \"2021-02-05 13:00:00\",\n    expiration: \"2021-02-04 22:00:00\",\n    referenceID: \"scheduling-1\"\n}","x":865.11669921875,"y":203.11666870117188,"wires":[]},{"id":"b1d31393.b900a8","type":"xml","z":"249aeb13.444e84","name":"to JSON","property":"payload","attr":"","chr":"","x":410.9500427246094,"y":202.06666564941406,"wires":[["3cc71fbb.5b725"]]},{"id":"5659bae2.002f14","type":"function","z":"249aeb13.444e84","name":"Data from XML Interface","func":"msg.payload = msg.payload;\n\n/* HTTP Header:\nif you have binary (non-alphanumeric) data \n(or a significantly sized payload) to transmit, \nuse multipart/form-data. Otherwise, use \napplication/x-www-form-urlencoded.\n*/\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":608.9500427246094,"y":161.43333435058594,"wires":[[]]},{"id":"5352374.fea4ec8","type":"http request","z":"249aeb13.444e84","name":"Endpoint of Planning","method":"PUT","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":1111.11669921875,"y":157.11666870117188,"wires":[["190becde.dfbeeb"]]},{"id":"190becde.dfbeeb","type":"json","z":"249aeb13.444e84","name":"Javascript - JSON Convert","property":"payload","action":"","pretty":false,"x":1349.61669921875,"y":156.11666870117188,"wires":[[]]},{"id":"2c343cfc.c7f644","type":"comment","z":"249aeb13.444e84","name":"Planning Interface","info":"","x":1092.11669921875,"y":123.11666870117188,"wires":[]},{"id":"fbcfe0dd.ec5ec8","type":"template","z":"249aeb13.444e84","name":"**TEST**XML-Template","field":"payload","fieldType":"msg","format":"text","syntax":"plain","template":"<operation>\n    <name>\"SchedulingData\"</name>\n    <tuID>\"testTUHSEMD\"</tuID>\n    <timeWindow>\n        <start>\"2020-02-18 05:00:00.0\"</start>\n        <end>\"2020-02-18 07:00:00.0\"</end>\n    </timeWindow>\n    <energyRange>\n        <from>\"6000\"</from>\n        <till>\"22000\"</till>\n    </energyRange>\n</operation>","output":"str","x":528.1166687011719,"y":1143.7166748046875,"wires":[["7b1bd406.37964c"]]},{"id":"39c59dca.e8a5ba","type":"http in","z":"249aeb13.444e84","d":true,"name":"","url":"/erp/schedulingPlan","method":"put","upload":false,"swaggerDoc":"","x":154.11666870117188,"y":1362.916748046875,"wires":[["3b6d7fe0.61c9d","683c651f.c51cec"]]},{"id":"3b6d7fe0.61c9d","type":"http response","z":"249aeb13.444e84","d":true,"name":"Response","statusCode":"","headers":{},"x":202.41665649414062,"y":1399.916748046875,"wires":[]},{"id":"683c651f.c51cec","type":"file","z":"249aeb13.444e84","d":true,"name":"","filename":"C:/Users/Woltmann/Desktop/newFile/ausNodeRed.xml","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"utf8","x":533.9500427246094,"y":1362.9834594726562,"wires":[[]]},{"id":"f9c4bd75.d2a9e8","type":"comment","z":"249aeb13.444e84","name":"Testing the Node-RED Interface by saving the Data to a file","info":"","x":234.11666870117188,"y":1326.916748046875,"wires":[]},{"id":"c5c844c8.c4ab5","type":"function","z":"249aeb13.444e84","name":"Payload_handler","func":"msg.payload = msg.payload;\nmsg.headers = {'content-type':'application/octet-stream'};\nreturn msg;\n\n\n//msg.payload = '<?xml version=\"1.0\" encoding=\"UTF-8\"?><userRequest<authentication><username>foo</username><password>bar</password></authentication><action>doit</action></userRequest>';\n//msg.headers = {};\n//msg.headers['content-type'] = 'application/xml';","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610.050048828125,"y":350.41668701171875,"wires":[["3c0cfc8f.88b53c"]]},{"id":"3c0cfc8f.88b53c","type":"http request","z":"249aeb13.444e84","name":"scheduling_schedulingPlan Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/erp-agent/scheduling_schedulingPlan","tls":"","persist":false,"proxy":"","authType":"","x":1162.050048828125,"y":348.41668701171875,"wires":[[]]},{"id":"6b7a1061.30328","type":"http in","z":"249aeb13.444e84","name":"","url":"/erp-agent/scheduling_refuseScheduling","method":"put","upload":false,"swaggerDoc":"","x":203.11666870117188,"y":512.11669921875,"wires":[["f58bb624.e61438","5c1a0033.a65fd"]]},{"id":"f58bb624.e61438","type":"http response","z":"249aeb13.444e84","name":"Response","statusCode":"","headers":{},"x":311.1166687011719,"y":550.11669921875,"wires":[]},{"id":"5c1a0033.a65fd","type":"function","z":"249aeb13.444e84","name":"Payload_handler","func":"var tuName = msg.payload.tuName || \"noNameSet\";\n\npayload = \n{\n\"tuName\": tuName\n}\nmsg.payload = payload;\n\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":608.7501220703125,"y":511.416748046875,"wires":[["5d9252e5.13e0b4"]]},{"id":"5d9252e5.13e0b4","type":"http request","z":"249aeb13.444e84","name":"scheduling_refuseScheduling Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/erp-agent/scheduling_refuseScheduling","tls":"","persist":false,"proxy":"","authType":"","x":1162.750244140625,"y":509.416748046875,"wires":[[]]},{"id":"1ad94994.df1cae","type":"function","z":"249aeb13.444e84","name":"Payload_handler","func":"referenceID = flow.get(\"referenceID\");\npayload = {\n    \"referenceID\" : referenceID,\n    \"tuName\": \"TUEmden0\"\n}\nmsg.payload = payload;\n\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":822.11669921875,"y":1280.916748046875,"wires":[["ef400437.5e9ac8"]]},{"id":"ef400437.5e9ac8","type":"http request","z":"249aeb13.444e84","name":"scheduling_refuseScheduling Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/erp-agent/scheduling_refuseScheduling","tls":"","persist":false,"proxy":"","authType":"","x":1113.1168212890625,"y":1281.916748046875,"wires":[[]]},{"id":"a1fae2b2.1ba5d8","type":"inject","z":"249aeb13.444e84","name":"**TEST**Inject a refuseScheduling to Agent","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":218.94998168945312,"y":1281,"wires":[["1ad94994.df1cae"]]},{"id":"1b446a2.65bb496","type":"http in","z":"249aeb13.444e84","name":"","url":"/erp-agent/scheduling_schedulingPlanUploaded","method":"put","upload":false,"swaggerDoc":"","x":223.11666870117188,"y":430.21669006347656,"wires":[["7cbd83d1.2f7874","28d49ae3.63e606"]]},{"id":"7cbd83d1.2f7874","type":"http response","z":"249aeb13.444e84","name":"Response","statusCode":"","headers":{},"x":353.1166687011719,"y":464.2166748046875,"wires":[]},{"id":"28d49ae3.63e606","type":"function","z":"249aeb13.444e84","name":"Payload_handler","func":"var tuName = msg.payload.tuName || \"noNameSet\";\nvar referenceID = msg.payload.referenceID || \"noNameSet\";\n\npayload = \n{\n\"tuName\": tuName,\n\"referenceID\" : referenceID\n}\n\nmsg.payload = payload;\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":608.7501220703125,"y":429.5167236328125,"wires":[["9426cc1a.e712b"]]},{"id":"9426cc1a.e712b","type":"http request","z":"249aeb13.444e84","name":"scheduling_schedulingPlanUploaded Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/erp-agent/scheduling_schedulingPlanUploaded","tls":"","persist":false,"proxy":"","authType":"","x":1193.7501220703125,"y":429.5166931152344,"wires":[[]]},{"id":"daa7c664.10a1f","type":"function","z":"249aeb13.444e84","name":"Payload_handler","func":"referenceID = flow.get(\"referenceID\");\npayload = {\n    \"referenceID\" : referenceID,\n    \"tuName\": \"TUEmden0\"\n}\nmsg.payload = payload;\n\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":826.11669921875,"y":1235.816650390625,"wires":[["e2828bc6.3b171"]]},{"id":"e2828bc6.3b171","type":"http request","z":"249aeb13.444e84","name":"scheduling_schedulingPlanUploaded Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/erp-agent/scheduling_schedulingPlanUploaded","tls":"","persist":false,"proxy":"","authType":"","x":1141.1167907714844,"y":1235.816650390625,"wires":[[]]},{"id":"f670bd3e.6b5bb","type":"inject","z":"249aeb13.444e84","name":"**TEST**Inject a schedulingPlanUploaded to Agent","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":237.11666870117188,"y":1238.7166748046875,"wires":[["daa7c664.10a1f"]]},{"id":"9fa3384b.12fc1","type":"function","z":"249aeb13.444e84","name":"****TESTING (getting the referenceID)*******","func":"var referenceID = msg.payload.referenceID;\nflow.set(\"referenceID\", referenceID);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":668.949951171875,"y":253.01666259765625,"wires":[[]]},{"id":"8680da8d.132168","type":"comment","z":"249aeb13.444e84","name":"1.3 Receiving Scheduling-Accept or Reject from Agent (Node-RED --> Planning)","info":"","x":297.1166687011719,"y":599.61669921875,"wires":[]},{"id":"34456b5f.587afc","type":"http in","z":"249aeb13.444e84","name":"","url":"/erp/scheduling_accepted","method":"put","upload":false,"swaggerDoc":"","x":152.11666870117188,"y":649.5166625976562,"wires":[["ab38be7d.ed14d","ba5ad7e0.c20ca8","8317a571.24764"]]},{"id":"ab38be7d.ed14d","type":"http response","z":"249aeb13.444e84","name":"Response","statusCode":"","headers":{},"x":221.11666870117188,"y":684.5166625976562,"wires":[]},{"id":"2738bc23.a3b2d4","type":"function","z":"249aeb13.444e84","name":"Data from JSON Interface","func":"var schedulingStart = msg.payload.InterfacePayloadPlanning.schedulingStart.toString();\nvar schedulingEnd = msg.payload.InterfacePayloadPlanning.schedulingEnd.toString();\n\nvar referenceID = msg.payload.InterfacePayloadPlanning.referenceID.toString();\n\npayload = \n{\n\"schedulingStart\" : schedulingStart,\n\"schedulingEnd\" : schedulingEnd,\n\"referenceID\" : referenceID,\n}\nmsg.payload = payload;\n\n/* HTTP Header:\nif you have binary (non-alphanumeric) data \n(or a significantly sized payload) to transmit, \nuse multipart/form-data. Otherwise, use \napplication/x-www-form-urlencoded.\n*/\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":593.9500427246094,"y":681.2166595458984,"wires":[[]]},{"id":"ba5ad7e0.c20ca8","type":"xml","z":"249aeb13.444e84","name":"to JSON","property":"payload","attr":"","chr":"","x":374.9500427246094,"y":680.4666595458984,"wires":[["2738bc23.a3b2d4"]]},{"id":"8317a571.24764","type":"function","z":"249aeb13.444e84","name":"Data from XML Interface","func":"msg.payload = msg.payload;\n\n/* HTTP Header:\nif you have binary (non-alphanumeric) data \n(or a significantly sized payload) to transmit, \nuse multipart/form-data. Otherwise, use \napplication/x-www-form-urlencoded.\n*/\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":593.9500427246094,"y":648.8333282470703,"wires":[[]]},{"id":"e18df4c.0f67388","type":"http in","z":"249aeb13.444e84","name":"","url":"/erp/scheduling_rejected","method":"put","upload":false,"swaggerDoc":"","x":148.11666870117188,"y":742.5166625976562,"wires":[["a77ce3f6.1a748","6db9f40c.ba296c","f18c232e.652d58"]]},{"id":"a77ce3f6.1a748","type":"http response","z":"249aeb13.444e84","name":"Response","statusCode":"","headers":{},"x":209.11666870117188,"y":777.5166625976562,"wires":[]},{"id":"47502ea1.0cff","type":"function","z":"249aeb13.444e84","name":"Data from JSON Interface","func":"var referenceID = msg.payload.InterfacePayloadPlanning.referenceID.toString();\n\npayload = {\n    \"referenceID\" : referenceID\n    }\n\nmsg.payload = payload;\n\n/* HTTP Header:\nif you have binary (non-alphanumeric) data \n(or a significantly sized payload) to transmit, \nuse multipart/form-data. Otherwise, use \napplication/x-www-form-urlencoded.\n*/\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":592.9500732421875,"y":775.2166748046875,"wires":[[]]},{"id":"ec5bf90c.7feb6","type":"comment","z":"249aeb13.444e84","name":"Testing the Agent Interface via predefined XML data","info":"","x":209.13327026367188,"y":1443.2166748046875,"wires":[]},{"id":"4b57b51e.d46d24","type":"http request","z":"249aeb13.444e84","name":"Endpoint of Planning","method":"PUT","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":1099.566650390625,"y":638.61669921875,"wires":[["c313038c.fe74b"]]},{"id":"c313038c.fe74b","type":"json","z":"249aeb13.444e84","name":"Javascript - JSON Convert","property":"payload","action":"","pretty":false,"x":1334.066650390625,"y":637.61669921875,"wires":[[]]},{"id":"e700545d.62911","type":"comment","z":"249aeb13.444e84","name":"Planning Interface","info":"","x":1090.566650390625,"y":596.61669921875,"wires":[]},{"id":"53c81336.ed4304","type":"http request","z":"249aeb13.444e84","name":"Endpoint of Planning","method":"PUT","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":1101.566650390625,"y":739.61669921875,"wires":[["49fe3ba7.566734"]]},{"id":"49fe3ba7.566734","type":"json","z":"249aeb13.444e84","name":"Javascript - JSON Convert","property":"payload","action":"","pretty":false,"x":1336.066650390625,"y":738.61669921875,"wires":[[]]},{"id":"934496e7.c16c18","type":"inject","z":"249aeb13.444e84","name":"**TEST**Inject a FailureScheduling to Agent","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":202.11660766601562,"y":1534.4166259765625,"wires":[["6907a050.482d08"]]},{"id":"6907a050.482d08","type":"function","z":"249aeb13.444e84","name":"Payload_handler","func":"//msg.payload = msg.payload;\nreferenceID = flow.get(\"referenceID\");\npayload = {\n    \"referenceID\" : referenceID,\n    \"tuName\": \"TUEmden0\"\n}\nmsg.payload = payload;\n\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":805.2833251953125,"y":1534.3333740234375,"wires":[["4f086a87.cb297c"]]},{"id":"4f086a87.cb297c","type":"http request","z":"249aeb13.444e84","name":"scheduling_failure Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/erp-agent/scheduling_failure","tls":"","persist":false,"proxy":"","authType":"","x":1061.2835083007812,"y":1535.3333740234375,"wires":[[]]},{"id":"fdc88bff.4a8d3","type":"inject","z":"249aeb13.444e84","name":"**TEST**Inject a InformScheduling to Agent","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":197.11660766601562,"y":1481.4166259765625,"wires":[["6c2c422e.ad1cd4"]]},{"id":"6c2c422e.ad1cd4","type":"function","z":"249aeb13.444e84","name":"Payload_handler","func":"//msg.payload = msg.payload;\nreferenceID = flow.get(\"referenceID\");\npayload = {\n    \"referenceID\" : referenceID,\n    \"tuName\": \"TUEmden0\"\n}\nmsg.payload = payload;\n\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800.2833251953125,"y":1481.3333740234375,"wires":[["6b6f654b.5e02e4"]]},{"id":"6b6f654b.5e02e4","type":"http request","z":"249aeb13.444e84","name":"scheduling_inform Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/erp-agent/scheduling_inform","tls":"","persist":false,"proxy":"","authType":"","x":1061.283447265625,"y":1480.3333740234375,"wires":[[]]},{"id":"6db9f40c.ba296c","type":"xml","z":"249aeb13.444e84","name":"to JSON","property":"payload","attr":"","chr":"","x":375.1166687011719,"y":774.7166748046875,"wires":[["47502ea1.0cff"]]},{"id":"f18c232e.652d58","type":"function","z":"249aeb13.444e84","name":"Data from XML Interface","func":"msg.payload = msg.payload;\n\n/* HTTP Header:\nif you have binary (non-alphanumeric) data \n(or a significantly sized payload) to transmit, \nuse multipart/form-data. Otherwise, use \napplication/x-www-form-urlencoded.\n*/\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":594.11669921875,"y":741.7166748046875,"wires":[[]]},{"id":"5ac94cf6.d176ac","type":"function","z":"249aeb13.444e84","name":"Payload_handler","func":"var tuName = msg.payload.tuName || \"noNameSet\";\nvar referenceID = msg.payload.referenceID;\n\npayload = \n{\n\"tuName\": tuName,\n\"referenceID\": referenceID\n}\n\nmsg.payload = payload;\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":597.8499755859375,"y":961.0501098632812,"wires":[["ed54c8b.1b9f0b8"]]},{"id":"ed54c8b.1b9f0b8","type":"http request","z":"249aeb13.444e84","name":"scheduling_failure Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/erp-agent/scheduling_failure","tls":"","persist":false,"proxy":"","authType":"","x":1124.8502197265625,"y":960.0503540039062,"wires":[[]]},{"id":"3b8bf6bc.be022a","type":"function","z":"249aeb13.444e84","name":"Payload_handler","func":"var tuName = msg.payload.tuName || \"noNameSet\";\nvar referenceID = msg.payload.referenceID;\n\npayload = \n{\n\"tuName\": tuName,\n\"referenceID\": referenceID\n}\n\nmsg.payload = payload;\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":596.8499755859375,"y":878.0500640869141,"wires":[["b0c03820.40b438"]]},{"id":"b0c03820.40b438","type":"http request","z":"249aeb13.444e84","name":"scheduling_inform Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/erp-agent/scheduling_inform","tls":"","persist":false,"proxy":"","authType":"","x":1124.85009765625,"y":875.0501098632812,"wires":[[]]},{"id":"ebe3936e.2d7208","type":"http in","z":"249aeb13.444e84","name":"","url":"/erp-agent/scheduling_inform","method":"put","upload":false,"swaggerDoc":"","x":187.85000610351562,"y":878.2498931884766,"wires":[["cdf0b2cf.5964e8","3b8bf6bc.be022a"]]},{"id":"2be9a3ba.f24bcc","type":"http in","z":"249aeb13.444e84","name":"","url":"/erp-agent/scheduling_failure","method":"put","upload":false,"swaggerDoc":"","x":184.85000610351562,"y":961.2499389648438,"wires":[["e4b173b5.8ff508","5ac94cf6.d176ac"]]},{"id":"e4b173b5.8ff508","type":"http response","z":"249aeb13.444e84","name":"Response","statusCode":"","headers":{},"x":246.85000610351562,"y":1000.2499847412109,"wires":[]},{"id":"cdf0b2cf.5964e8","type":"http response","z":"249aeb13.444e84","name":"Response","statusCode":"","headers":{},"x":247.14999389648438,"y":913.2499389648438,"wires":[]},{"id":"3d0294f1.345cec","type":"comment","z":"249aeb13.444e84","name":"1.4 Receiving Answers from Planning System (Node-RED <-- Planning)","info":"","x":261.1166687011719,"y":836.5666046142578,"wires":[]},{"id":"df35595b.e56b6","type":"comment","z":"249aeb13.444e84","name":"1. Scheduling Process","info":"","x":127.11666870117188,"y":84.11666870117188,"wires":[]},{"id":"1fb1eb53.24102d","type":"comment","z":"249aeb13.444e84","name":"2. LoadTimeWindowsShare-Procoess","info":"","x":180.11666870117188,"y":1659.11669921875,"wires":[]},{"id":"413f2ae7.26e4fc","type":"http in","z":"249aeb13.444e84","name":"","url":"/erp-agent/loadTimeWindows_request","method":"put","upload":false,"swaggerDoc":"","x":190.11666870117188,"y":1740.1168212890625,"wires":[["66472cd6.ad5154","e197e053.ee3818"]]},{"id":"66472cd6.ad5154","type":"http response","z":"249aeb13.444e84","name":"Response","statusCode":"","headers":{},"x":292.1166687011719,"y":1777.1168212890625,"wires":[]},{"id":"e197e053.ee3818","type":"function","z":"249aeb13.444e84","name":"Payload_handler","func":"var loadTimeWindowsReference = msg.payload.loadTimeWindowsReference;\n\n\npayload = \n{\"loadTimeWindowsReference\" : loadTimeWindowsReference};\n\nmsg.payload = payload;\n\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":751.7501220703125,"y":1740.4171142578125,"wires":[["cc4760ff.3755"]]},{"id":"cc4760ff.3755","type":"http request","z":"249aeb13.444e84","name":"loadTimeWindows_request Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/erp-agent/loadTimeWindows_request","tls":"","persist":false,"proxy":"","authType":"","x":1136.750244140625,"y":1738.4171142578125,"wires":[[]]},{"id":"e945b187.8d72b8","type":"comment","z":"249aeb13.444e84","name":"2.1 Requesting the VPP to share the LoadTimeWindows (Node-RED <-- Planning)","info":"","x":319.1166687011719,"y":1697.11669921875,"wires":[]},{"id":"cdcbddf3.477838","type":"function","z":"249aeb13.444e84","name":"Payload_handler","func":"payload = {\"loadTimeWindowsReference\" : \"Tariff22\"};\nmsg.payload = payload;\n\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":727.7501220703125,"y":2025.51708984375,"wires":[["c8b63260.1661d"]]},{"id":"c8b63260.1661d","type":"http request","z":"249aeb13.444e84","name":"loadTimeWindows_request Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/erp-agent/loadTimeWindows_request","tls":"","persist":false,"proxy":"","authType":"","x":1013.7501831054688,"y":2025.51708984375,"wires":[[]]},{"id":"efb75177.c090c8","type":"comment","z":"249aeb13.444e84","name":"********** TESTING *************","info":"//*****Example payload description *****//\n{ \nreference: \"tariff22\" \n}","x":160.11666870117188,"y":1992.31689453125,"wires":[]},{"id":"58c7c3e4.b58f74","type":"inject","z":"249aeb13.444e84","name":"**TEST**Inject a Request LoadTimeWindows to Agent","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":229.11666870117188,"y":2026.11669921875,"wires":[["cdcbddf3.477838"]]},{"id":"5ed850ef.02f9e","type":"comment","z":"249aeb13.444e84","name":"2.2 Receiving the LoadTimeWindows (Node-RED --> Planning)","info":"","x":254.11666870117188,"y":1839.14990234375,"wires":[]},{"id":"40e7819d.e116e8","type":"http in","z":"249aeb13.444e84","name":"","url":"/erp/loadTimeWindows_inform","method":"put","upload":false,"swaggerDoc":"","x":164.11666870117188,"y":1879.25,"wires":[["49b9d8dd.06b6e8","e0ec2ab8.7cb6d"]]},{"id":"49b9d8dd.06b6e8","type":"http response","z":"249aeb13.444e84","name":"Response","statusCode":"","headers":{},"x":244.11666870117188,"y":1918.25,"wires":[]},{"id":"bc5d7ca7.1db55","type":"function","z":"249aeb13.444e84","name":"Data from JSON Interface","func":"var loadTimeWindowsReference = msg.payload.InterfacePayloadLoadTimeWindows.loadTimeWindowsReference[0];\nvar windowHighBegin = msg.payload.InterfacePayloadLoadTimeWindows.windowHighBegin[0];\nvar windowHighEnd = msg.payload.InterfacePayloadLoadTimeWindows.windowHighEnd[0];\nvar windowLowBegin = msg.payload.InterfacePayloadLoadTimeWindows.windowLowBegin[0];\nvar windowLowEnd = msg.payload.InterfacePayloadLoadTimeWindows.windowLowEnd[0];\n\nmsg.payload = {\n    \"loadTimeWindowsReference\" : loadTimeWindowsReference,\n    \"windowHighBegin\" : windowHighBegin,\n    \"windowHighEnd\" : windowHighEnd,\n    \"windowLowBegin\" : windowLowBegin,\n    \"windowLowEnd\" : windowLowEnd\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":592.9500732421875,"y":1881.94970703125,"wires":[[]]},{"id":"e0ec2ab8.7cb6d","type":"xml","z":"249aeb13.444e84","name":"to JSON","property":"payload","attr":"","chr":"","x":398.9500427246094,"y":1882.2000122070312,"wires":[["bc5d7ca7.1db55"]]},{"id":"92a4b154.fbd958","type":"http request","z":"249aeb13.444e84","name":"Endpoint of Planning","method":"PUT","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":1082.566650390625,"y":1879.3502197265625,"wires":[["13adb11f.037e3f"]]},{"id":"13adb11f.037e3f","type":"json","z":"249aeb13.444e84","name":"Javascript - JSON Convert","property":"payload","action":"","pretty":false,"x":1311.066650390625,"y":1879.3502197265625,"wires":[[]]},{"id":"61077878.886ce","type":"comment","z":"249aeb13.444e84","name":"Planning Interface","info":"","x":1072.11669921875,"y":1839.2501220703125,"wires":[]},{"id":"2074a0d4.a445d8","type":"comment","z":"249aeb13.444e84","name":"Payload description (JSON)","info":"//*****Example payload description *****//\n{ \n    loadTimeWindowsReference : \"Tariff22\",\n    windowHighBegin : \"2020-02-18 05:00:00.0\",\n    windowHighEnd : \"2020-02-18 07:00:00.0\",\n    windowLowBegin : \"2020-08-18 05:00:00.0\",\n    windowLowEnd : \"2020-08-18 07:00:00.0\"\n}","x":852.13330078125,"y":1882.3502197265625,"wires":[]},{"id":"a2da4710.b0155","type":"comment","z":"249aeb13.444e84","name":"JADE Interface (TU-Agent)","info":"","x":1111.2667236328125,"y":313.56671142578125,"wires":[]},{"id":"a570ea95.370248","type":"comment","z":"249aeb13.444e84","name":"Payload description (JSON)","info":"<InterfacePayloadPlanning>\n    <schedulingStart>2021-02-05 12:00:00</schedulingStart>\n    <schedulingEnd>2021-02-05 13:00:00</schedulingEnd>\n    <expiration>empty</expiration>\n    <referenceID>scheduling-1</referenceID>\n</InterfacePayloadPlanning>","x":845,"y":644,"wires":[]},{"id":"df9e8334.57c338","type":"comment","z":"249aeb13.444e84","name":"Payload description (JSON)","info":"<InterfacePayloadPlanning>\n    <schedulingStart>empty</schedulingStart>\n    <schedulingEnd>empty</schedulingEnd>\n    <expiration>empty</expiration>\n    <referenceID>scheduling-1</referenceID>\n</InterfacePayloadPlanning>","x":849,"y":743,"wires":[]},{"id":"94b9338b.7d1b3","type":"comment","z":"249aeb13.444e84","name":"JADE Interface (TU-Agent)","info":"","x":1116,"y":837,"wires":[]},{"id":"c468ffae.355d2","type":"comment","z":"249aeb13.444e84","name":"JADE Interface (TU-Agent)","info":"","x":1096,"y":1698.199951171875,"wires":[]},{"id":"109b0bdd.a32c24","type":"comment","z":"249aeb13.444e84","name":"Payload description (JSON)","info":"<InterfacePayloadPlanning>\n    <schedulingStart>2021-02-05 12:00:00</schedulingStart>\n    <schedulingEnd>2021-02-05 13:00:00</schedulingEnd>\n    <expiration>2021-02-04 22:00:00</expiration>\n    <referenceID>scheduling-1</referenceID>\n</InterfacePayloadPlanning>\"","x":863,"y":163,"wires":[]},{"id":"70e7a78d.5095","type":"comment","z":"249aeb13.444e84","name":"Payload description (JSON)","info":"{\n    schedulingStart: \"2021-02-05 12:00:00\",\n    schedulingEnd: \"2021-02-05 13:00:00\",\n    referenceID: \"scheduling-1\"\n}","x":845,"y":681,"wires":[]},{"id":"1b39d02a.12026","type":"comment","z":"249aeb13.444e84","name":"Payload description (JSON)","info":"{\n    referenceID: \"scheduling-1\"\n}","x":849,"y":778,"wires":[]},{"id":"af8854ba.ca6638","type":"comment","z":"249aeb13.444e84","name":"****************************************** TESTING FOR THE SECTION ABOVE ********************************************","info":"","x":422.9999694824219,"y":1072,"wires":[]},{"id":"57d594c.9fa8a6c","type":"comment","z":"249aeb13.444e84","name":"****************************************** SCHEDULING ********************************************","info":"","x":335.8500061035156,"y":47.849998474121094,"wires":[]},{"id":"235cfdb7.737762","type":"function","z":"249aeb13.444e84","name":"Payload_handler","func":"var tuName = msg.payload.tuName || \"noNameSet\";\nvar referenceID = msg.payload.referenceID;\n\npayload = \n{\n\"tuName\": tuName,\n\"referenceID\": referenceID\n}\n\nmsg.payload = payload;\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":613.9999694824219,"y":2237.800048828125,"wires":[["de53aec2.048638"]]},{"id":"de53aec2.048638","type":"http request","z":"249aeb13.444e84","name":"cancelOperation_inform Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/erp-agent/cancelOperation_inform","tls":"","persist":false,"proxy":"","authType":"","x":1162.0000915527344,"y":2234.800094604492,"wires":[[]]},{"id":"9cbde1b9.206c9","type":"http in","z":"249aeb13.444e84","name":"","url":"/erp-agent/cancelOperation_inform","method":"put","upload":false,"swaggerDoc":"","x":215,"y":2237.9998779296875,"wires":[["18a92b3a.ad498d","235cfdb7.737762"]]},{"id":"18a92b3a.ad498d","type":"http response","z":"249aeb13.444e84","name":"Response","statusCode":"","headers":{},"x":264.29998779296875,"y":2272.9999237060547,"wires":[]},{"id":"667fef95.0cf1a8","type":"comment","z":"249aeb13.444e84","name":"3.1 Receiving Cancel for a specific operation from the Planning System (Node-RED <-- Planning)","info":"","x":375.26666259765625,"y":2196.3165893554688,"wires":[]},{"id":"61181f57.397ed","type":"comment","z":"249aeb13.444e84","name":"JADE Interface (TU-Agent)","info":"","x":1133.1499938964844,"y":2196.749984741211,"wires":[]},{"id":"4d3b1d0d.db493c","type":"comment","z":"249aeb13.444e84","name":"3.2 Receiving confirmation of the operation cancel from VPP (Node-RED --> Planning)","info":"","x":347.8500061035156,"y":2338.800048828125,"wires":[]},{"id":"527b9970.65878","type":"http in","z":"249aeb13.444e84","name":"","url":"/erp/cancelOperation_confirm","method":"put","upload":false,"swaggerDoc":"","x":187.85000610351562,"y":2378.900146484375,"wires":[["8bcc2313.bf0208","684ff720.fcb33"]]},{"id":"8bcc2313.bf0208","type":"http response","z":"249aeb13.444e84","name":"Response","statusCode":"","headers":{},"x":267.8500061035156,"y":2417.900146484375,"wires":[]},{"id":"815de307.50e7a8","type":"function","z":"249aeb13.444e84","name":"Data from JSON Interface","func":"var tuName = msg.payload.InterfacePayloadAgentReference.tuName.toString();\nvar referenceID = msg.payload.InterfacePayloadAgentReference.referenceID.toString();\n\npayload = \n{\n\"tuName\" : tuName,\n\"referenceID\" : referenceID\n}\nmsg.payload = payload;\n\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":616.6834106445312,"y":2381.599853515625,"wires":[[]]},{"id":"684ff720.fcb33","type":"xml","z":"249aeb13.444e84","name":"to JSON","property":"payload","attr":"","chr":"","x":422.6833801269531,"y":2381.8501586914062,"wires":[["815de307.50e7a8"]]},{"id":"61ef07c5.9031a8","type":"http request","z":"249aeb13.444e84","name":"Endpoint of Planning","method":"PUT","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":1106.2999877929688,"y":2379.0003662109375,"wires":[["6aafa77f.e1dd68"]]},{"id":"6aafa77f.e1dd68","type":"json","z":"249aeb13.444e84","name":"Javascript - JSON Convert","property":"payload","action":"","pretty":false,"x":1334.7999877929688,"y":2379.0003662109375,"wires":[[]]},{"id":"3cdecb16.1d80dc","type":"comment","z":"249aeb13.444e84","name":"Planning Interface","info":"","x":1095.8500366210938,"y":2338.9002685546875,"wires":[]},{"id":"90e6f261.bdb36","type":"comment","z":"249aeb13.444e84","name":"Payload description (JSON)","info":"//*****Example payload description *****//\n{ \n    tuName : \"TuCompanyEmden01\",\n    referenceID : \"schedulingOperation344Cancelled\"\n}","x":875.8666381835938,"y":2382.0003662109375,"wires":[]},{"id":"57893cde.f4f19c","type":"comment","z":"249aeb13.444e84","name":"****************************************** Cancel Operation********************************************","info":"","x":359.8500061035156,"y":2161.64990234375,"wires":[]},{"id":"28c50d22.65ccf2","type":"comment","z":"249aeb13.444e84","name":"****************************************** Load Time Windows Sharing *******************************************","info":"","x":399.8500061035156,"y":1623.25,"wires":[]},{"id":"d48495e.197bc68","type":"function","z":"249aeb13.444e84","name":"Payload_handler","func":"var tuName = msg.payload.tuName || \"noNameSet\";\nvar referenceID = msg.payload.referenceID;\n\npayload = \n{\n\"tuName\": \"TU_Company1_MRL\",\n\"referenceID\": \"abortSchedulingRef344\"\n}\n\nmsg.payload = payload;\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":674,"y":2280.33349609375,"wires":[["de53aec2.048638"]]},{"id":"692320b2.9d48f","type":"inject","z":"249aeb13.444e84","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":499.5,"y":2284,"wires":[["d48495e.197bc68"]]},{"id":"80ebddb3.ddc2d8","type":"function","z":"249aeb13.444e84","name":"Payload_handler","func":"var tuName = msg.payload.tuName || \"noNameSet\";\nvar referenceID = msg.payload.referenceID;\n\npayload = \n{\n\"tuName\": tuName,\n\"referenceID\": referenceID\n}\n\nmsg.payload = payload;\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650.1499328613281,"y":2695.1998901367188,"wires":[["f85f86ed.c3edf"]]},{"id":"f85f86ed.c3edf","type":"http request","z":"249aeb13.444e84","name":"cancelOperation_confirm Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/erp-agent/cancelOperation_confirm","tls":"","persist":false,"proxy":"","authType":"","x":1196.1500396728516,"y":2693.2000579833984,"wires":[[]]},{"id":"936fe352.6cbd9","type":"http in","z":"249aeb13.444e84","name":"","url":"/erp-agent/cancelOperation_confirm","method":"put","upload":false,"swaggerDoc":"","x":210.1499481201172,"y":2696.3998413085938,"wires":[["1f2aab54.87dac5","80ebddb3.ddc2d8"]]},{"id":"1f2aab54.87dac5","type":"http response","z":"249aeb13.444e84","name":"Response","statusCode":"","headers":{},"x":209.44992065429688,"y":2732.4000854492188,"wires":[]},{"id":"20621d0a.70693a","type":"comment","z":"249aeb13.444e84","name":"4.1 Receiving Cancel for a specific operation from the a TU Agent (Planning <-- Node-RED","info":"","x":355.4166564941406,"y":2545.7166748046875,"wires":[]},{"id":"89ae9dc3.6d67a","type":"comment","z":"249aeb13.444e84","name":"JADE Interface ","info":"","x":1137.3000183105469,"y":2659.1500854492188,"wires":[]},{"id":"fcc75a10.4f76e","type":"comment","z":"249aeb13.444e84","name":"4.2 Sending confirmation or failure of the operation cancel fto the Agent (Planning --> Node-RED)","info":"","x":380.00001525878906,"y":2658.2001342773438,"wires":[]},{"id":"83de5054.6596c8","type":"http in","z":"249aeb13.444e84","name":"","url":"/erp/cancelOperation_inform","method":"put","upload":false,"swaggerDoc":"","x":177,"y":2581.3002319335938,"wires":[["7412b3dc.1d6a24","b3c76a56.57f4b"]]},{"id":"7412b3dc.1d6a24","type":"http response","z":"249aeb13.444e84","name":"Response","statusCode":"","headers":{},"x":207,"y":2618.2999877929688,"wires":[]},{"id":"df1b2507.7760c","type":"function","z":"249aeb13.444e84","name":"Payload_handler","func":"var tuName = msg.payload.InterfacePayloadAgentReference.tuName.toString();\nvar referenceID = msg.payload.InterfacePayloadAgentReference.referenceID.toString();\n\npayload = \n{\n\"tuName\" : tuName,\n\"referenceID\" : referenceID\n}\nmsg.payload = payload;\n\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":649.8334045410156,"y":2584.0001831054688,"wires":[[]]},{"id":"b3c76a56.57f4b","type":"xml","z":"249aeb13.444e84","name":"to JSON","property":"payload","attr":"","chr":"","x":485.8333435058594,"y":2583.2501831054688,"wires":[["df1b2507.7760c"]]},{"id":"eb88c66a.ff742","type":"comment","z":"249aeb13.444e84","name":"Payload description (JSON)","info":"//*****Example payload description *****//\n{ \n    tuName : \"TuCompanyEmden01\",\n    referenceID : \"schedulingOperation344Cancelled\"\n}","x":919.0166320800781,"y":2585.4005737304688,"wires":[]},{"id":"cafe5ea2.a36c6","type":"inject","z":"249aeb13.444e84","name":"***test: inject a Confirm***","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":192.99996948242188,"y":2771.5333862304688,"wires":[["53c8cfb8.181c38"]]},{"id":"53c8cfb8.181c38","type":"function","z":"249aeb13.444e84","name":"Payload_handler","func":"var tuName = msg.payload.tuName || \"noNameSet\";\nvar referenceID = msg.payload.referenceID;\n\npayload = \n{\n\"tuName\": \"TU_Company1_MRL\",\n\"referenceID\": \"abortSchedulingRef344\"\n}\n\nmsg.payload = payload;\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":652.9999694824219,"y":2769.5333862304688,"wires":[["f85f86ed.c3edf"]]},{"id":"39f96665.5775ba","type":"http request","z":"249aeb13.444e84","name":"Endpoint of Planning","method":"PUT","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":1160.8499755859375,"y":2585.1998901367188,"wires":[[]]},{"id":"d3a5bd47.fdad","type":"comment","z":"249aeb13.444e84","name":"Planning Interface","info":"","x":1150.8499755859375,"y":2552.1998901367188,"wires":[]},{"id":"77cda8f.02fb4d8","type":"http in","z":"249aeb13.444e84","name":"","url":"/erp/requestInfo","method":"get","upload":false,"swaggerDoc":"","x":144.66668701171875,"y":3120.666748046875,"wires":[["9a70f535.1872e8"]]},{"id":"6da8ac2d.0d6ddc","type":"http response","z":"249aeb13.444e84","name":"Response","statusCode":"","headers":{},"x":847.6666564941406,"y":3120.666748046875,"wires":[]},{"id":"402955e8.5b7c54","type":"function","z":"249aeb13.444e84","name":"Payload_handler","func":"msg.payload = msg.payload;\nmsg.headers = {'content-type':'application/octet-stream'};\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660.6666564941406,"y":3120.666748046875,"wires":[["6da8ac2d.0d6ddc"]]},{"id":"3a82af35.2c6f98","type":"http in","z":"249aeb13.444e84","name":"","url":"/erp-agent/requestInfo","method":"put","upload":false,"swaggerDoc":"","x":166.9833221435547,"y":2973.6666870117188,"wires":[["e5fdf7c5.69c0f","651709d2.673e68"]]},{"id":"e5fdf7c5.69c0f","type":"http response","z":"249aeb13.444e84","name":"Response","statusCode":"","headers":{},"x":206.71664428710938,"y":3009.300048828125,"wires":[]},{"id":"651709d2.673e68","type":"http request","z":"249aeb13.444e84","name":"requestInfos Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/erp-agent/requestInfo","tls":"","persist":false,"proxy":"","authType":"basic","x":1123.8666076660156,"y":2969.4501342773438,"wires":[[]]},{"id":"5f939e65.828db8","type":"http in","z":"249aeb13.444e84","name":"","url":"/erp/requestInfoData","method":"put","upload":false,"swaggerDoc":"","x":153.66665649414062,"y":3046.5667114257812,"wires":[["d14e94ad.dc6238","b6b23cbe.1271e8"]]},{"id":"d14e94ad.dc6238","type":"http response","z":"249aeb13.444e84","name":"Response","statusCode":"","headers":{},"x":197.7833251953125,"y":3082.5667724609375,"wires":[]},{"id":"b6b23cbe.1271e8","type":"function","z":"249aeb13.444e84","name":"Payload_handler","func":"var dataName = \"InfoSet\";\n//filename needed for \"file node\", if you want to locally save the file\nmsg.filename = 'C:/Users/Woltmann/Desktop/VPP_Folder/'+dataName+'.xml';\nmsg.payload = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":673.6164855957031,"y":3045.1663818359375,"wires":[[]]},{"id":"7b388800.375908","type":"http request","z":"249aeb13.444e84","name":"Endpoint of ERP","method":"PUT","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":1117.9665832519531,"y":3044.4666748046875,"wires":[[]]},{"id":"64c26034.8e2f","type":"inject","z":"249aeb13.444e84","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":476.2833557128906,"y":3008.4666748046875,"wires":[["651709d2.673e68"]]},{"id":"e9908fb9.c8e238","type":"comment","z":"249aeb13.444e84","name":"**************** 5 Requesting Agent Info Sequence**************","info":"","x":262.6666564941406,"y":2936.666748046875,"wires":[]},{"id":"9a70f535.1872e8","type":"template","z":"249aeb13.444e84","name":"INSERT AGENT INFO HERE","field":"payload","fieldType":"msg","format":"text","syntax":"plain","template":"<operation>\n    <name>\"AGENT\"</name>\n    <info>\"ABC\"</info>\n</operation>","output":"str","x":406.6666259765625,"y":3120.666748046875,"wires":[["402955e8.5b7c54"]]},{"id":"c638e3e.26af82","type":"comment","z":"249aeb13.444e84","name":"Payload description (JSON)","info":"//*****Example payload description *****//\nno payload intended, automatically requests all available VPP Agents","x":519.6666564941406,"y":2976.666748046875,"wires":[]},{"id":"17f2a528.d6b0c3","type":"comment","z":"249aeb13.444e84","name":"Payload description (JSON)","info":"//*****Example payload description *****//\n<operation>\n    <name>\"ENERGYCONSUMPTIONPROFILE\"</name>\n    <tuID>\"testTUHSEMD\"</tuID>\n    <energyRange>\n        <from>\"6000\"</from>\n        <till>\"22000\"</till>\n    </energyRange>\n</operation>","x":898.6666564941406,"y":3046.666748046875,"wires":[]},{"id":"e6ddaf40.83549","type":"function","z":"249aeb13.444e84","name":"Payload_handler","func":"var tuName = msg.payload.tuName || \"noNameSet\";\nvar referenceID = msg.payload.referenceID;\n\npayload = \n{\n\"tuName\": tuName,\n\"referenceID\": referenceID\n}\n\nmsg.payload = payload;\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":648.1499633789062,"y":2811.6832885742188,"wires":[["8152d9b9.044e5"]]},{"id":"8152d9b9.044e5","type":"http request","z":"249aeb13.444e84","name":"cancelOperation_failure Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/erp-agent/cancelOperation_failure","tls":"","persist":false,"proxy":"","authType":"","x":1194.1500701904297,"y":2809.6834564208984,"wires":[[]]},{"id":"fc89c9f6.f1417","type":"http in","z":"249aeb13.444e84","name":"","url":"/erp-agent/cancelOperation_failure","method":"put","upload":false,"swaggerDoc":"","x":198.1499786376953,"y":2812.8832397460938,"wires":[["da608014.6f2ae","e6ddaf40.83549"]]},{"id":"da608014.6f2ae","type":"http response","z":"249aeb13.444e84","name":"Response","statusCode":"","headers":{},"x":207.449951171875,"y":2848.8834838867188,"wires":[]},{"id":"e0d3fd20.7c9f98","type":"inject","z":"249aeb13.444e84","name":"***test: inject a Confirm***","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":191,"y":2888.0167846679688,"wires":[["3c6c245e.62b624"]]},{"id":"3c6c245e.62b624","type":"function","z":"249aeb13.444e84","name":"Payload_handler","func":"var tuName = msg.payload.tuName || \"noNameSet\";\nvar referenceID = msg.payload.referenceID;\n\npayload = \n{\n\"tuName\": \"TU_Company1_MRL\",\n\"referenceID\": \"abortSchedulingRef344\"\n}\n\nmsg.payload = payload;\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":651,"y":2886.0167846679688,"wires":[["8152d9b9.044e5"]]},{"id":"eb721194.81a62","type":"http in","z":"249aeb13.444e84","name":"","url":"/erp/cancelOperation_failure","method":"put","upload":false,"swaggerDoc":"","x":175.85000610351562,"y":2454.64990234375,"wires":[["67b5c44c.38bf84","be3d2d4e.feae58"]]},{"id":"67b5c44c.38bf84","type":"http response","z":"249aeb13.444e84","name":"Response","statusCode":"","headers":{},"x":265.8500061035156,"y":2493.64990234375,"wires":[]},{"id":"8ef401ff.50f15","type":"function","z":"249aeb13.444e84","name":"Data from JSON Interface","func":"var tuName = msg.payload.InterfacePayloadAgentReference.tuName.toString();\nvar referenceID = msg.payload.InterfacePayloadAgentReference.referenceID.toString();\n\npayload = \n{\n\"tuName\" : tuName,\n\"referenceID\" : referenceID\n}\nmsg.payload = payload;\n\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":614.6834106445312,"y":2457.349609375,"wires":[[]]},{"id":"be3d2d4e.feae58","type":"xml","z":"249aeb13.444e84","name":"to JSON","property":"payload","attr":"","chr":"","x":420.6833801269531,"y":2457.5999145507812,"wires":[["8ef401ff.50f15"]]},{"id":"2d20f9df.46cb36","type":"http request","z":"249aeb13.444e84","name":"Endpoint of Planning","method":"PUT","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":1104.2999877929688,"y":2454.7501220703125,"wires":[["268060a5.7924f"]]},{"id":"268060a5.7924f","type":"json","z":"249aeb13.444e84","name":"Javascript - JSON Convert","property":"payload","action":"","pretty":false,"x":1332.7999877929688,"y":2454.7501220703125,"wires":[[]]},{"id":"623e5a2.4d804a4","type":"comment","z":"249aeb13.444e84","name":"Payload description (JSON)","info":"//*****Example payload description *****//\n{ \n    tuName : \"TuCompanyEmden01\",\n    referenceID : \"schedulingOperation344Cancelled\"\n}","x":873.8666381835938,"y":2457.7501220703125,"wires":[]}]