Node-RED/TU-Agent-EMS.txt
[{"id":"43429a7f.e2c06c","type":"tab","label":"TU-Agent - EMS","disabled":false,"info":""},{"id":"40b404ed.66b1bc","type":"http request","z":"43429a7f.e2c06c","name":"accounting_energyConsumptionProfile Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/ems-agent/accounting_energyConsumptionProfile","tls":"","persist":false,"proxy":"","authType":"","x":1146.7334594726562,"y":163.78346252441406,"wires":[[]]},{"id":"7f7a279b.c86d5","type":"http in","z":"43429a7f.e2c06c","name":"","url":"/ems-agent/accounting_energyConsumptionProfile","method":"put","upload":false,"swaggerDoc":"","x":225.73333740234375,"y":164.98329162597656,"wires":[["a3a68938.bc1e28","e3377e77.512f88"]]},{"id":"a3a68938.bc1e28","type":"http response","z":"43429a7f.e2c06c","name":"Response","statusCode":"","headers":{},"x":357.0333251953125,"y":200.98341369628906,"wires":[]},{"id":"be6ca6f2.a38be","type":"comment","z":"43429a7f.e2c06c","name":"1. Sending the Energy-Consumption-Profile to the VPP (Node-RED <-- EMS)","info":"","x":295,"y":123.30000305175781,"wires":[]},{"id":"e3377e77.512f88","type":"function","z":"43429a7f.e2c06c","name":"Payload_handler","func":"msg.payload = msg.payload;\nmsg.headers = {'content-type':'application/octet-stream'};\nreturn msg;\n\n\n//msg.payload = '<?xml version=\"1.0\" encoding=\"UTF-8\"?><userRequest<authentication><username>foo</username><password>bar</password></authentication><action>doit</action></userRequest>';\n//msg.headers = {};\n//msg.headers['content-type'] = 'application/xml';","outputs":1,"noerr":0,"initialize":"","finalize":"","x":739.0499877929688,"y":163.99993896484375,"wires":[["40b404ed.66b1bc"]]},{"id":"e3f11434.578bb8","type":"comment","z":"43429a7f.e2c06c","name":"Communication direction: Node-RED --> ERP","info":"","x":184,"y":482,"wires":[]},{"id":"69e6107c.a2eba8","type":"comment","z":"43429a7f.e2c06c","name":"Receiving Inform (ECP has been transmitted) from VPP","info":"","x":214.11666870117188,"y":518.1000366210938,"wires":[]},{"id":"bd74e65b.949068","type":"http in","z":"43429a7f.e2c06c","name":"","url":"/ems/accounting_ecpReceived","method":"put","upload":false,"swaggerDoc":"","x":159.11666870117188,"y":568,"wires":[["11d9009f.ace6cf","86669963.a95af8"]]},{"id":"11d9009f.ace6cf","type":"http response","z":"43429a7f.e2c06c","name":"Response","statusCode":"","headers":{},"x":178.11666870117188,"y":611,"wires":[]},{"id":"484fe684.a1dd98","type":"function","z":"43429a7f.e2c06c","name":"Payload_handler","func":"var tuName = msg.payload.InterfacePayloadAgentReference.tuName[0];\nvar referenceID = msg.payload.InterfacePayloadAgentReference.referenceID[0];\n\nmsg.payload = {\n    \"tuName\" : tuName,\n    \"referenceID\" : referenceID\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":586.9500732421875,"y":567.7000122070312,"wires":[[]]},{"id":"86669963.a95af8","type":"xml","z":"43429a7f.e2c06c","name":"to JSON","property":"payload","attr":"","chr":"","x":412.9500427246094,"y":567.9500122070312,"wires":[["484fe684.a1dd98"]]},{"id":"c9bb9301.bf30e","type":"http request","z":"43429a7f.e2c06c","name":"Endpoint of EMS","method":"PUT","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":1046.566650390625,"y":568.1000366210938,"wires":[["79ecfcda.4492b4"]]},{"id":"79ecfcda.4492b4","type":"json","z":"43429a7f.e2c06c","name":"Javascript - JSON Convert","property":"payload","action":"","pretty":false,"x":1283.066650390625,"y":568.1000366210938,"wires":[[]]},{"id":"31dcb7b2.6e9758","type":"comment","z":"43429a7f.e2c06c","name":"EMS Endpoint","info":"","x":1027.566650390625,"y":515.1000366210938,"wires":[]},{"id":"2af4749c.f71b94","type":"comment","z":"43429a7f.e2c06c","name":"***Value Simulation for this part***","info":"","x":158.11666870117188,"y":332.2166748046875,"wires":[]},{"id":"d56f925.00c6e7","type":"http request","z":"43429a7f.e2c06c","name":"accounting_energyConsumptionProfileUploaded Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/ems-agent/accounting_energyConsumptionProfileUploaded","tls":"","persist":false,"proxy":"","authType":"","x":1177,"y":237,"wires":[[]]},{"id":"c5f76bb0.6a5048","type":"function","z":"43429a7f.e2c06c","name":"Payload_handler","func":"msg.payload = msg.payload;\nmsg.headers = {'content-type':'application/octet-stream'};\nreturn msg;\n\n\n//msg.payload = '<?xml version=\"1.0\" encoding=\"UTF-8\"?><userRequest<authentication><username>foo</username><password>bar</password></authentication><action>doit</action></userRequest>';\n//msg.headers = {};\n//msg.headers['content-type'] = 'application/xml';","outputs":1,"noerr":0,"initialize":"","finalize":"","x":741.11669921875,"y":373.89996337890625,"wires":[["147f9215.71b9ae"]]},{"id":"4a5db852.57fbc8","type":"inject","z":"43429a7f.e2c06c","name":"**TEST**Inject a predefined XML to Agent","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"a\":1}","payloadType":"str","x":199.11666870117188,"y":375.3999328613281,"wires":[["d08471fa.78907"]]},{"id":"d08471fa.78907","type":"template","z":"43429a7f.e2c06c","name":"**TEST**XML-Template","field":"payload","fieldType":"msg","format":"text","syntax":"plain","template":"<operation>\n    <name>\"ENERGYCONSUMPTIONPROFILE\"</name>\n    <tuID>\"TU_Company1_MRL\"</tuID>\n    <energyRange>\n        <from>\"6000\"</from>\n        <till>\"22000\"</till>\n    </energyRange>\n</operation>","output":"str","x":508.1166687011719,"y":375.3999328613281,"wires":[["c5f76bb0.6a5048"]]},{"id":"9e508df5.6bc378","type":"function","z":"43429a7f.e2c06c","name":"Payload_handler","func":"payload = {\"tuName\" : \"TU_Company1_MRL\",\n    \"referenceID\" : \"testID123\"\n}\nmsg.payload = payload;\n\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":742.11669921875,"y":414.4999084472656,"wires":[["4d8d2c86.75022c"]]},{"id":"38db7ae2.7bae2e","type":"inject","z":"43429a7f.e2c06c","name":"**TEST**Inject a schedulingPlanUploaded to Agent","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230.11666870117188,"y":415.3999328613281,"wires":[["9e508df5.6bc378"]]},{"id":"c4223ba8.e34ce8","type":"comment","z":"43429a7f.e2c06c","name":"****************************************** ACCOUNTING ********************************************","info":"","x":345.1166687011719,"y":63.116668701171875,"wires":[]},{"id":"a7508a94.8a597","type":"comment","z":"43429a7f.e2c06c","name":"JADE Interface (TU-Agent)","info":"","x":1066.11669921875,"y":125.11666870117188,"wires":[]},{"id":"cfe2e23e.f10f28","type":"http in","z":"43429a7f.e2c06c","name":"","url":"/ems-agent/accounting_energyConsumptionProfileUploaded","method":"put","upload":false,"swaggerDoc":"","x":267,"y":237,"wires":[["3e2f082a.ad5288","87c1c66d.7d4a78"]]},{"id":"3e2f082a.ad5288","type":"http response","z":"43429a7f.e2c06c","name":"Response","statusCode":"","headers":{},"x":358.29998779296875,"y":273.0001220703125,"wires":[]},{"id":"1bb4d454.ec426c","type":"comment","z":"43429a7f.e2c06c","name":"1. Accounting Sequence","info":"","x":135,"y":94,"wires":[]},{"id":"147f9215.71b9ae","type":"http request","z":"43429a7f.e2c06c","name":"accounting_energyConsumptionProfile Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/ems-agent/accounting_energyConsumptionProfile","tls":"","persist":false,"proxy":"","authType":"","x":1145,"y":374,"wires":[[]]},{"id":"4d8d2c86.75022c","type":"http request","z":"43429a7f.e2c06c","name":"accounting_energyConsumptionProfileUploaded Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/ems-agent/accounting_energyConsumptionProfileUploaded","tls":"","persist":false,"proxy":"","authType":"","x":1176.2666015625,"y":413.216552734375,"wires":[[]]},{"id":"ce4b8c56.91e29","type":"comment","z":"43429a7f.e2c06c","name":"JADE Interface (TU-Agent)","info":"","x":1066,"y":341,"wires":[]},{"id":"a0de7af.9868b88","type":"comment","z":"43429a7f.e2c06c","name":"Payload description (JSON)","info":"//*****Example payload description *****//\n{ \n    tuName: \"TUEmdenCompany1\",\n    referenceID: \"testID123\"\n}","x":818,"y":570,"wires":[]},{"id":"87c1c66d.7d4a78","type":"function","z":"43429a7f.e2c06c","name":"Payload_handler","func":"var tuName = msg.payload.tuName;\nvar referenceID = msg.payload.referenceID;\n\npayload = \n{\n    \"tuName\" : tuName,\n    \"referenceID\" : referenceID\n}\n\nmsg.payload = payload;\n\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":738.8499755859375,"y":239.85000610351562,"wires":[["d56f925.00c6e7"]]}]