Node-RED/TU-Agent-TU.txt
[{"id":"80f5f744.445108","type":"tab","label":"TU-Agent - TU","disabled":false,"info":""},{"id":"5a4c63f9.04218c","type":"comment","z":"80f5f744.445108","name":"1.1 Receiving new setpoints or load profiles from agent (Node-RED --> TU)","info":"","x":288,"y":101,"wires":[]},{"id":"8a68fbfd.1c4f3","type":"http in","z":"80f5f744.445108","name":"","url":"/plc/control_newSetpoint","method":"put","upload":false,"swaggerDoc":"","x":150,"y":141,"wires":[["4acccf45.36cfc8","c47d0fb5.97a21","b3cda314.7f7f4"]]},{"id":"4acccf45.36cfc8","type":"http response","z":"80f5f744.445108","name":"Response","statusCode":"","headers":{},"x":211,"y":179,"wires":[]},{"id":"bf8eae57.5e5d68","type":"function","z":"80f5f744.445108","name":"Data from JSON Interface","func":"var newSetpoint = msg.payload.InterfacePayloadNewSetpoint.newSetpoint[0];\nvar tuName = msg.payload.InterfacePayloadNewSetpoint.tuName.toString();\n\npayload = \n{\n\"newSetpoint\" : newSetpoint,\n\"tuName\" : tuName\n}\nmsg.payload = payload;\n\n/* HTTP Header:\nif you have binary (non-alphanumeric) data \n(or a significantly sized payload) to transmit, \nuse multipart/form-data. Otherwise, use \napplication/x-www-form-urlencoded.\n*/\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":751.8333435058594,"y":175.6999969482422,"wires":[[]]},{"id":"4f953a80.1971fc","type":"comment","z":"80f5f744.445108","name":"Interface with data for the TU","info":"","x":759,"y":103,"wires":[]},{"id":"c47d0fb5.97a21","type":"xml","z":"80f5f744.445108","name":"to JSON","property":"payload","attr":"","chr":"","x":488.8334045410156,"y":175.95001220703125,"wires":[["bf8eae57.5e5d68"]]},{"id":"b3cda314.7f7f4","type":"function","z":"80f5f744.445108","name":"Data from XML Interface","func":"msg.payload = msg.payload;\n\n/* HTTP Header:\nif you have binary (non-alphanumeric) data \n(or a significantly sized payload) to transmit, \nuse multipart/form-data. Otherwise, use \napplication/x-www-form-urlencoded.\n*/\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750.8333740234375,"y":142.31666564941406,"wires":[[]]},{"id":"92b89e73.327e48","type":"comment","z":"80f5f744.445108","name":"TU Interface","info":"","x":1026,"y":104,"wires":[]},{"id":"50dd7e01.b20768","type":"comment","z":"80f5f744.445108","name":"***Value Simulation for this part***","info":"","x":176,"y":599.0000305175781,"wires":[]},{"id":"1f782735.7721b1","type":"inject","z":"80f5f744.445108","name":"***test: inject a FAILURE ***","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":171,"y":677.0000305175781,"wires":[["adec5007.497f78"]]},{"id":"bbfcd06e.7ad9d8","type":"function","z":"80f5f744.445108","name":"Payload_handler","func":"var tuName = msg.payload.tuName;\n\npayload = \n{\n\"tuName\": tuName\n}\n\nmsg.payload = payload;\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":677,"wires":[["39337a60.4c4296"]]},{"id":"39337a60.4c4296","type":"http request","z":"80f5f744.445108","name":"control_newSetpointFailed Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/tu-agent/control_newSetpointFailed","tls":"","persist":false,"proxy":"","authType":"basic","x":1119.699951171875,"y":677,"wires":[["b8b3657d.10a7a"]]},{"id":"b8b3657d.10a7a","type":"json","z":"80f5f744.445108","name":"Javascript - JSON Convert","property":"payload","action":"","pretty":false,"x":1407.199951171875,"y":677,"wires":[[]]},{"id":"5bc7e587.48e7f4","type":"inject","z":"80f5f744.445108","name":"***test: inject a DONE ***","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":163,"y":639.8500061035156,"wires":[["ccf09e07.25d6e8"]]},{"id":"515b794e.324","type":"function","z":"80f5f744.445108","name":"Payload_handler","func":"var tuName = msg.payload.tuName;\n\npayload = \n{\n\"tuName\": tuName\n}\n\nmsg.payload = payload;\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":789.8499755859375,"y":639.8500061035156,"wires":[["b3a9bf70.fb5ec8"]]},{"id":"b3a9bf70.fb5ec8","type":"http request","z":"80f5f744.445108","name":"control_newSetpointDone Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/tu-agent/control_newSetpointDone","tls":"","persist":false,"proxy":"","authType":"basic","x":1109.550048828125,"y":639.8500061035156,"wires":[["7ee185a.84cc97c"]]},{"id":"7ee185a.84cc97c","type":"json","z":"80f5f744.445108","name":"Javascript - JSON Convert","property":"payload","action":"","pretty":false,"x":1410.050048828125,"y":638.8500061035156,"wires":[[]]},{"id":"adec5007.497f78","type":"function","z":"80f5f744.445108","name":"setting example values","func":"payload = \n{\n\"tuName\": \"TUEmden0\"\n}\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":409.6166687011719,"y":676.5500183105469,"wires":[["bbfcd06e.7ad9d8"]]},{"id":"ccf09e07.25d6e8","type":"function","z":"80f5f744.445108","name":"setting example values","func":"payload = \n{\n\"tuName\": \"TUEmden0\"\n}\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":409.8500061035156,"y":639.8500061035156,"wires":[["515b794e.324"]]},{"id":"882f25f.49a70d8","type":"comment","z":"80f5f744.445108","name":"Payload description (String)","info":"//*****Example payload description *****//\n<InterfacePayloadNewSetpoint>\n<newSetpoint>400</newSetpoint>\n<tuName>machine32</tuName>\n</InterfacePayloadNewSetpoint>","x":1075.316650390625,"y":138.11666870117188,"wires":[]},{"id":"ac37e8b0.fdbc08","type":"comment","z":"80f5f744.445108","name":"Payload description (JSON)","info":"//*****Example payload description *****//\n{ \nnewSetpoint: \"400\", \ntuName: \"machine32\" \n}","x":1076.316650390625,"y":169.11666870117188,"wires":[]},{"id":"4bf7a435.05b3cc","type":"function","z":"80f5f744.445108","name":"Payload_handler","func":"var tuName = msg.payload.tuName;\n\npayload = \n{\n\"tuName\": tuName\n}\n\nmsg.payload = payload;\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":789,"y":512.0000305175781,"wires":[["f1c7a8ce.5544f8"]]},{"id":"f1c7a8ce.5544f8","type":"http request","z":"80f5f744.445108","name":"control_newSetpointFailed Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/tu-agent/control_newSetpointFailed","tls":"","persist":false,"proxy":"","authType":"basic","x":1122.699951171875,"y":512.0000305175781,"wires":[["ad890f9d.f90e48"]]},{"id":"ad890f9d.f90e48","type":"json","z":"80f5f744.445108","name":"Javascript - JSON Convert","property":"payload","action":"","pretty":false,"x":1415.199951171875,"y":512.0000305175781,"wires":[[]]},{"id":"2472fef6.314632","type":"function","z":"80f5f744.445108","name":"Payload_handler","func":"var tuName = msg.payload.tuName;\n\npayload = \n{\n\"tuName\": tuName\n}\n\nmsg.payload = payload;\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":789.8499755859375,"y":476.85003662109375,"wires":[["679f4808.89499"]]},{"id":"679f4808.89499","type":"http request","z":"80f5f744.445108","name":"control_newSetpointDone Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/tu-agent/control_newSetpointDone","tls":"","persist":false,"proxy":"","authType":"basic","x":1113.550048828125,"y":476.85003662109375,"wires":[["c911c33a.791d4"]]},{"id":"c911c33a.791d4","type":"json","z":"80f5f744.445108","name":"Javascript - JSON Convert","property":"payload","action":"","pretty":false,"x":1414.050048828125,"y":476.85003662109375,"wires":[[]]},{"id":"6d153d07.a27564","type":"comment","z":"80f5f744.445108","name":"JADE Interface (TU-Agent)","info":"","x":1083,"y":431.00006103515625,"wires":[]},{"id":"8361a26b.d76578","type":"comment","z":"80f5f744.445108","name":"1. TU-Control Sequence","info":"","x":139,"y":68,"wires":[]},{"id":"7619e07a.81ef4","type":"comment","z":"80f5f744.445108","name":"1.2 Sending done or failire answer to agent (Node-RED <-- TU)","info":"","x":257,"y":406.0000305175781,"wires":[]},{"id":"4a27eee1.bddc48","type":"comment","z":"80f5f744.445108","name":"Payload description (JSON)","info":"//*****Example payload description *****//\n{ \ntuName: \"TUEmden0\" \n}","x":534.9999694824219,"y":478.0000305175781,"wires":[]},{"id":"5c50f2e5.71e054","type":"comment","z":"80f5f744.445108","name":"Payload description (JSON)","info":"//*****Example payload description *****//\n{ \ntuName: \"TUEmden0\" \n}","x":535,"y":515.0000305175781,"wires":[]},{"id":"428d2f71.9643b8","type":"comment","z":"80f5f744.445108","name":"2. Balancing Process","info":"","x":128.00001525878906,"y":799.0000610351562,"wires":[]},{"id":"86bf663f.dc17e8","type":"comment","z":"80f5f744.445108","name":"2.1 Requesting from the VPP for balancing of the TU (Node-RED --> TU)","info":"","x":288.11668395996094,"y":830.61669921875,"wires":[]},{"id":"c8b0b0c0.33f61","type":"http in","z":"80f5f744.445108","name":"","url":"/plc/balancing_request","method":"put","upload":false,"swaggerDoc":"","x":148.11669921875,"y":878.6167297363281,"wires":[["9f192355.4e774","633c4c86.b24cac","e4924964.725338"]]},{"id":"9f192355.4e774","type":"http response","z":"80f5f744.445108","name":"Response","statusCode":"","headers":{},"x":210.11668395996094,"y":914.6167297363281,"wires":[]},{"id":"37d277dc.554f2","type":"function","z":"80f5f744.445108","name":"Data from JSON Interface","func":"var balancingStart = msg.payload.InterfacePayloadBalancing.balancingStart.toString();\nvar balancingEnd = msg.payload.InterfacePayloadBalancing.balancingEnd.toString();\nvar tuName = msg.payload.InterfacePayloadBalancing.tuName.toString();\n\npayload = \n{\n\"balancingStart\" : balancingStart,\n\"balancingEnd\"  : balancingEnd,\n\"tuName\" : tuName\n}\nmsg.payload = payload;\n\n/* HTTP Header:\nif you have binary (non-alphanumeric) data \n(or a significantly sized payload) to transmit, \nuse multipart/form-data. Otherwise, use \napplication/x-www-form-urlencoded.\n*/\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":583.9500427246094,"y":913.3167266845703,"wires":[[]]},{"id":"633c4c86.b24cac","type":"xml","z":"80f5f744.445108","name":"to JSON","property":"payload","attr":"","chr":"","x":366.9500732421875,"y":911.5667114257812,"wires":[["37d277dc.554f2"]]},{"id":"e4924964.725338","type":"function","z":"80f5f744.445108","name":"Data from XML Interface","func":"msg.payload = msg.payload;\n\n/* HTTP Header:\nif you have binary (non-alphanumeric) data \n(or a significantly sized payload) to transmit, \nuse multipart/form-data. Otherwise, use \napplication/x-www-form-urlencoded.\n*/\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":582.9500732421875,"y":879.9333953857422,"wires":[[]]},{"id":"c39badd0.c6566","type":"comment","z":"80f5f744.445108","name":"TU Interface","info":"","x":1031.11669921875,"y":832.61669921875,"wires":[]},{"id":"e696b414.59f738","type":"comment","z":"80f5f744.445108","name":"Payload description (String)","info":"//*****Example payload description *****//\n<InterfacePayloadBalancing>\n    <balancingStart>\n        2021-01-13 12:00:00\n    </balancingStart>\n    <balancingEnd>\n        2021-01-13 13:00:00\n    </balancingEnd>\n    <tuName>\n        machine32\n    </tuName>\n</InterfacePayloadBalancing>\"","x":1080.433349609375,"y":878.7333984375,"wires":[]},{"id":"9f1c2dbb.fcded8","type":"comment","z":"80f5f744.445108","name":"Payload description (JSON)","info":"//*****Example payload description *****//\n{ \nbalancingStart: \"2021-01-13 12:00:00\",\nbalancingEnd: \"2021-01-13 13:00:00\",\ntuName: \"machine32\" \n}","x":1081.433349609375,"y":909.7333984375,"wires":[]},{"id":"578ea7ea.68352","type":"comment","z":"80f5f744.445108","name":"2.2 Sending answer to agent (Node-RED <-- TU)","info":"","x":204.11668395996094,"y":1007.7167358398438,"wires":[]},{"id":"2ec7e5e6.e9731a","type":"function","z":"80f5f744.445108","name":"Payload_handler","func":"var tuName = msg.payload.tuName;\n\npayload = \n{\n\"tuName\": tuName\n}\n\nmsg.payload = payload;\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":837.11669921875,"y":1109.8166809082031,"wires":[["f607afe9.07a908"]]},{"id":"f607afe9.07a908","type":"http request","z":"80f5f744.445108","name":"balancing_refuse Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/tu-agent/balancing_refuse","tls":"","persist":false,"proxy":"","authType":"basic","x":1089.816650390625,"y":1109.8166809082031,"wires":[["d357eb16.264008"]]},{"id":"d357eb16.264008","type":"json","z":"80f5f744.445108","name":"Javascript - JSON Convert","property":"payload","action":"","pretty":false,"x":1358.316665649414,"y":1109.816650390625,"wires":[[]]},{"id":"f14a32c4.cd0018","type":"function","z":"80f5f744.445108","name":"Payload_handler","func":"var tuName = msg.payload.tuName;\n\npayload = \n{\n\"tuName\": tuName\n}\n\nmsg.payload = payload;\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":837.9666748046875,"y":1074.6666870117188,"wires":[["904b5da0.c5cf5"]]},{"id":"904b5da0.c5cf5","type":"http request","z":"80f5f744.445108","name":"balancing_agree Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/tu-agent/balancing_agree","tls":"","persist":false,"proxy":"","authType":"basic","x":1088.666748046875,"y":1074.6666870117188,"wires":[["3a6acc8e.7e7814"]]},{"id":"3a6acc8e.7e7814","type":"json","z":"80f5f744.445108","name":"Javascript - JSON Convert","property":"payload","action":"","pretty":false,"x":1357.166763305664,"y":1074.6666564941406,"wires":[[]]},{"id":"d8450677.f5849","type":"comment","z":"80f5f744.445108","name":"Payload description (JSON)","info":"//*****Example payload description *****//\n{ \ntuName: \"TUEmden0\" \n}","x":537.11669921875,"y":1076.8166809082031,"wires":[]},{"id":"6d46c543.c6ace4","type":"comment","z":"80f5f744.445108","name":"Payload description (JSON)","info":"//*****Example payload description *****//\n{ \ntuName: \"TUEmden0\" \n}","x":537.11669921875,"y":1113.8166809082031,"wires":[]},{"id":"b3d1148e.e67978","type":"comment","z":"80f5f744.445108","name":"***Value Simulation for this part***","info":"","x":166.42857360839844,"y":1152.6309242248535,"wires":[]},{"id":"a94bc934.79fc2","type":"inject","z":"80f5f744.445108","name":"***test: inject a Refuse ***","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":163.11668395996094,"y":1231.9167175292969,"wires":[["9e5d7a1d.fe835"]]},{"id":"9ba365f8.d5d2c8","type":"inject","z":"80f5f744.445108","name":"***test: inject a Agree***","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":153.11668395996094,"y":1196.7667236328125,"wires":[["943b582.a467228"]]},{"id":"9e5d7a1d.fe835","type":"function","z":"80f5f744.445108","name":"setting example values","func":"payload = \n{\n\"tuName\": \"TU_Company1_MRL\"\n}\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":483.7333526611328,"y":1231.4668579101562,"wires":[["4dfba2d3.e68b5c"]]},{"id":"943b582.a467228","type":"function","z":"80f5f744.445108","name":"setting example values","func":"payload = \n{\n\"tuName\": \"TU_Company1_MRL\"\n}\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":483.96669006347656,"y":1195.766845703125,"wires":[["a1bcb739.dd70b"]]},{"id":"4dfba2d3.e68b5c","type":"function","z":"80f5f744.445108","name":"Payload_handler","func":"var tuName = msg.payload.tuName;\n\npayload = \n{\n\"tuName\": tuName\n}\n\nmsg.payload = payload;\n\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":825.1167144775391,"y":1228.916748046875,"wires":[["8290c6a1.1eab8"]]},{"id":"8290c6a1.1eab8","type":"http request","z":"80f5f744.445108","name":"balancing_refuse Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/tu-agent/balancing_refuse","tls":"","persist":false,"proxy":"","authType":"basic","x":1085.816665649414,"y":1228.916748046875,"wires":[["8c237b53.418a2"]]},{"id":"a1bcb739.dd70b","type":"function","z":"80f5f744.445108","name":"Payload_handler","func":"var tuName = msg.payload.tuName;\n\npayload = \n{\n\"tuName\": tuName\n}\n\nmsg.payload = payload;\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":825.9666900634766,"y":1193.7667541503906,"wires":[["2f62ef27.d23138"]]},{"id":"2f62ef27.d23138","type":"http request","z":"80f5f744.445108","name":"balancing_agree Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/tu-agent/balancing_agree","tls":"","persist":false,"proxy":"","authType":"basic","x":1083.666763305664,"y":1193.7667541503906,"wires":[["87adfb52.5f9a6","fa8b421b.543a28"]]},{"id":"8c237b53.418a2","type":"json","z":"80f5f744.445108","name":"Javascript - JSON Convert","property":"payload","action":"","pretty":false,"x":1352.699966430664,"y":1227.916748046875,"wires":[[]]},{"id":"87adfb52.5f9a6","type":"json","z":"80f5f744.445108","name":"Javascript - JSON Convert","property":"payload","action":"","pretty":false,"x":1351.550064086914,"y":1193.7667541503906,"wires":[[]]},{"id":"bc50a512.0a6b58","type":"inject","z":"80f5f744.445108","name":"***test: inject a Failure ***","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170.00001525878906,"y":1524,"wires":[["d261524.3df47b"]]},{"id":"d261524.3df47b","type":"function","z":"80f5f744.445108","name":"setting example values","func":"payload = \n{\n\"tuName\": \"TU_Company1_MRL\"\n}\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":496.61668395996094,"y":1522.5501403808594,"wires":[["c84ee417.e90fc"]]},{"id":"c84ee417.e90fc","type":"function","z":"80f5f744.445108","name":"Payload_handler","func":"var tuName = msg.payload.tuName;\n\npayload = \n{\n\"tuName\": tuName\n}\n\nmsg.payload = payload;\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":838.0000457763672,"y":1521.0000305175781,"wires":[["cadde0f0.d460e8"]]},{"id":"cadde0f0.d460e8","type":"http request","z":"80f5f744.445108","name":"balancing_failure Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/tu-agent/balancing_failure","tls":"","persist":false,"proxy":"","authType":"basic","x":1098.6999969482422,"y":1521.0000305175781,"wires":[["8f369b5c.7d5fb"]]},{"id":"8f369b5c.7d5fb","type":"json","z":"80f5f744.445108","name":"Javascript - JSON Convert","property":"payload","action":"","pretty":false,"x":1360.5832977294922,"y":1518.0000305175781,"wires":[[]]},{"id":"2a6ce46f.8f169c","type":"inject","z":"80f5f744.445108","name":"***test: inject a Inform***","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":171.00001525878906,"y":1562,"wires":[["f6987ee6.262bd"]]},{"id":"f6987ee6.262bd","type":"function","z":"80f5f744.445108","name":"setting example values","func":"payload = \n{\n    \"tuName\": \"TU_Company25\",   \n\t\"feedIn\" : 10,\t\t\t\t    //Einspeisung\n\t\"operatingPoint\" : 11,\t \t\t//Arbeitspunkt\n    \"leadingOperatingPoint\" : 12,\t//vorauseilender Arbeitspunkt\n    \"currentValueFR\" : 13,\t\t\t//Regelleistungsistwert\n\t\"assignedPool\" : 14,\t\t\t//Poolzuordnung\n    \"status\" : 15,\t\t\t\t\t//Status (Meldung)\n\t\"frequency\" : 16,\t\t\t\t//Frequenz\n\t\"aFRRsetpoint\" : 17,\t\t    //aFRR-Soll (ÜNB -> POOL)\n\t\"aFRRsetpointEcho\" : 200,\t\t//aFRR-Soll-Echo (Pool -> ÜNB)\n\t\"setpointFR\" : 201,\t\t\t\t//Regelleistungs-Soll\n\t\"aFRRGradientPOS\" : 202,\t\t//aFRR-Gradient POS\n\t\"aFRRGradientNEG\" : 203,\t\t//aFRR-Gradient NEG\n\t\"capacityPOS\" : 204,\t\t\t//Arbeitsvermögen POS (bei begrenztem Energiespeicher)\n\t\"capacityNEG\" : 205,\t\t\t//Arbeitsvermögen NEG (bei begrenzten Energiespeicher)\n\t\"holdingCapacityPOS\" : 206,\t\t//Aktuelle Vorhalteleistung POS\n\t\"holdingCapacityNEG\" : 207,\t\t//Aktuelle Vorhalteleistung NEG\n\t\"controlBandPOS\" : 208,\t\t\t//Regelband POS\n\t\"controlBandNEG\" : 209\t\t\t//Regelband NEG\n}\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":495.61668395996094,"y":1562.5501403808594,"wires":[["98698d9e.fbff8"]]},{"id":"98698d9e.fbff8","type":"function","z":"80f5f744.445108","name":"Payload_handler","func":"var tuName = msg.payload.tuName;\nvar feedIn = msg.payload.feedIn || -99999;\nvar operatingPoint = msg.payload.operatingPoint || -99999;\nvar leadingOperatingPoint = msg.payload.leadingOperatingPoint || -99999;\nvar currentValueFR = msg.payload.currentValueFR || -99999;\nvar assignedPool = msg.payload.assignedPool || -99999;\nvar status = msg.payload.status || -99999;\nvar frequency = msg.payload.frequency || -99999;\nvar aFRRsetpoint = msg.payload.aFRRsetpoint || -99999;\nvar aFRRsetpointEcho = msg.payload.aFRRsetpointEcho || -99999;\nvar setpointFR = msg.payload.setpointFR || -99999;\nvar aFRRGradientPOS = msg.payload.aFRRGradientPOS || -99999;\nvar aFRRGradientNEG = msg.payload.aFRRGradientNEG || -99999;\nvar capacityPOS = msg.payload.capacityPOS || -99999;\nvar capacityNEG = msg.payload.capacityNEG || -99999;\nvar holdingCapacityPOS = msg.payload.holdingCapacityPOS || -99999;\nvar holdingCapacityNEG = msg.payload.holdingCapacityNEG || -99999;\nvar controlBandPOS = msg.payload.controlBandPOS || -99999;\nvar controlBandNEG = msg.payload.controlBandNEG || -99999;\n\npayload = \n{\n    \"tuName\": tuName,   \n\t\"feedIn\" : feedIn,\t\t\t\t                //Einspeisung\n\t\"operatingPoint\" : operatingPoint,\t \t\t    //Arbeitspunkt\n    \"leadingOperatingPoint\" : leadingOperatingPoint,\t//vorauseilender Arbeitspunkt\n    \"currentValueFR\" : currentValueFR,\t\t\t    //Regelleistungsistwert\n\t\"assignedPool\" : assignedPool,\t\t\t        //Poolzuordnung\n    \"status\" : status,\t\t\t\t\t            //Status (Meldung)\n\t\"frequency\" : frequency,\t\t\t\t        //Frequenz\n\t\"aFRRsetpoint\" : aFRRsetpoint,\t\t            //aFRR-Soll (ÜNB -> POOL)\n\t\"aFRRsetpointEcho\" : aFRRsetpointEcho,\t\t    //aFRR-Soll-Echo (Pool -> ÜNB)\n\t\"setpointFR\" : setpointFR,\t\t\t        \t//Regelleistungs-Soll\n\t\"aFRRGradientPOS\" : aFRRGradientPOS,\t    \t//aFRR-Gradient POS\n\t\"aFRRGradientNEG\" : aFRRGradientNEG,\t\t    //aFRR-Gradient NEG\n\t\"capacityPOS\" : capacityPOS,\t\t\t        //Arbeitsvermögen POS (bei begrenztem Energiespeicher)\n\t\"capacityNEG\" : capacityNEG,\t\t        \t//Arbeitsvermögen NEG (bei begrenzten Energiespeicher)\n\t\"holdingCapacityPOS\" : holdingCapacityPOS,\t\t//Aktuelle Vorhalteleistung POS\n\t\"holdingCapacityNEG\" : holdingCapacityNEG,\t\t//Aktuelle Vorhalteleistung NEG\n\t\"controlBandPOS\" : controlBandPOS,\t\t\t    //Regelband POS\n\t\"controlBandNEG\" : controlBandNEG\t\t\t    //Regelband NEG\n}\n\nmsg.payload = payload;\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":837.0000457763672,"y":1561.0000305175781,"wires":[["f1fdd3de.0cd148"]]},{"id":"f1fdd3de.0cd148","type":"http request","z":"80f5f744.445108","name":"balancing_inform Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/tu-agent/balancing_inform","tls":"","persist":false,"proxy":"","authType":"basic","x":1097.6999969482422,"y":1561.0000305175781,"wires":[["aae1ce40.ce7cc"]]},{"id":"aae1ce40.ce7cc","type":"json","z":"80f5f744.445108","name":"Javascript - JSON Convert","property":"payload","action":"","pretty":false,"x":1359.5832977294922,"y":1558.0000305175781,"wires":[[]]},{"id":"568f6a2a.1a021c","type":"comment","z":"80f5f744.445108","name":"2.3 Sending balancing values (Node-RED <-- TU)","info":"","x":220.8500213623047,"y":1309.25,"wires":[]},{"id":"16f5dabe.a8e825","type":"comment","z":"80f5f744.445108","name":"Payload description (JSON)","info":"//*****Example payload description *****//\n{ \ntuName: \"TUEmden0\" \n}","x":547.8500518798828,"y":1407.25,"wires":[]},{"id":"61acfd8c.3ac704","type":"comment","z":"80f5f744.445108","name":"Payload description (JSON)","info":"//*****Example payload description *****//\n{\n    \"tuName\": \"TUEmden0\",   \n\t\"feedIn\" : 10,\t\t\t\t    //Einspeisung\n\t\"operatingPoint\" : 11,\t \t\t//Arbeitspunkt\n    \"leadingOperatingPoint\" : 12,\t//vorauseilender Arbeitspunkt\n    \"currentValueFR\" : 13,\t\t\t//Regelleistungsistwert\n\t\"assignedPool\" : 14,\t\t\t//Poolzuordnung\n    \"status\" : 15,\t\t\t\t\t//Status (Meldung)\n\t\"frequency\" : 16,\t\t\t\t//Frequenz\n\t\"aFRRsetpoint\" : 17,\t\t    //aFRR-Soll (ÜNB -> POOL)\n\t\"aFRRsetpointEcho\" : 200,\t\t//aFRR-Soll-Echo (Pool -> ÜNB)\n\t\"setpointFR\" : 201,\t\t\t\t//Regelleistungs-Soll\n\t\"aFRRGradientPOS\" : 202,\t\t//aFRR-Gradient POS\n\t\"aFRRGradientNEG\" : 203,\t\t//aFRR-Gradient NEG\n\t\"capacityPOS\" : 204,\t\t\t//Arbeitsvermögen POS (bei begrenztem Energiespeicher)\n\t\"capacityNEG\" : 205,\t\t\t//Arbeitsvermögen NEG (bei begrenzten Energiespeicher)\n\t\"holdingCapacityPOS\" : 206,\t\t//Aktuelle Vorhalteleistung POS\n\t\"holdingCapacityNEG\" : 207,\t\t//Aktuelle Vorhalteleistung NEG\n\t\"controlBandPOS\" : 208,\t\t\t//Regelband POS\n\t\"controlBandNEG\" : 209\t\t\t//Regelband NEG\n}","x":547.8500518798828,"y":1444.25,"wires":[]},{"id":"c2e07ef4.6eecb","type":"function","z":"80f5f744.445108","name":"Payload_handler","func":"var tuName = msg.payload.tuName;\n\npayload = \n{\n\"tuName\": tuName\n}\n\nmsg.payload = payload;\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":843.1167144775391,"y":1401.63330078125,"wires":[["29b72d02.3fab1a"]]},{"id":"29b72d02.3fab1a","type":"http request","z":"80f5f744.445108","name":"balancing_failure Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/tu-agent/balancing_failure","tls":"","persist":false,"proxy":"","authType":"basic","x":1103.816665649414,"y":1401.63330078125,"wires":[[]]},{"id":"edfc4902.2b5ee8","type":"function","z":"80f5f744.445108","name":"Payload_handler","func":"var tuName = msg.payload.tuName;\nvar feedIn = msg.payload.feedIn || -99999;\nvar operatingPoint = msg.payload.operatingPoint || -99999;\nvar leadingOperatingPoint = msg.payload.leadingOperatingPoint || -99999;\nvar currentValueFR = msg.payload.currentValueFR || -99999;\nvar assignedPool = msg.payload.assignedPool || -99999;\nvar status = msg.payload.status || -99999;\nvar frequency = msg.payload.frequency || -99999;\nvar aFRRsetpoint = msg.payload.aFRRsetpoint || -99999;\nvar aFRRsetpointEcho = msg.payload.aFRRsetpointEcho || -99999;\nvar setpointFR = msg.payload.setpointFR || -99999;\nvar aFRRGradientPOS = msg.payload.aFRRGradientPOS || -99999;\nvar aFRRGradientNEG = msg.payload.aFRRGradientNEG || -99999;\nvar capacityPOS = msg.payload.capacityPOS || -99999;\nvar capacityNEG = msg.payload.capacityNEG || -99999;\nvar holdingCapacityPOS = msg.payload.holdingCapacityPOS || -99999;\nvar holdingCapacityNEG = msg.payload.holdingCapacityNEG || -99999;\nvar controlBandPOS = msg.payload.controlBandPOS || -99999;\nvar controlBandNEG = msg.payload.controlBandNEG || -99999;\n\npayload = \n{\n    \"tuName\": tuName,   \n\t\"feedIn\" : feedIn,\t\t\t\t                //Einspeisung\n\t\"operatingPoint\" : operatingPoint,\t \t\t    //Arbeitspunkt\n    \"leadingOperatingPoint\" : leadingOperatingPoint,\t//vorauseilender Arbeitspunkt\n    \"currentValueFR\" : currentValueFR,\t\t\t    //Regelleistungsistwert\n\t\"assignedPool\" : assignedPool,\t\t\t        //Poolzuordnung\n    \"status\" : status,\t\t\t\t\t            //Status (Meldung)\n\t\"frequency\" : frequency,\t\t\t\t        //Frequenz\n\t\"aFRRsetpoint\" : aFRRsetpoint,\t\t            //aFRR-Soll (ÜNB -> POOL)\n\t\"aFRRsetpointEcho\" : aFRRsetpointEcho,\t\t    //aFRR-Soll-Echo (Pool -> ÜNB)\n\t\"setpointFR\" : setpointFR,\t\t\t        \t//Regelleistungs-Soll\n\t\"aFRRGradientPOS\" : aFRRGradientPOS,\t    \t//aFRR-Gradient POS\n\t\"aFRRGradientNEG\" : aFRRGradientNEG,\t\t    //aFRR-Gradient NEG\n\t\"capacityPOS\" : capacityPOS,\t\t\t        //Arbeitsvermögen POS (bei begrenztem Energiespeicher)\n\t\"capacityNEG\" : capacityNEG,\t\t        \t//Arbeitsvermögen NEG (bei begrenzten Energiespeicher)\n\t\"holdingCapacityPOS\" : holdingCapacityPOS,\t\t//Aktuelle Vorhalteleistung POS\n\t\"holdingCapacityNEG\" : holdingCapacityNEG,\t\t//Aktuelle Vorhalteleistung NEG\n\t\"controlBandPOS\" : controlBandPOS,\t\t\t    //Regelband POS\n\t\"controlBandNEG\" : controlBandNEG\t\t\t    //Regelband NEG\n}\n\nmsg.payload = payload;\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":842.1167144775391,"y":1441.63330078125,"wires":[["46578b7e.066b1c"]]},{"id":"46578b7e.066b1c","type":"http request","z":"80f5f744.445108","name":"balancing_inform Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/tu-agent/balancing_inform","tls":"","persist":false,"proxy":"","authType":"basic","x":1102.816665649414,"y":1441.63330078125,"wires":[[]]},{"id":"6a1a4b0d.273efc","type":"comment","z":"80f5f744.445108","name":"***Value Simulation for this part***","info":"","x":176.11668395996094,"y":1490.2166748046875,"wires":[]},{"id":"68e00a54.e43204","type":"comment","z":"80f5f744.445108","name":"****************************************** TU-CONTROL ********************************************","info":"","x":339,"y":35,"wires":[]},{"id":"c083fe0d.69ccf","type":"http in","z":"80f5f744.445108","name":"","url":"/plc/control_newLoadProfile","method":"put","upload":false,"swaggerDoc":"","x":160,"y":320,"wires":[["84b9b749.bf19b8","f1cc29d.fbc5ad8"]]},{"id":"84b9b749.bf19b8","type":"http response","z":"80f5f744.445108","name":"Response","statusCode":"","headers":{},"x":233.29998779296875,"y":356.0000305175781,"wires":[]},{"id":"c91382cd.11aa98","type":"file","z":"80f5f744.445108","name":"","filename":"saving file in local folder","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"utf8","x":758.8333740234375,"y":355.0666809082031,"wires":[[]]},{"id":"5ff2f1ae.11512","type":"http in","z":"80f5f744.445108","name":"","url":"/plc/control_newLoadProfileInfo","method":"put","upload":false,"swaggerDoc":"","x":169.88333129882812,"y":241.10003662109375,"wires":[["eec7784c.31a188","e5ea65e5.15538"]]},{"id":"eec7784c.31a188","type":"http response","z":"80f5f744.445108","name":"Response","statusCode":"","headers":{},"x":248,"y":277.10003662109375,"wires":[]},{"id":"65ecb925.7f478","type":"function","z":"80f5f744.445108","name":"Payload_handler","func":"var tuName = msg.payload.InterfacePayloadAgentReference.tuName[0];\n\n\nmsg.payload = {\n    \"tuName\" : tuName\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780.0000305175781,"y":241.10003662109375,"wires":[[]]},{"id":"f1cc29d.fbc5ad8","type":"function","z":"80f5f744.445108","name":"Setting file info","func":"var schedulingPlanInfos = flow.get('schedulingPlanInfos');\nmsg.filename = 'C:/Users/Woltmann/Desktop/VPP_Folder/'+schedulingPlanInfos+'.xml';\nmsg.payload = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":787.8334045410156,"y":319.6999816894531,"wires":[["c91382cd.11aa98"]]},{"id":"e5ea65e5.15538","type":"xml","z":"80f5f744.445108","name":"to JSON","property":"payload","attr":"","chr":"","x":492.0000305175781,"y":240.00003051757812,"wires":[["65ecb925.7f478"]]},{"id":"c338a7da.6d4338","type":"comment","z":"80f5f744.445108","name":"Payload description (JSON)","info":"//*****Example payload description *****//\n{\n    tuName: \"TUEmden0\"me :\"TUEmden0\"\n}","x":1082,"y":242.00003051757812,"wires":[]},{"id":"d08e697e.54f19","type":"comment","z":"80f5f744.445108","name":"Payload description (JSON)","info":"//*****Example payload description *****//\n//the payload can be any form of XML the VPP needs for the planning of the TU\n//shown in String:\n<operation>\n    <name>\"SchedulingData\"</name>\n    <tuID>\"testTUHSEMD\"</tuID>\n    <timeWindow>\n        <start>\"2020-02-18 05:00:00.0\"</start>\n        <end>\"2020-02-18 07:00:00.0\"</end>\n    </timeWindow>\n    <energyRange>\n        <from>\"6000\"</from>\n        <till>\"22000\"</till>\n    </energyRange>\n</operation>","x":1081.38330078125,"y":322.10003662109375,"wires":[]},{"id":"28298197.9407e6","type":"comment","z":"80f5f744.445108","name":"****************************************** BALANCING ********************************************","info":"","x":347,"y":765.9166870117188,"wires":[]},{"id":"ab83d13f.f68bc","type":"comment","z":"80f5f744.445108","name":"JADE Interface (TU-Agent)","info":"","x":1079.11669921875,"y":1033.9168090820312,"wires":[]},{"id":"e786333c.ba1708","type":"comment","z":"80f5f744.445108","name":"JADE Interface (TU-Agent)","info":"","x":1088,"y":1357,"wires":[]},{"id":"957356ca.3a5968","type":"comment","z":"80f5f744.445108","name":"JADE Interface (TU-Agent)","info":"","x":1078.8499755859375,"y":595.4500427246094,"wires":[]},{"id":"c0d31191.ee4168","type":"comment","z":"80f5f744.445108","name":"TU Interface","info":"","x":97.85000610351562,"y":439.85003662109375,"wires":[]},{"id":"cf542bea.43857","type":"comment","z":"80f5f744.445108","name":"TU Interface","info":"","x":95.85000610351562,"y":1042.050048828125,"wires":[]},{"id":"262a2215.468c56","type":"comment","z":"80f5f744.445108","name":"TU Interface","info":"","x":100.85000610351562,"y":1342.8499755859375,"wires":[]},{"id":"60c1b20f.79679c","type":"comment","z":"80f5f744.445108","name":"3.1 receiving enable request from VPP (Node-RED --> TU)","info":"","x":249.00001525878906,"y":1791.6666259765625,"wires":[]},{"id":"3ea18b05.484ecc","type":"http in","z":"80f5f744.445108","name":"","url":"/plc/freqRelay_enable","method":"put","upload":false,"swaggerDoc":"","x":141.00001525878906,"y":1831.6666259765625,"wires":[["d6990dcd.cb3f78","2c4753ce.06151c","3648c3.2b7b1f3e"]]},{"id":"d6990dcd.cb3f78","type":"http response","z":"80f5f744.445108","name":"Response","statusCode":"","headers":{},"x":222.00001525878906,"y":1869.6666259765625,"wires":[]},{"id":"15d44b75.34018d","type":"function","z":"80f5f744.445108","name":"Data from JSON Interface","func":"var tuName = msg.payload.InterfacePayloadAgentReference.tuName.toString();\n\npayload = \n{\n\"tuName\" : tuName\n}\nmsg.payload = payload;\n\n/* HTTP Header:\nif you have binary (non-alphanumeric) data \n(or a significantly sized payload) to transmit, \nuse multipart/form-data. Otherwise, use \napplication/x-www-form-urlencoded.\n*/\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":762.8333587646484,"y":1866.3666229248047,"wires":[[]]},{"id":"ac225902.67632","type":"comment","z":"80f5f744.445108","name":"Interface with data for the TU","info":"","x":770.0000152587891,"y":1793.6666259765625,"wires":[]},{"id":"2c4753ce.06151c","type":"xml","z":"80f5f744.445108","name":"to JSON","property":"payload","attr":"","chr":"","x":499.8334197998047,"y":1866.6166381835938,"wires":[["15d44b75.34018d"]]},{"id":"3648c3.2b7b1f3e","type":"function","z":"80f5f744.445108","name":"Data from XML Interface","func":"msg.payload = msg.payload;\n\n/* HTTP Header:\nif you have binary (non-alphanumeric) data \n(or a significantly sized payload) to transmit, \nuse multipart/form-data. Otherwise, use \napplication/x-www-form-urlencoded.\n*/\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":761.8333892822266,"y":1832.9832916259766,"wires":[[]]},{"id":"f2498485.95cd88","type":"comment","z":"80f5f744.445108","name":"TU Interface","info":"","x":1039.000015258789,"y":1798.666618347168,"wires":[]},{"id":"cf6ea1ff.c31408","type":"comment","z":"80f5f744.445108","name":"Payload description (String)","info":"//*****Example payload description *****//\n<InterfacePayloadAgentReference>\n<agentName>noNameSet</agentName>\n<tuName>TUEmdenCompany1</tuName>\n<referenceID>noIDSet</referenceID>\n</InterfacePayloadAgentReference>\n","x":1091.316665649414,"y":1835.7832946777344,"wires":[]},{"id":"195627b4.87e95","type":"comment","z":"80f5f744.445108","name":"Payload description (JSON)","info":"//*****Example payload description *****//\n{ \n    tuName: \"TUEmdenCompany0\"\n}","x":1092.316665649414,"y":1866.7832946777344,"wires":[]},{"id":"4b77b24f.aa9aec","type":"comment","z":"80f5f744.445108","name":"3. FrequencyRelay Enable","info":"","x":150.00001525878906,"y":1758.6666259765625,"wires":[]},{"id":"9aed5f97.2eeab","type":"comment","z":"80f5f744.445108","name":"****************************************** SOL/SNL Specific Actions ****************************************","info":"","x":376.66668701171875,"y":1722.6666259765625,"wires":[]},{"id":"5b6ca685.82efd8","type":"comment","z":"80f5f744.445108","name":"3.2 Sending answer to agent (Node-RED <-- TU)","info":"","x":205.85000610351562,"y":1944.050048828125,"wires":[]},{"id":"e5593e69.b49308","type":"function","z":"80f5f744.445108","name":"Payload_handler","func":"var tuName = msg.payload.tuName;\n\npayload = \n{\n\"tuName\": tuName\n}\n\nmsg.payload = payload;\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":848.8500213623047,"y":2046.1499938964844,"wires":[["4d69c63a.5ad978"]]},{"id":"4d69c63a.5ad978","type":"http request","z":"80f5f744.445108","name":"freqRelay_enableFailure Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/tu-agent/freqRelay_enableFailure","tls":"","persist":false,"proxy":"","authType":"basic","x":1121.5499725341797,"y":2046.1499938964844,"wires":[["9d23a7ba.79627"]]},{"id":"9d23a7ba.79627","type":"json","z":"80f5f744.445108","name":"Javascript - JSON Convert","property":"payload","action":"","pretty":false,"x":1370.0499877929688,"y":2046.1499633789062,"wires":[[]]},{"id":"ee857df4.178ba8","type":"function","z":"80f5f744.445108","name":"Payload_handler","func":"var tuName = msg.payload.tuName;\n\npayload = \n{\n\"tuName\": tuName\n}\n\nmsg.payload = payload;\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":849.6999969482422,"y":2011,"wires":[["6e6f8142.342188"]]},{"id":"6e6f8142.342188","type":"http request","z":"80f5f744.445108","name":"freqRelay_enableInform Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/tu-agent/freqRelay_enableInform","tls":"","persist":false,"proxy":"","authType":"basic","x":1120.4000701904297,"y":2011,"wires":[["79ddae18.b246c"]]},{"id":"79ddae18.b246c","type":"json","z":"80f5f744.445108","name":"Javascript - JSON Convert","property":"payload","action":"","pretty":false,"x":1368.9000854492188,"y":2010.9999694824219,"wires":[[]]},{"id":"6edab03d.4f7dd8","type":"comment","z":"80f5f744.445108","name":"Payload description (JSON)","info":"//*****Example payload description *****//\n{ \ntuName: \"TUEmden0\" \n}","x":548.8500213623047,"y":2013.1499938964844,"wires":[]},{"id":"f2819ad7.1e1b8","type":"comment","z":"80f5f744.445108","name":"Payload description (JSON)","info":"//*****Example payload description *****//\n{ \ntuName: \"TUEmden0\" \n}","x":548.8500213623047,"y":2050.1499938964844,"wires":[]},{"id":"8a310c7f.fb5cd","type":"comment","z":"80f5f744.445108","name":"***Value Simulation for this part***","info":"","x":185.85000610351562,"y":2093.2500610351562,"wires":[]},{"id":"4266eb72.ac6704","type":"inject","z":"80f5f744.445108","name":"***test: inject a Failure***","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":174.85000610351562,"y":2168.250030517578,"wires":[["eb9333d2.6bb6b"]]},{"id":"fa25575d.351978","type":"inject","z":"80f5f744.445108","name":"***test: inject a Inform***","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":164.85000610351562,"y":2133.1000366210938,"wires":[["23d54b7b.e5d1fc"]]},{"id":"eb9333d2.6bb6b","type":"function","z":"80f5f744.445108","name":"setting example values","func":"payload = \n{\n\"tuName\": \"TU_Company1_SNL\"\n}\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":495.4666748046875,"y":2167.8001708984375,"wires":[["62b99a1c.6cb1ec"]]},{"id":"23d54b7b.e5d1fc","type":"function","z":"80f5f744.445108","name":"setting example values","func":"payload = \n{\n\"tuName\": \"TU_Company1_SNL\"\n}\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":495.70001220703125,"y":2132.1001586914062,"wires":[["54d448c4.ada908"]]},{"id":"62b99a1c.6cb1ec","type":"function","z":"80f5f744.445108","name":"Payload_handler","func":"var tuName = msg.payload.tuName;\n\npayload = \n{\n\"tuName\": tuName\n}\n\nmsg.payload = payload;\n\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":836.8500366210938,"y":2165.2500610351562,"wires":[["c13bf153.1789f"]]},{"id":"c13bf153.1789f","type":"http request","z":"80f5f744.445108","name":"freqRelay_enableFailure Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/tu-agent/freqRelay_enableFailure","tls":"","persist":false,"proxy":"","authType":"basic","x":1117.5499877929688,"y":2165.2500610351562,"wires":[["fad0983f.112d1"]]},{"id":"54d448c4.ada908","type":"function","z":"80f5f744.445108","name":"Payload_handler","func":"var tuName = msg.payload.tuName;\n\npayload = \n{\n\"tuName\": tuName\n}\n\nmsg.payload = payload;\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":837.7000122070312,"y":2130.100067138672,"wires":[["3b472de5.7d7ba2"]]},{"id":"3b472de5.7d7ba2","type":"http request","z":"80f5f744.445108","name":"freqRelay_enableInform Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/tu-agent/freqRelay_enableInform","tls":"","persist":false,"proxy":"","authType":"basic","x":1115.4000854492188,"y":2130.100067138672,"wires":[["c3678f09.44669"]]},{"id":"fad0983f.112d1","type":"json","z":"80f5f744.445108","name":"Javascript - JSON Convert","property":"payload","action":"","pretty":false,"x":1423.433349609375,"y":2167.2498779296875,"wires":[[]]},{"id":"c3678f09.44669","type":"json","z":"80f5f744.445108","name":"Javascript - JSON Convert","property":"payload","action":"","pretty":false,"x":1422.283447265625,"y":2133.099884033203,"wires":[[]]},{"id":"26ef5e73.4b8efa","type":"comment","z":"80f5f744.445108","name":"JADE Interface (TU-Agent)","info":"","x":1090.8500213623047,"y":1970.2501220703125,"wires":[]},{"id":"e1ca5f61.90a6e","type":"comment","z":"80f5f744.445108","name":"TU Interface","info":"","x":107.58332824707031,"y":1978.3833618164062,"wires":[]},{"id":"55b8e11.1d77ea","type":"comment","z":"80f5f744.445108","name":"4.1 receiving enable request from VPP (Node-RED --> TU)","info":"","x":254.41668701171875,"y":2256.050048828125,"wires":[]},{"id":"d1b8a68c.b94a78","type":"http in","z":"80f5f744.445108","name":"","url":"/plc/freqRelay_block","method":"put","upload":false,"swaggerDoc":"","x":156.41668701171875,"y":2296.050048828125,"wires":[["e4523927.178c","a0b3e390.33211","d97e60c3.90a338"]]},{"id":"e4523927.178c","type":"http response","z":"80f5f744.445108","name":"Response","statusCode":"","headers":{},"x":237.41668701171875,"y":2334.050048828125,"wires":[]},{"id":"56719889.3efb7","type":"function","z":"80f5f744.445108","name":"Data from JSON Interface","func":"var tuName = msg.payload.InterfacePayloadAgentReference.tuName.toString();\n\npayload = \n{\n\"tuName\" : tuName\n}\nmsg.payload = payload;\n\n/* HTTP Header:\nif you have binary (non-alphanumeric) data \n(or a significantly sized payload) to transmit, \nuse multipart/form-data. Otherwise, use \napplication/x-www-form-urlencoded.\n*/\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":778.2500305175781,"y":2330.750045776367,"wires":[[]]},{"id":"40e09086.746b18","type":"comment","z":"80f5f744.445108","name":"Interface with data for the TU","info":"","x":785.4166870117188,"y":2258.050048828125,"wires":[]},{"id":"a0b3e390.33211","type":"xml","z":"80f5f744.445108","name":"to JSON","property":"payload","attr":"","chr":"","x":515.2500915527344,"y":2331.0000610351562,"wires":[["56719889.3efb7"]]},{"id":"d97e60c3.90a338","type":"function","z":"80f5f744.445108","name":"Data from XML Interface","func":"msg.payload = msg.payload;\n\n/* HTTP Header:\nif you have binary (non-alphanumeric) data \n(or a significantly sized payload) to transmit, \nuse multipart/form-data. Otherwise, use \napplication/x-www-form-urlencoded.\n*/\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":777.2500610351562,"y":2297.366714477539,"wires":[[]]},{"id":"439f28e9.300b78","type":"comment","z":"80f5f744.445108","name":"TU Interface","info":"","x":1054.4166870117188,"y":2263.0500411987305,"wires":[]},{"id":"d0e98114.3fe08","type":"comment","z":"80f5f744.445108","name":"4. FrequencyRelay Block","info":"","x":165.41668701171875,"y":2223.050048828125,"wires":[]},{"id":"5e2ff05f.ef2e18","type":"comment","z":"80f5f744.445108","name":"4.2 Sending answer to agent (Node-RED <-- TU)","info":"","x":221.2666778564453,"y":2408.4334716796875,"wires":[]},{"id":"8c8170a.6dca31","type":"function","z":"80f5f744.445108","name":"Payload_handler","func":"var tuName = msg.payload.tuName;\n\npayload = \n{\n\"tuName\": tuName\n}\n\nmsg.payload = payload;\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":864.2666931152344,"y":2510.533416748047,"wires":[["d8748aa7.c252e8"]]},{"id":"d8748aa7.c252e8","type":"http request","z":"80f5f744.445108","name":"freqRelay_blockFailure Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/tu-agent/freqRelay_blockFailure","tls":"","persist":false,"proxy":"","authType":"basic","x":1136.9666442871094,"y":2510.533416748047,"wires":[["34e5807e.5a4e5"]]},{"id":"34e5807e.5a4e5","type":"json","z":"80f5f744.445108","name":"Javascript - JSON Convert","property":"payload","action":"","pretty":false,"x":1385.4666595458984,"y":2510.5333862304688,"wires":[[]]},{"id":"8a650862.1bb3c","type":"function","z":"80f5f744.445108","name":"Payload_handler","func":"var tuName = msg.payload.tuName;\n\npayload = \n{\n\"tuName\": tuName\n}\n\nmsg.payload = payload;\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":865.1166687011719,"y":2475.3834228515625,"wires":[["81b3cd9a.9b02a8"]]},{"id":"81b3cd9a.9b02a8","type":"http request","z":"80f5f744.445108","name":"freqRelay_blockInform Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/tu-agent/freqRelay_blockInform","tls":"","persist":false,"proxy":"","authType":"basic","x":1125.8167419433594,"y":2475.3834228515625,"wires":[["c70b8a44.c699e8"]]},{"id":"c70b8a44.c699e8","type":"json","z":"80f5f744.445108","name":"Javascript - JSON Convert","property":"payload","action":"","pretty":false,"x":1384.3167572021484,"y":2475.3833923339844,"wires":[[]]},{"id":"f27e7b8c.3b9ef","type":"comment","z":"80f5f744.445108","name":"Payload description (JSON)","info":"//*****Example payload description *****//\n{ \ntuName: \"TUEmden0\" \n}","x":564.2666931152344,"y":2477.533416748047,"wires":[]},{"id":"e19bb2c.12bdc5","type":"comment","z":"80f5f744.445108","name":"Payload description (JSON)","info":"//*****Example payload description *****//\n{ \ntuName: \"TUEmden0\" \n}","x":564.2666931152344,"y":2514.533416748047,"wires":[]},{"id":"5f572083.d270e8","type":"comment","z":"80f5f744.445108","name":"***Value Simulation for this part***","info":"","x":201.2666778564453,"y":2557.6334838867188,"wires":[]},{"id":"bcb72486.d2934","type":"inject","z":"80f5f744.445108","name":"***test: inject a Failure ***","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190.2666778564453,"y":2632.6334533691406,"wires":[["225a7e4e.12ac72"]]},{"id":"9f1e8120.4a6908","type":"inject","z":"80f5f744.445108","name":"***test: inject a Inform***","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180.2666778564453,"y":2597.4834594726562,"wires":[["f1784c25.0c5af"]]},{"id":"225a7e4e.12ac72","type":"function","z":"80f5f744.445108","name":"setting example values","func":"payload = \n{\n\"tuName\": \"TU_Company1_SNL\"\n}\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510.8833465576172,"y":2632.18359375,"wires":[["a69122ff.bade6"]]},{"id":"f1784c25.0c5af","type":"function","z":"80f5f744.445108","name":"setting example values","func":"payload = \n{\n\"tuName\": \"TU_Company1_SNL\"\n}\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":511.11668395996094,"y":2596.4835815429688,"wires":[["5a9e1921.d0da78"]]},{"id":"a69122ff.bade6","type":"function","z":"80f5f744.445108","name":"Payload_handler","func":"var tuName = msg.payload.tuName;\n\npayload = \n{\n\"tuName\": tuName\n}\n\nmsg.payload = payload;\n\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":852.2667083740234,"y":2629.6334838867188,"wires":[["6c5c173c.aa5e48"]]},{"id":"5a9e1921.d0da78","type":"function","z":"80f5f744.445108","name":"Payload_handler","func":"var tuName = msg.payload.tuName;\n\npayload = \n{\n\"tuName\": tuName\n}\n\nmsg.payload = payload;\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":853.1166839599609,"y":2594.4834899902344,"wires":[["b0bf528f.73ad68"]]},{"id":"50d30882.ff28c","type":"json","z":"80f5f744.445108","name":"Javascript - JSON Convert","property":"payload","action":"","pretty":false,"x":1395.8499755859375,"y":2626.6336669921875,"wires":[[]]},{"id":"8258434c.4443f8","type":"json","z":"80f5f744.445108","name":"Javascript - JSON Convert","property":"payload","action":"","pretty":false,"x":1394.7000732421875,"y":2592.483673095703,"wires":[[]]},{"id":"f2b05727.ed78e","type":"comment","z":"80f5f744.445108","name":"JADE Interface (TU-Agent)","info":"","x":1106.2666931152344,"y":2434.633544921875,"wires":[]},{"id":"131f5d7b.fd9893","type":"comment","z":"80f5f744.445108","name":"TU Interface","info":"","x":123,"y":2442.7667846679688,"wires":[]},{"id":"b0bf528f.73ad68","type":"http request","z":"80f5f744.445108","name":"freqRelay_blockInform Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/tu-agent/freqRelay_blockInform","tls":"","persist":false,"proxy":"","authType":"basic","x":1099.8499755859375,"y":2591.85009765625,"wires":[["8258434c.4443f8"]]},{"id":"6c5c173c.aa5e48","type":"http request","z":"80f5f744.445108","name":"freqRelay_blockFailure Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/tu-agent/freqRelay_blockFailure","tls":"","persist":false,"proxy":"","authType":"basic","x":1110.9998779296875,"y":2627.0000915527344,"wires":[["50d30882.ff28c"]]},{"id":"575579a0.5b603","type":"comment","z":"80f5f744.445108","name":"5. FrequencyRelay Status","info":"","x":142.85000610351562,"y":2716.449951171875,"wires":[]},{"id":"3aac057.4e272fa","type":"comment","z":"80f5f744.445108","name":"5.2 Informing the VPP after triggering of the frequency relay (Node-RED <-- TU)","info":"","x":301.8500061035156,"y":2752.64990234375,"wires":[]},{"id":"41c718e.2326468","type":"function","z":"80f5f744.445108","name":"Payload_handler","func":"var tuName = msg.payload.tuName;\n\npayload = \n{\n\"tuName\": tuName\n}\n\nmsg.payload = payload;\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":855.6999969482422,"y":2819.599853515625,"wires":[["97230a77.95b6a8"]]},{"id":"97230a77.95b6a8","type":"http request","z":"80f5f744.445108","name":"freqRelay_triggered Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/tu-agent/freqRelay_triggered","tls":"","persist":false,"proxy":"","authType":"basic","x":1116.4000701904297,"y":2819.599853515625,"wires":[["5d6fd9c1.5dc518"]]},{"id":"5d6fd9c1.5dc518","type":"json","z":"80f5f744.445108","name":"Javascript - JSON Convert","property":"payload","action":"","pretty":false,"x":1374.9000854492188,"y":2819.599822998047,"wires":[[]]},{"id":"81d82cc3.cc3d58","type":"comment","z":"80f5f744.445108","name":"Payload description (JSON)","info":"//*****Example payload description *****//\n{ \ntuName: \"TUEmden0\" \n}","x":554.8500213623047,"y":2821.7498474121094,"wires":[]},{"id":"e34a7bf7.31c9e","type":"comment","z":"80f5f744.445108","name":"***Value Simulation for this part***","info":"","x":187.8500518798828,"y":2874.8500061035156,"wires":[]},{"id":"5fae2fa6.e0f098","type":"json","z":"80f5f744.445108","name":"Javascript - JSON Convert","property":"payload","action":"","pretty":false,"x":1381.283447265625,"y":2909.7001953125,"wires":[[]]},{"id":"7fe351cb.b7771","type":"comment","z":"80f5f744.445108","name":"JADE Interface (TU-Agent)","info":"","x":1096.8500213623047,"y":2778.8499755859375,"wires":[]},{"id":"4917c7fc.7537f","type":"comment","z":"80f5f744.445108","name":"TU Interface","info":"","x":113.58332824707031,"y":2786.9832153320312,"wires":[]},{"id":"73ecaab6.9828d4","type":"http request","z":"80f5f744.445108","name":"freqRelay_triggered Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/tu-agent/freqRelay_triggered","tls":"","persist":false,"proxy":"","authType":"basic","x":1110.8499755859375,"y":2907.85009765625,"wires":[[]]},{"id":"9f2536b1.52932","type":"inject","z":"80f5f744.445108","name":"***test: inject a Inform***","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":181.85000610351562,"y":2910.25,"wires":[["913974b3.dea25"]]},{"id":"913974b3.dea25","type":"function","z":"80f5f744.445108","name":"setting example values","func":"payload = \n{\n\"tuName\": \"TU_Company1_SNL\"\n}\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":502.4666748046875,"y":2909.8001403808594,"wires":[["7a2d8887.e8b2f"]]},{"id":"7a2d8887.e8b2f","type":"function","z":"80f5f744.445108","name":"Payload_handler","func":"var tuName = msg.payload.tuName;\n\npayload = \n{\n\"tuName\": tuName\n}\n\nmsg.payload = payload;\n\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":843.8500366210938,"y":2907.250030517578,"wires":[["73ecaab6.9828d4"]]},{"id":"200f096b.979586","type":"comment","z":"80f5f744.445108","name":"5.2 receiving confirmation from VPP (Node-RED --> TU)","info":"","x":235.85000610351562,"y":2959.449951171875,"wires":[]},{"id":"dee2a284.bebab","type":"http in","z":"80f5f744.445108","name":"","url":"/plc/freqRelay_confirm","method":"put","upload":false,"swaggerDoc":"","x":147.85000610351562,"y":2999.449951171875,"wires":[["12034ed3.5b55b1","c4dad680.4c11","79bde927.135d1"]]},{"id":"12034ed3.5b55b1","type":"http response","z":"80f5f744.445108","name":"Response","statusCode":"","headers":{},"x":228.85000610351562,"y":3037.449951171875,"wires":[]},{"id":"f0d47a3c.b4fea","type":"function","z":"80f5f744.445108","name":"Data from JSON Interface","func":"var tuName = msg.payload.InterfacePayloadAgentReference.tuName.toString();\n\npayload = \n{\n\"tuName\" : tuName\n}\nmsg.payload = payload;\n\n/* HTTP Header:\nif you have binary (non-alphanumeric) data \n(or a significantly sized payload) to transmit, \nuse multipart/form-data. Otherwise, use \napplication/x-www-form-urlencoded.\n*/\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":769.683349609375,"y":3034.149948120117,"wires":[[]]},{"id":"54fe9bf0.66d2b4","type":"comment","z":"80f5f744.445108","name":"Interface with data for the TU","info":"","x":776.8500061035156,"y":2961.449951171875,"wires":[]},{"id":"c4dad680.4c11","type":"xml","z":"80f5f744.445108","name":"to JSON","property":"payload","attr":"","chr":"","x":506.68341064453125,"y":3034.3999633789062,"wires":[["f0d47a3c.b4fea"]]},{"id":"79bde927.135d1","type":"function","z":"80f5f744.445108","name":"Data from XML Interface","func":"msg.payload = msg.payload;\n\n/* HTTP Header:\nif you have binary (non-alphanumeric) data \n(or a significantly sized payload) to transmit, \nuse multipart/form-data. Otherwise, use \napplication/x-www-form-urlencoded.\n*/\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":768.6833801269531,"y":3000.766616821289,"wires":[[]]},{"id":"76a67af7.f14914","type":"comment","z":"80f5f744.445108","name":"TU Interface","info":"","x":1045.8500061035156,"y":2966.4499435424805,"wires":[]},{"id":"221a66c2.132b82","type":"comment","z":"80f5f744.445108","name":"Payload description (String)","info":"//*****Example payload description *****//\n<InterfacePayloadAgentReference>\n<agentName>noNameSet</agentName>\n<tuName>TUEmdenCompany1</tuName>\n<referenceID>noIDSet</referenceID>\n</InterfacePayloadAgentReference>\n","x":1103.6666259765625,"y":2298.66650390625,"wires":[]},{"id":"c6b94bfd.5cc098","type":"comment","z":"80f5f744.445108","name":"Payload description (JSON)","info":"//*****Example payload description *****//\n{ \n    tuName: \"TUEmdenCompany0\"\n}","x":1104.6666259765625,"y":2329.66650390625,"wires":[]},{"id":"23d28def.f11252","type":"comment","z":"80f5f744.445108","name":"Payload description (String)","info":"//*****Example payload description *****//\n<InterfacePayloadAgentReference>\n<agentName>noNameSet</agentName>\n<tuName>TUEmdenCompany1</tuName>\n<referenceID>noIDSet</referenceID>\n</InterfacePayloadAgentReference>\n","x":1095.6666870117188,"y":3007.666748046875,"wires":[]},{"id":"8facf539.a90ea","type":"comment","z":"80f5f744.445108","name":"Payload description (JSON)","info":"//*****Example payload description *****//\n{ \n    tuName: \"TUEmdenCompany0\"\n}","x":1096.6666870117188,"y":3038.666748046875,"wires":[]},{"id":"fa8b421b.543a28","type":"debug","z":"80f5f744.445108","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1282.8571210588727,"y":1142.285701206752,"wires":[]}]