Node-RED/VPP-VPP-Agent.txt
[{"id":"7b0fa635.67ef5","type":"tab","label":"VPP - VPP-Agent","disabled":false,"info":""},{"id":"fd764160.c2182","type":"comment","z":"7b0fa635.67ef5","name":"1.1 Start Scheduling Process (VPP --> Node-RED)","info":"","x":214.11666870117188,"y":105.11666870117188,"wires":[]},{"id":"93d90be7.333288","type":"http request","z":"7b0fa635.67ef5","name":"scheduling_request Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/vpp-agent/scheduling_request","tls":"","persist":false,"proxy":"","authType":"basic","x":1118.3666687011719,"y":142.24996948242188,"wires":[[]]},{"id":"9806f44f.99d148","type":"comment","z":"7b0fa635.67ef5","name":"1. Scheduling Process","info":"","x":125.11666870117188,"y":73.11666870117188,"wires":[]},{"id":"263a31b6.930756","type":"http in","z":"7b0fa635.67ef5","name":"","url":"/vpp-agent/scheduling_request","method":"put","upload":false,"swaggerDoc":"","x":164.11666870117188,"y":142.11666870117188,"wires":[["6669f6db.483d","b7656f7e.47eaa"]]},{"id":"6669f6db.483d","type":"http response","z":"7b0fa635.67ef5","name":"Response","statusCode":"","headers":{},"x":173.11666870117188,"y":177.11666870117188,"wires":[]},{"id":"8bcbad15.6f18b","type":"function","z":"7b0fa635.67ef5","name":"Payload_handler","func":"var id = msg.payload.referenceID || 0; //id is an optional parameter\nvar serviceDescriptions = msg.payload.serviceDescriptions\nvar start = msg.payload.schedulingStart\nvar end = msg.payload.schedulingEnd\nvar expiration = msg.payload.expiration\n\n\nmsg.payload = {\n    \"referenceID\" : id,\n    \"serviceDescriptions\" : serviceDescriptions,\n    \"schedulingStart\" : start, \n    \"schedulingEnd\" : end, \n    \"expiration\" : expiration\n}\n\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":625.11669921875,"y":143.11666107177734,"wires":[["93d90be7.333288"]]},{"id":"b97afd77.1f1fc","type":"http in","z":"7b0fa635.67ef5","name":"","url":"/vpp/scheduling_schedulingPlan","method":"put","upload":false,"swaggerDoc":"","x":173.11666870117188,"y":329.11663818359375,"wires":[["6703c2bf.318abc","1d3de801.a9daa"]]},{"id":"6703c2bf.318abc","type":"http response","z":"7b0fa635.67ef5","name":"Response","statusCode":"","headers":{},"x":179.41665649414062,"y":362.1166687011719,"wires":[]},{"id":"64ba4993.89a87","type":"comment","z":"7b0fa635.67ef5","name":"1.2 Sending the Scheduling Plans to the VPP (VPP <-- Node-RED)","info":"","x":263.1166687011719,"y":221.11663818359375,"wires":[]},{"id":"9afb9c24.47be2","type":"http in","z":"7b0fa635.67ef5","name":"","url":"/vpp/scheduling_schedulingPlanInfos","method":"put","upload":false,"swaggerDoc":"","x":184,"y":255.2166748046875,"wires":[["596579dd.a4621","90cc8d6.837fa7"]]},{"id":"596579dd.a4621","type":"http response","z":"7b0fa635.67ef5","name":"Response","statusCode":"","headers":{},"x":177.11666870117188,"y":287.2166748046875,"wires":[]},{"id":"6926c4e6.6beeac","type":"function","z":"7b0fa635.67ef5","name":"Payload_handler","func":"var schedulingPlanInfos = msg.payload.InterfacePayloadAgentReference.referenceID[0]; \nvar tuName = msg.payload.InterfacePayloadAgentReference.tuName[0];\n\n\n\nmsg.payload = {\n    \"schedulingPlanReference\" : schedulingPlanInfos,\n    \"tuName\" : tuName\n}\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\n\n// providing variables for the UI:\n//flow.set(\"schedulingPlanInfos\",schedulingPlanInfos);\n//global.set(\"schedulingPlanInfos\",schedulingPlanInfos);\n///var schedulingPlanInfos = flow.get(\"schedulingPlanInfos\");\n//global.get(\"arrayString\").push(schedulingPlanInfos);\n\n\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":623.11669921875,"y":255.2166748046875,"wires":[["40217cd9.f4f25c"]]},{"id":"1d3de801.a9daa","type":"function","z":"7b0fa635.67ef5","name":"Payload_handler","func":"var schedulingPlanInfos = flow.get('schedulingPlanInfos');\n//use filename if you want to save the file in a local folder (save to folder node)\nmsg.filename = 'C:/Users/Woltmann/Desktop/VPP_Folder/'+schedulingPlanInfos+'.xml';\nmsg.payload = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":624.9500732421875,"y":328.8166198730469,"wires":[[]]},{"id":"1eb27538.8fd263","type":"http request","z":"7b0fa635.67ef5","name":"Endpoint of VPP","method":"PUT","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":1078.2999877929688,"y":254.11666870117188,"wires":[[]]},{"id":"a8c8de28.e92298","type":"comment","z":"7b0fa635.67ef5","name":"VPP Interface","info":"","x":1067.2999877929688,"y":218.11666870117188,"wires":[]},{"id":"b93374a1.44b6d8","type":"http request","z":"7b0fa635.67ef5","name":"Endpoint of VPP","method":"PUT","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":1076.5667114257812,"y":329.1166687011719,"wires":[[]]},{"id":"5bc8f24a.c8071c","type":"comment","z":"7b0fa635.67ef5","name":"1.3 Accepting or Rejecting the Proposals (VPP --> Node-RED)","info":"","x":238.11666870117188,"y":473.11663818359375,"wires":[]},{"id":"84d76edd.8b01a","type":"http in","z":"7b0fa635.67ef5","name":"","url":"/vpp-agent/scheduling_accept-proposal","method":"put","upload":false,"swaggerDoc":"","x":186.11666870117188,"y":507.21661376953125,"wires":[["70d6390a.c9915","260fa31f.9b694c"]]},{"id":"40a19a7.cbd8b64","type":"http in","z":"7b0fa635.67ef5","name":"","url":"/vpp-agent/scheduling_reject-proposal","method":"put","upload":false,"swaggerDoc":"","x":186.11666870117188,"y":580.2166137695312,"wires":[["9b8a2c67.c398a8","7ae1d2c0.d88814"]]},{"id":"dfc6ced.16699b","type":"function","z":"7b0fa635.67ef5","name":"Payload_handler","func":"var schedulingPlanReference = msg.payload.schedulingPlanReference;\nvar start = msg.payload.schedulingStart;\nvar end = msg.payload.schedulingEnd;\n\n\nmsg.payload = {\n    \"schedulingPlanReference\" : schedulingPlanReference,\n    \"schedulingStart\" : start, \n    \"schedulingEnd\" : end, \n}\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":622.1166381835938,"y":506.21661376953125,"wires":[["c7d830c5.e26b5"]]},{"id":"79d6989b.6a14f","type":"function","z":"7b0fa635.67ef5","name":"Payload_handler","func":"var schedulingPlanReference = msg.payload.schedulingPlanReference;\n\nmsg.payload = {\n    \"schedulingPlanReference\" : schedulingPlanReference,\n}\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":622.1166687011719,"y":580.2166137695312,"wires":[["95950400.6683d"]]},{"id":"c6836fee.9343a8","type":"comment","z":"7b0fa635.67ef5","name":"1.4 Receiving Inform or Failure of TU (VPP <-- Node-RED)","info":"","x":228.11666870117188,"y":655.416748046875,"wires":[]},{"id":"89847d8.fd27c8","type":"http in","z":"7b0fa635.67ef5","name":"","url":"/vpp/scheduling_failure","method":"put","upload":false,"swaggerDoc":"","x":137.11666870117188,"y":765.7166442871094,"wires":[["a26d953a.c69d4","7995e15c.5fec78"]]},{"id":"a26d953a.c69d4","type":"http response","z":"7b0fa635.67ef5","name":"Response","statusCode":"","headers":{},"x":173.41665649414062,"y":800.7166137695312,"wires":[]},{"id":"2a7b5b73.6f8b9c","type":"http in","z":"7b0fa635.67ef5","name":"","url":"/vpp/scheduling_done","method":"put","upload":false,"swaggerDoc":"","x":129,"y":691.8167114257812,"wires":[["40cc27ff.3375d","f8dfe605.43a1d8"]]},{"id":"40cc27ff.3375d","type":"http response","z":"7b0fa635.67ef5","name":"Response","statusCode":"","headers":{},"x":175.11666870117188,"y":726.8167419433594,"wires":[]},{"id":"dc6fc640.e2eb68","type":"function","z":"7b0fa635.67ef5","name":"Payload_handler","func":"var schedulingPlanInfos = msg.payload.InterfacePayloadAgentReference.referenceID[0]; \nvar tuName = msg.payload.InterfacePayloadAgentReference.tuName[0];\n\nmsg.payload = {\n    \"schedulingPlanReference\" : schedulingPlanInfos,\n    \"tuName\" : tuName\n}\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":623.11669921875,"y":691.8167419433594,"wires":[["cd761dcc.9ca9"]]},{"id":"c7d830c5.e26b5","type":"http request","z":"7b0fa635.67ef5","name":"scheduling_accept-proposal Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/vpp-agent/scheduling_accept-proposal","tls":"","persist":false,"proxy":"","authType":"basic","x":1141,"y":504.99993896484375,"wires":[[]]},{"id":"95950400.6683d","type":"http request","z":"7b0fa635.67ef5","name":"scheduling_reject-proposal Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/vpp-agent/scheduling_reject-proposal","tls":"","persist":false,"proxy":"","authType":"basic","x":1142,"y":579.9999389648438,"wires":[[]]},{"id":"2b3c2051.b748d8","type":"http request","z":"7b0fa635.67ef5","name":"Endpoint of VPP","method":"PUT","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":1076.7833251953125,"y":690.6166687011719,"wires":[[]]},{"id":"8fdfe174.ac4e58","type":"http request","z":"7b0fa635.67ef5","name":"Endpoint of VPP","method":"PUT","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":1079.0499267578125,"y":766.6166687011719,"wires":[[]]},{"id":"7364643d.31052c","type":"function","z":"7b0fa635.67ef5","name":"Payload_handler","func":"var schedulingPlanInfos = msg.payload.InterfacePayloadAgentReference.referenceID[0]; \nvar tuName = msg.payload.InterfacePayloadAgentReference.tuName[0];\n\nmsg.payload = {\n    \"schedulingPlanReference\" : schedulingPlanInfos,\n    \"tuName\" : tuName\n}\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620.11669921875,"y":764.61669921875,"wires":[["3e3fd9bd.e7f1a6"]]},{"id":"752760e3.511c88","type":"http in","z":"7b0fa635.67ef5","name":"","url":"/vpp/scheduling_refuse","method":"put","upload":false,"swaggerDoc":"","x":142.85000610351562,"y":403.8500061035156,"wires":[["13af9462.45515c","a4ba88a2.2feec"]]},{"id":"13af9462.45515c","type":"http response","z":"7b0fa635.67ef5","name":"Response","statusCode":"","headers":{},"x":177.14999389648438,"y":438.85003662109375,"wires":[]},{"id":"316b4f43.5946a8","type":"function","z":"7b0fa635.67ef5","name":"Payload_handler","func":"var schedulingPlanInfos = msg.payload.InterfacePayloadAgentReference.referenceID[0]; \nvar tuName = msg.payload.InterfacePayloadAgentReference.tuName[0];\n\nmsg.payload = {\n    \"schedulingPlanReference\" : schedulingPlanInfos,\n    \"tuName\" : tuName\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":625.683349609375,"y":403.54998779296875,"wires":[[]]},{"id":"865123ce.69afe8","type":"http request","z":"7b0fa635.67ef5","name":"Endpoint of VPP","method":"PUT","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":1076.8499145507812,"y":402.8500061035156,"wires":[[]]},{"id":"d822ac63.b430e8","type":"comment","z":"7b0fa635.67ef5","name":"2.1 Sending out a new Setpoint to TU (VPP --> Node-RED)","info":"","x":233.11669921875,"y":901.916748046875,"wires":[]},{"id":"1e3a2347.f610fd","type":"http in","z":"7b0fa635.67ef5","name":"","url":"/vpp-agent/control_newSetpoint","method":"put","upload":false,"swaggerDoc":"","x":163.11669921875,"y":940.0165405273438,"wires":[["9947715.a48e99","eda31a89.b4951","91cb935e.4dddf"]]},{"id":"eda31a89.b4951","type":"function","z":"7b0fa635.67ef5","name":"Payload_handler","func":"var tuName = msg.payload.tuName || \"noNameSet\";\nvar newSetpoint = msg.payload.newSetpoint;\n\n\nmsg.payload = {\n    \"tuName\" : tuName, \n    \"newSetpoint\" : newSetpoint\n}\n\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":617.1166076660156,"y":939.0166625976562,"wires":[[]]},{"id":"4b13d705.4dca3","type":"http request","z":"7b0fa635.67ef5","name":"control_newSetpoint Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/vpp-agent/control_newSetpoint","tls":"","persist":false,"proxy":"","authType":"basic","x":1126.0000305175781,"y":939.7999877929688,"wires":[[]]},{"id":"b5abb43c.0ee84","type":"comment","z":"7b0fa635.67ef5","name":"3.1 Requesting balancing (VPP --> Node-RED)","info":"","x":201.11671447753906,"y":1330.0166015625,"wires":[]},{"id":"8eaa7754.ddfe7","type":"http request","z":"7b0fa635.67ef5","name":"balancing_subscribe Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/vpp-agent/balancing_subscribe","tls":"","persist":false,"proxy":"","authType":"basic","x":1128.4500885009766,"y":1366.8665771484375,"wires":[[]]},{"id":"89ee77c2.708c18","type":"function","z":"7b0fa635.67ef5","name":"Payload_handler","func":"var balancingTUName = msg.payload.balancingTUName;\nvar balancingUpdateRate = msg.payload.balancingUpdateRate;\nvar balancingStart = msg.payload.balancingStart;\nvar balancingEnd = msg.payload.balancingEnd;\nvar balancingReferenceID = msg.payload.balancingReferenceID;\n\nmsg.payload = {\n   \"balancingTUName\" : balancingTUName,\n   \"balancingStart\" : balancingStart,\n   \"balancingEnd\" : balancingEnd,\n   \"balancingUpdateRate\" : balancingUpdateRate,\n   \"balancingReferenceID\" : balancingReferenceID\n}\n\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":607.1167144775391,"y":1367.216552734375,"wires":[[]]},{"id":"8ea13f38.9cf77","type":"http in","z":"7b0fa635.67ef5","name":"","url":"/vpp-agent/balancing_subscribe","method":"put","upload":false,"swaggerDoc":"","x":172.11671447753906,"y":1367.216552734375,"wires":[["89ee77c2.708c18","ea219ae5.fee2b8","2e0ffecf.c10d12"]]},{"id":"3d8a33c1.6fd7ac","type":"http in","z":"7b0fa635.67ef5","name":"","url":"/vpp/control_failure","method":"put","upload":false,"swaggerDoc":"","x":122.11666870117188,"y":1197.11669921875,"wires":[["f7c3d01c.268b8","791a0152.12eef8"]]},{"id":"f7c3d01c.268b8","type":"http response","z":"7b0fa635.67ef5","name":"Response","statusCode":"","headers":{},"x":178.41665649414062,"y":1231.1168212890625,"wires":[]},{"id":"d9489e48.16b4","type":"http request","z":"7b0fa635.67ef5","name":"Endpoint of VPP","method":"PUT","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":1074.0499572753906,"y":1199.0167846679688,"wires":[[]]},{"id":"191fee6d.4393e2","type":"function","z":"7b0fa635.67ef5","name":"Payload_handler","func":"var agentName = msg.payload.InterfacePayloadAgentReference.agentName[0];\nvar tuName = msg.payload.InterfacePayloadAgentReference.tuName[0];\n\nmsg.payload = {\n    \"tuName\" : tuName\n}\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":617.1166687011719,"y":1198.0167846679688,"wires":[[]]},{"id":"76051960.573808","type":"comment","z":"7b0fa635.67ef5","name":"2.2 Receiving Failure message (if failed) (VPP <-- Node-RED)","info":"","x":241.00003051757812,"y":1162,"wires":[]},{"id":"cfa47ae8.1f7db8","type":"http in","z":"7b0fa635.67ef5","name":"","url":"/vpp/balancing_agree","method":"put","upload":false,"swaggerDoc":"","x":130.0000457763672,"y":1470,"wires":[["ac75addb.af8b6","20950556.1415ea"]]},{"id":"ac75addb.af8b6","type":"http response","z":"7b0fa635.67ef5","name":"Response","statusCode":"","headers":{},"x":175.300048828125,"y":1505,"wires":[]},{"id":"4ef05b9f.399b04","type":"http request","z":"7b0fa635.67ef5","name":"Endpoint of VPP","method":"PUT","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":1074.9333038330078,"y":1472.9000549316406,"wires":[[]]},{"id":"a664297.b3e5c58","type":"function","z":"7b0fa635.67ef5","name":"Payload_handler","func":"var agentName = msg.payload.InterfacePayloadAgentReference.agentName[0];\nvar tuName = msg.payload.InterfacePayloadAgentReference.tuName[0];\n\nmsg.payload = {\n    \"agentName\" : agentName,\n    \"tuName\" : tuName\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610.0000152587891,"y":1470.9000244140625,"wires":[[]]},{"id":"4ca490c8.1561d","type":"comment","z":"7b0fa635.67ef5","name":"3.1 VPP <-- Node-RED: receiving agree or refuse message","info":"","x":230.0000457763672,"y":1435,"wires":[]},{"id":"20295959.21889e","type":"http in","z":"7b0fa635.67ef5","name":"","url":"/vpp/balancing_refuse","method":"put","upload":false,"swaggerDoc":"","x":131.0000457763672,"y":1540,"wires":[["ea7915aa.5d8b8","9cc309a6.f888c"]]},{"id":"ea7915aa.5d8b8","type":"http response","z":"7b0fa635.67ef5","name":"Response","statusCode":"","headers":{},"x":173.300048828125,"y":1577,"wires":[]},{"id":"2b12ad8c.bad76a","type":"http request","z":"7b0fa635.67ef5","name":"Endpoint of VPP","method":"PUT","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":1075.933364868164,"y":1541.9000549316406,"wires":[[]]},{"id":"e805ebda.c14dd8","type":"function","z":"7b0fa635.67ef5","name":"Payload_handler","func":"var agentName = msg.payload.InterfacePayloadAgentReference.agentName[0];\nvar tuName = msg.payload.InterfacePayloadAgentReference.tuName[0];\n\nmsg.payload = {\n    \"agentName\" : agentName,\n    \"tuName\" : tuName\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":609.0000152587891,"y":1541.9000244140625,"wires":[[]]},{"id":"970aecc6.1192f8","type":"http in","z":"7b0fa635.67ef5","name":"","url":"/vpp/balancing_failure","method":"put","upload":false,"swaggerDoc":"","x":128.0000457763672,"y":1723,"wires":[["86b8f800.d93","47915bc6.0a05d4"]]},{"id":"86b8f800.d93","type":"http response","z":"7b0fa635.67ef5","name":"Response","statusCode":"","headers":{},"x":170.30003356933594,"y":1759.0000305175781,"wires":[]},{"id":"4d5c70a0.f49a6","type":"http request","z":"7b0fa635.67ef5","name":"Endpoint of VPP","method":"PUT","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":1069.933364868164,"y":1718.89990234375,"wires":[[]]},{"id":"a5b69353.5ca578","type":"function","z":"7b0fa635.67ef5","name":"Payload_handler","func":"var agentName = msg.payload.InterfacePayloadAgentReference.agentName[0];\nvar tuName = msg.payload.InterfacePayloadAgentReference.tuName[0];\n\nmsg.payload = {\n    \"agentName\" : agentName,\n    \"tuName\" : tuName\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":609.0000762939453,"y":1722.9000244140625,"wires":[[]]},{"id":"c89d360.a68b4c8","type":"comment","z":"7b0fa635.67ef5","name":"3.2 VPP <-- Node-RED: receiving balancing data or failure message","info":"","x":257.0000457763672,"y":1616,"wires":[]},{"id":"e852285b.0a9b58","type":"http in","z":"7b0fa635.67ef5","name":"","url":"/vpp/balancing_inform","method":"put","upload":false,"swaggerDoc":"","x":128.0000457763672,"y":1651,"wires":[["5aec6876.b400b","d7277b7a.9617e"]]},{"id":"5aec6876.b400b","type":"http response","z":"7b0fa635.67ef5","name":"Response","statusCode":"","headers":{},"x":170.30003356933594,"y":1687.0000305175781,"wires":[]},{"id":"80d062f8.8bbd9","type":"http request","z":"7b0fa635.67ef5","name":"Endpoint of VPP","method":"PUT","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":1069.933364868164,"y":1644.9000244140625,"wires":[[]]},{"id":"dd27c947.5c265","type":"function","z":"7b0fa635.67ef5","name":"Payload_handler","func":"var tuName = msg.payload.BalancingSequenceInform.tuName[0];\nvar agentName = msg.payload.BalancingSequenceInform.agentName[0];\nvar feedIn = msg.payload.BalancingSequenceInform.tudataSet[0].feedIn[0];\nvar operatingPoint = msg.payload.BalancingSequenceInform.tudataSet[0].operatingPoint[0];\nvar leadingOperatingPoint = msg.payload.BalancingSequenceInform.tudataSet[0].leadingOperatingPoint[0];\nvar currentValueFR = msg.payload.BalancingSequenceInform.tudataSet[0].currentValueFR[0];\nvar assignedPool = msg.payload.BalancingSequenceInform.tudataSet[0].assignedPool[0];\nvar status = msg.payload.BalancingSequenceInform.tudataSet[0].status[0];\nvar frequency = msg.payload.BalancingSequenceInform.tudataSet[0].frequency[0];\nvar aFRRsetpoint = msg.payload.BalancingSequenceInform.tudataSet[0].aFRRsetpoint[0];\nvar aFRRsetpointEcho = msg.payload.BalancingSequenceInform.tudataSet[0].aFRRsetpointEcho[0];\nvar setpointFR = msg.payload.BalancingSequenceInform.tudataSet[0].setpointFR[0];\nvar aFRRGradientPOS = msg.payload.BalancingSequenceInform.tudataSet[0].aFRRGradientPOS[0];\nvar aFRRGradientNEG = msg.payload.BalancingSequenceInform.tudataSet[0].aFRRGradientNEG[0];\nvar capacityPOS = msg.payload.BalancingSequenceInform.tudataSet[0].capacityPOS[0];\nvar capacityNEG = msg.payload.BalancingSequenceInform.tudataSet[0].capacityNEG[0];\nvar holdingCapacityPOS = msg.payload.BalancingSequenceInform.tudataSet[0].holdingCapacityPOS[0];\nvar holdingCapacityNEG = msg.payload.BalancingSequenceInform.tudataSet[0].holdingCapacityNEG[0];\nvar controlBandPOS = msg.payload.BalancingSequenceInform.tudataSet[0].controlBandPOS[0];\nvar controlBandNEG = msg.payload.BalancingSequenceInform.tudataSet[0].controlBandNEG[0];\n\npayload = \n{\n    \"tuName\": tuName,  \n    \"agentName\" : agentName,\n\t\"feedIn\" : feedIn,\t\t\t\t                //Einspeisung\n\t\"operatingPoint\" : operatingPoint,\t \t\t    //Arbeitspunkt\n    \"leadingOperatingPoint\" : leadingOperatingPoint,\t//vorauseilender Arbeitspunkt\n    \"currentValueFR\" : currentValueFR,\t\t\t    //Regelleistungsistwert\n\t\"assignedPool\" : assignedPool,\t\t\t        //Poolzuordnung\n    \"status\" : status,\t\t\t\t\t            //Status (Meldung)\n\t\"frequency\" : frequency,\t\t\t\t        //Frequenz\n\t\"aFRRsetpoint\" : aFRRsetpoint,\t\t            //aFRR-Soll (ÜNB -> POOL)\n\t\"aFRRsetpointEcho\" : aFRRsetpointEcho,\t\t    //aFRR-Soll-Echo (Pool -> ÜNB)\n\t\"setpointFR\" : setpointFR,\t\t\t        \t//Regelleistungs-Soll\n\t\"aFRRGradientPOS\" : aFRRGradientPOS,\t    \t//aFRR-Gradient POS\n\t\"aFRRGradientNEG\" : aFRRGradientNEG,\t\t    //aFRR-Gradient NEG\n\t\"capacityPOS\" : capacityPOS,\t\t\t        //Arbeitsvermögen POS (bei begrenztem Energiespeicher)\n\t\"capacityNEG\" : capacityNEG,\t\t        \t//Arbeitsvermögen NEG (bei begrenzten Energiespeicher)\n\t\"holdingCapacityPOS\" : holdingCapacityPOS,\t\t//Aktuelle Vorhalteleistung POS\n\t\"holdingCapacityNEG\" : holdingCapacityNEG,\t\t//Aktuelle Vorhalteleistung NEG\n\t\"controlBandPOS\" : controlBandPOS,\t\t\t    //Regelband POS\n\t\"controlBandNEG\" : controlBandNEG\t\t\t    //Regelband NEG\n}\n\nmsg.payload = payload;\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\n\n//Needed for UI Tests:\n//global.set(\"arrayStringBalancing\",payload);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":609.0000762939453,"y":1650.9000244140625,"wires":[["d7e193fb.e97838"]]},{"id":"791a0152.12eef8","type":"xml","z":"7b0fa635.67ef5","name":"to JSON","property":"payload","attr":"","chr":"","x":449.95001220703125,"y":1198.4666137695312,"wires":[["191fee6d.4393e2"]]},{"id":"20950556.1415ea","type":"xml","z":"7b0fa635.67ef5","name":"to JSON","property":"payload","attr":"","chr":"","x":444.11671447753906,"y":1470.5167236328125,"wires":[["a664297.b3e5c58"]]},{"id":"9cc309a6.f888c","type":"xml","z":"7b0fa635.67ef5","name":"to JSON","property":"payload","attr":"","chr":"","x":442.11671447753906,"y":1541.7166748046875,"wires":[["e805ebda.c14dd8"]]},{"id":"d7277b7a.9617e","type":"xml","z":"7b0fa635.67ef5","name":"to JSON","property":"payload","attr":"","chr":"","x":443.11669921875,"y":1650.7166748046875,"wires":[["dd27c947.5c265"]]},{"id":"47915bc6.0a05d4","type":"xml","z":"7b0fa635.67ef5","name":"to JSON","property":"payload","attr":"","chr":"","x":443.11669921875,"y":1722.7166748046875,"wires":[["a5b69353.5ca578"]]},{"id":"955d08cb.ebe59","type":"comment","z":"7b0fa635.67ef5","name":"2. TU Control Sequence","info":"","x":124.00003051757812,"y":869.7166748046875,"wires":[]},{"id":"f8ced7f2.876ed8","type":"comment","z":"7b0fa635.67ef5","name":"3. TU Balancing","info":"","x":101.00004577636719,"y":1298.300048828125,"wires":[]},{"id":"6f7e558c.3ed5d4","type":"http in","z":"7b0fa635.67ef5","name":"","url":"/vpp/accounting_energyConsumptionProfileReference","method":"put","upload":false,"swaggerDoc":"","x":230.85003662109375,"y":1977.64990234375,"wires":[["b5c11512.7832a","24bcedde.901022"]]},{"id":"b5c11512.7832a","type":"http response","z":"7b0fa635.67ef5","name":"Response","statusCode":"","headers":{},"x":179.1500244140625,"y":2012.6499328613281,"wires":[]},{"id":"d32af972.122d08","type":"comment","z":"7b0fa635.67ef5","name":"4.1 VPP <-- Node-RED: sending the energy consumption profiles to the VPP ","info":"","x":289.85003662109375,"y":1861.64990234375,"wires":[]},{"id":"674a876.c3cc6f8","type":"http in","z":"7b0fa635.67ef5","name":"","url":"/vpp/accounting_energyConsumptionProfile","method":"put","upload":false,"swaggerDoc":"","x":200.73336791992188,"y":1904.7499389648438,"wires":[["ec1a4d89.414b4","deb11ce8.5d735"]]},{"id":"ec1a4d89.414b4","type":"http response","z":"7b0fa635.67ef5","name":"Response","statusCode":"","headers":{},"x":174.85003662109375,"y":1940.75,"wires":[]},{"id":"91a3c6e6.afba58","type":"function","z":"7b0fa635.67ef5","name":"Payload_handler","func":"var tuName = msg.payload.InterfacePayloadAgentReference.tuName[0];\n\n\nmsg.payload = {\n    \"tuName\" : tuName\n}\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\n\n//code for UI Test:\n//global.set(\"arrayStringAccounting\",msg.payload);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":718.4214401245117,"y":1976.7499885559082,"wires":[["4dfb481c.c9f398"]]},{"id":"deb11ce8.5d735","type":"function","z":"7b0fa635.67ef5","name":"Payload_handler","func":"var schedulingPlanInfos = flow.get('energyConsumptionProfile');\n//filename needed for \"file node\", if you want to locally save the file\nmsg.filename = 'C:/Users/Woltmann/Desktop/VPP_Folder/'+schedulingPlanInfos+'.xml';\nmsg.payload = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":719.6832275390625,"y":1904.349609375,"wires":[[]]},{"id":"9cee7dfa.9adaa8","type":"http request","z":"7b0fa635.67ef5","name":"Endpoint of VPP","method":"PUT","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":1172.0333251953125,"y":1902.64990234375,"wires":[[]]},{"id":"df50ecce.f12f08","type":"http request","z":"7b0fa635.67ef5","name":"Endpoint of VPP","method":"PUT","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":1171.2999267578125,"y":1973.64990234375,"wires":[[]]},{"id":"99b82672.989498","type":"comment","z":"7b0fa635.67ef5","name":"4. Accounting","info":"","x":90.85003662109375,"y":1827.449951171875,"wires":[]},{"id":"24bcedde.901022","type":"xml","z":"7b0fa635.67ef5","name":"to JSON","property":"payload","attr":"","chr":"","x":550.8499755859375,"y":1977.050048828125,"wires":[["91a3c6e6.afba58"]]},{"id":"a5c124b5.33e078","type":"function","z":"7b0fa635.67ef5","name":"Payload_handler","func":"var tuName = msg.payload.tuName;\n\npayload = \n{\n\"tuName\": tuName\n}\n\nmsg.payload = payload;\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":625.85009765625,"y":2076.8502197265625,"wires":[["c9286592.2b2a4"]]},{"id":"c9286592.2b2a4","type":"http request","z":"7b0fa635.67ef5","name":"accounting_ECPReceived Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/vpp-agent/accounting_ECPReceived","tls":"","persist":false,"proxy":"","authType":"basic","x":1149.550048828125,"y":2079.8499755859375,"wires":[[]]},{"id":"cb798789.4f5418","type":"comment","z":"7b0fa635.67ef5","name":"4.2 Confirming the ECP has been received (VPP --> Node-RED)","info":"","x":252.85000610351562,"y":2047.4500732421875,"wires":[]},{"id":"4f37ff3d.8db8c","type":"http in","z":"7b0fa635.67ef5","name":"","url":"/vpp-agent/accounting_ECPReceived","method":"put","upload":false,"swaggerDoc":"","x":184,"y":2082.0501708984375,"wires":[["35f8281d.faff2","9395992a.39d0e8"]]},{"id":"6306d75c.a18c","type":"comment","z":"7b0fa635.67ef5","name":"5. (A) LoadTimeWindowsShare-Process via direct request","info":"","x":238.00003051757812,"y":2183,"wires":[]},{"id":"cc4d3e1a.b345c","type":"http in","z":"7b0fa635.67ef5","name":"","url":"/vpp-agent/loadTimeWindows_inform","method":"put","upload":false,"swaggerDoc":"","x":186.00003051757812,"y":2357.0001220703125,"wires":[["1b94c58a.f73582","78732cad.49bf54"]]},{"id":"1b94c58a.f73582","type":"http response","z":"7b0fa635.67ef5","name":"Response","statusCode":"","headers":{},"x":186.00003051757812,"y":2393,"wires":[]},{"id":"78732cad.49bf54","type":"function","z":"7b0fa635.67ef5","name":"Payload_handler","func":"var loadTimeWindowsReference = msg.payload.loadTimeWindowsReference;\nvar windowHighBegin = msg.payload.windowHighBegin;\nvar windowHighEnd = msg.payload.windowHighEnd;\nvar windowLowBegin = msg.payload.windowLowBegin;\nvar windowLowEnd = msg.payload.windowLowEnd;\n\npayload = \n{\n    \"loadTimeWindowsReference\": loadTimeWindowsReference,\n    \"windowHighBegin\" : windowHighBegin,\n    \"windowHighEnd\" :windowHighEnd,\n    \"windowLowBegin\" : windowLowBegin,\n    \"windowLowEnd\" : windowLowEnd\n}\n\n\nmsg.payload = payload;\n\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620.6334838867188,"y":2356.30029296875,"wires":[["86fd511a.b8fda"]]},{"id":"86fd511a.b8fda","type":"http request","z":"7b0fa635.67ef5","name":"loadTimeWindows_inform Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/vpp-agent/loadTimeWindows_inform","tls":"","persist":false,"proxy":"","authType":"","x":1154.633544921875,"y":2356.3004150390625,"wires":[[]]},{"id":"a8117b63.6a188","type":"comment","z":"7b0fa635.67ef5","name":"5.2 Requesting the VPP to share the LoadTimeWindows (Node-RED <-- VPP)","info":"","x":296.0000305175781,"y":2322,"wires":[]},{"id":"2318e0df.817d9","type":"comment","z":"7b0fa635.67ef5","name":"Payload description (JSON)","info":"//*****Example payload description *****//\n{\n    \"loadTimeWindowsReference\" : \"Tariff22\",\n    \"windowHighBegin\" : \"2020-02-18 05:00:00.0\",\n    \"windowHighEnd\" : \"2020-02-18 07:00:00.0\",\n    \"windowLowBegin\" : \"2020-08-18 05:00:00.0\",\n    \"windowLowEnd\" : \"2020-08-18 07:00:00.0\"\n}\n","x":458.00006103515625,"y":2389.10009765625,"wires":[]},{"id":"7803cad9.a821dc","type":"function","z":"7b0fa635.67ef5","name":"Payload_handler","func":"payload = {\n    \"loadTimeWindowsReference\" : \"Tariff22\",\n    \"windowHighBegin\" : \"2020-02-18 05:00:00.0\",\n    \"windowHighEnd\" : \"2020-02-18 07:00:00.0\",\n    \"windowLowBegin\" : \"2020-08-18 05:00:00.0\",\n    \"windowLowEnd\" : \"2020-08-18 07:00:00.0\"\n}\nmsg.payload = payload;\n\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":618.6334228515625,"y":2469.400390625,"wires":[["86fd511a.b8fda"]]},{"id":"34042585.8fcd3a","type":"comment","z":"7b0fa635.67ef5","name":"********** TESTING *************","info":"//*****Example payload description *****//\n{ \nreference: \"tariff22\" \n}","x":159.00003051757812,"y":2437.2001953125,"wires":[]},{"id":"f2935e79.b2095","type":"inject","z":"7b0fa635.67ef5","name":"**TEST**Inject LoadTimeWindows to Agent","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":215.00003051757812,"y":2471,"wires":[["7803cad9.a821dc"]]},{"id":"fa84c689.a05538","type":"comment","z":"7b0fa635.67ef5","name":"5.1 Receiving the LoadTimeWindows (VPP <-- Node-RED)","info":"","x":238,"y":2217.033203125,"wires":[]},{"id":"16e4330f.07cf35","type":"http in","z":"7b0fa635.67ef5","name":"","url":"/vpp/loadTimeWindows_request","method":"put","upload":false,"swaggerDoc":"","x":167,"y":2253.1331787109375,"wires":[["d5253f40.a9b318","2fa571b6.1e4c56"]]},{"id":"d5253f40.a9b318","type":"http response","z":"7b0fa635.67ef5","name":"Response","statusCode":"","headers":{},"x":183,"y":2286.13330078125,"wires":[]},{"id":"2417057e.0beb4a","type":"function","z":"7b0fa635.67ef5","name":"Payload_handler","func":"var loadTimeWindowsReference = msg.payload.InterfacePayloadLoadTimeWindows.loadTimeWindowsReference[0];\n//var windowHighBegin = msg.payload.InterfacePayloadLoadTimeWindows.windowHighBegin[0];\n//var windowHighEnd = msg.payload.InterfacePayloadLoadTimeWindows.windowHighEnd[0];\n//var windowLowBegin = msg.payload.InterfacePayloadLoadTimeWindows.windowLowBegin[0];\n//var windowLowEnd = msg.payload.InterfacePayloadLoadTimeWindows.windowLowEnd[0];\n\nmsg.payload = {\n    \"loadTimeWindowsReference\" : loadTimeWindowsReference,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":617.8333740234375,"y":2255.8330078125,"wires":[[]]},{"id":"2fa571b6.1e4c56","type":"xml","z":"7b0fa635.67ef5","name":"to JSON","property":"payload","attr":"","chr":"","x":459.8333740234375,"y":2253.083251953125,"wires":[["2417057e.0beb4a"]]},{"id":"ce44d654.b99c38","type":"http request","z":"7b0fa635.67ef5","name":"Endpoint of VPP","method":"PUT","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":1094.449951171875,"y":2249.2333984375,"wires":[[]]},{"id":"e3122478.73e4","type":"comment","z":"7b0fa635.67ef5","name":"Payload description (JSON)","info":"//*****Example payload description *****//\n{ \n\"loadTimeWindowsReference\" : \"tariff22\" \n}","x":862.0166015625,"y":2251.2333984375,"wires":[]},{"id":"ccd7c37f.08a3b","type":"http in","z":"7b0fa635.67ef5","name":"","url":"/vpp-agent/loadTimeWindows_broadcast","method":"put","upload":false,"swaggerDoc":"","x":199.00003051757812,"y":2578,"wires":[["b616ed4e.7387c8","2fa948eb.967e88"]]},{"id":"b616ed4e.7387c8","type":"http response","z":"7b0fa635.67ef5","name":"Response","statusCode":"","headers":{},"x":186.00003051757812,"y":2614,"wires":[]},{"id":"ab393d18.32128","type":"function","z":"7b0fa635.67ef5","name":"Payload_handler","func":"var loadTimeWindowsReference = msg.payload.InterfacePayloadLoadTimeWindows.loadTimeWindowsReference[0];\nvar windowHighBegin = msg.payload.InterfacePayloadLoadTimeWindows.windowHighBegin[0];\nvar windowHighEnd = msg.payload.InterfacePayloadLoadTimeWindows.windowHighEnd[0];\nvar windowLowBegin = msg.payload.InterfacePayloadLoadTimeWindows.windowLowBegin[0];\nvar windowLowEnd = msg.payload.InterfacePayloadLoadTimeWindows.windowLowEnd[0];\n\n\nmsg.payload = \n{\n    \"loadTimeWindowsReference\": loadTimeWindowsReference,\n    \"windowHighBegin\" : windowHighBegin,\n    \"windowHighEnd\" :windowHighEnd,\n    \"windowLowBegin\" : windowLowBegin,\n    \"windowLowEnd\" : windowLowEnd\n}\n\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":622.6334228515625,"y":2578.30029296875,"wires":[["5e353c9b.dc1aa4"]]},{"id":"5e353c9b.dc1aa4","type":"http request","z":"7b0fa635.67ef5","name":"loadTimeWindows_broadcast Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/vpp-agent/loadTimeWindows_broadcast","tls":"","persist":false,"proxy":"","authType":"","x":1173.633544921875,"y":2577.30029296875,"wires":[[]]},{"id":"310fc528.3cb4ba","type":"comment","z":"7b0fa635.67ef5","name":"5.3 Broadcasting new LoadTimeWindows to everyone","info":"","x":228.00003051757812,"y":2542,"wires":[]},{"id":"66aacc19.37c1fc","type":"comment","z":"7b0fa635.67ef5","name":"Payload description (JSON)","info":"//*****Example payload description *****//\n{\n    \"loadTimeWindowsReference\" : \"Tariff22\",\n    \"windowHighBegin\" : \"2020-02-18 05:00:00.0\",\n    \"windowHighEnd\" : \"2020-02-18 07:00:00.0\",\n    \"windowLowBegin\" : \"2020-08-18 05:00:00.0\",\n    \"windowLowEnd\" : \"2020-08-18 07:00:00.0\"\n}\n","x":466.00006103515625,"y":2644.10009765625,"wires":[]},{"id":"a7d1eb4f.93483","type":"comment","z":"7b0fa635.67ef5","name":"********** TESTING *************","info":"//*****Example payload description *****//\n{ \nreference: \"tariff22\" \n}","x":161.00003051757812,"y":2658.7998046875,"wires":[]},{"id":"1d48cb30.f62b35","type":"inject","z":"7b0fa635.67ef5","name":"**TEST**Inject LoadTimeWindows to Agent","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":214.00003051757812,"y":2693.599609375,"wires":[["cbf0562.376d728"]]},{"id":"cbf0562.376d728","type":"function","z":"7b0fa635.67ef5","name":"Payload_handler","func":"\npayload = {\n    \"loadTimeWindowsReference\" : \"Tariff22\",\n    \"windowHighBegin\" : \"2020-02-18 05:00:00.0\",\n    \"windowHighEnd\" : \"2020-02-18 07:00:00.0\",\n    \"windowLowBegin\" : \"2020-08-18 05:00:00.0\",\n    \"windowLowEnd\" : \"2020-08-18 07:00:00.0\"\n}\n\nmsg.payload = payload;\n// payload = {\"schedulingPlanUploaded\" : true}\n//msg.payload = payload;\n\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":625,"y":2692,"wires":[["5e353c9b.dc1aa4"]]},{"id":"90cc8d6.837fa7","type":"xml","z":"7b0fa635.67ef5","name":"to JSON","property":"payload","attr":"","chr":"","x":451.1166687011719,"y":255.11666870117188,"wires":[["6926c4e6.6beeac"]]},{"id":"f8dfe605.43a1d8","type":"xml","z":"7b0fa635.67ef5","name":"to JSON","property":"payload","attr":"","chr":"","x":454.1166687011719,"y":691.7166442871094,"wires":[["dc6fc640.e2eb68"]]},{"id":"f4c97494.1eb95","type":"comment","z":"7b0fa635.67ef5","name":"****************************************** SCHEDULING ********************************************","info":"","x":335.1166687011719,"y":40.116668701171875,"wires":[]},{"id":"f6c4085c.daa378","type":"comment","z":"7b0fa635.67ef5","name":"JADE Interface (VPP-Agent)","info":"","x":1117.1166687011719,"y":105.11666870117188,"wires":[]},{"id":"30d600ce.7d3488","type":"comment","z":"7b0fa635.67ef5","name":"Payload description (JSON)","info":"//*****Example payload description *****//\n{\n    schedulingPlanReference: \"TUEmdenCompany1, RequestMRL041221\",\n    tuName: \"TUEmden0\"me :\"TUEmden0\"\n}","x":860.11669921875,"y":257.1166687011719,"wires":[]},{"id":"71f1dc5f.e63474","type":"comment","z":"7b0fa635.67ef5","name":"Payload description (JSON)","info":"//*****Example payload description *****//\n//the payload can be any form of XML the VPP needs for the planning of the TU\n//shown in String:\n<operation>\n    <name>\"SchedulingData\"</name>\n    <tuID>\"testTUHSEMD\"</tuID>\n    <timeWindow>\n        <start>\"2020-02-18 05:00:00.0\"</start>\n        <end>\"2020-02-18 07:00:00.0\"</end>\n    </timeWindow>\n    <energyRange>\n        <from>\"6000\"</from>\n        <till>\"22000\"</till>\n    </energyRange>\n</operation>","x":861.5,"y":330.2166748046875,"wires":[]},{"id":"f82b4e6a.fbb53","type":"comment","z":"7b0fa635.67ef5","name":"Payload description (JSON)","info":"//*****Example payload description *****//\n{ \n    schedulingPlanReference: \"TUEmdenCompany1, RequestMRL041221\", \n    tuName: \"noNameSet\" \n}","x":860.9833374023438,"y":405.2166748046875,"wires":[]},{"id":"70d6390a.c9915","type":"http response","z":"7b0fa635.67ef5","name":"Response","statusCode":"","headers":{},"x":172.11666870117188,"y":542.3166198730469,"wires":[]},{"id":"9b8a2c67.c398a8","type":"http response","z":"7b0fa635.67ef5","name":"Response","statusCode":"","headers":{},"x":172.11666870117188,"y":617.3166198730469,"wires":[]},{"id":"884b52c2.6c38","type":"comment","z":"7b0fa635.67ef5","name":"JADE Interface (VPP-Agent)","info":"","x":1110.683349609375,"y":478.31658935546875,"wires":[]},{"id":"e5128683.afd308","type":"comment","z":"7b0fa635.67ef5","name":"VPP Interface","info":"","x":1066.1500244140625,"y":654.6166687011719,"wires":[]},{"id":"32bf6866.c4a3d8","type":"comment","z":"7b0fa635.67ef5","name":"Payload description (JSON)","info":"//*****Example payload description *****//\n{ \n    schedulingPlanReference: \"TUEmdenCompany0, RequestMRL041221\", \n    tuName: \"TUEmden0\" \n}","x":855.11669921875,"y":690.5166320800781,"wires":[]},{"id":"1393cb24.6ed505","type":"comment","z":"7b0fa635.67ef5","name":"Payload description (JSON)","info":"//*****Example payload description *****//\n{ \n    schedulingPlanReference: \"TUEmdenCompany1, RequestMRL041221\",\n    tuName: \"TUEmden0\"\n}","x":855.11669921875,"y":767.5166320800781,"wires":[]},{"id":"7995e15c.5fec78","type":"xml","z":"7b0fa635.67ef5","name":"to JSON","property":"payload","attr":"","chr":"","x":453.8500061035156,"y":764.0499572753906,"wires":[["7364643d.31052c"]]},{"id":"a4ba88a2.2feec","type":"xml","z":"7b0fa635.67ef5","name":"to JSON","property":"payload","attr":"","chr":"","x":451.8500061035156,"y":403.8500061035156,"wires":[["316b4f43.5946a8"]]},{"id":"744ba7c7.f971d8","type":"comment","z":"7b0fa635.67ef5","name":"****************************************** TU CONTROL********************************************","info":"","x":333.85003662109375,"y":836.449951171875,"wires":[]},{"id":"290e417.5fbacbe","type":"comment","z":"7b0fa635.67ef5","name":"JADE Interface (VPP-Agent)","info":"","x":1115.8500061035156,"y":903.050048828125,"wires":[]},{"id":"81b26319.06a4d8","type":"comment","z":"7b0fa635.67ef5","name":"VPP Interface","info":"","x":1063.8500061035156,"y":1162.050048828125,"wires":[]},{"id":"5fa7843f.3791b4","type":"comment","z":"7b0fa635.67ef5","name":"Payload description (JSON)","info":"//*****Example payload description *****//\n{ \n    tuName : \"TU-EMDEN-CompanyXY-ProcessZ\"\n}","x":847.8499755859375,"y":1198.449951171875,"wires":[]},{"id":"aef6a421.62cca","type":"comment","z":"7b0fa635.67ef5","name":"****************************************** TU BALANCING********************************************","info":"","x":348.8500518798828,"y":1265.25,"wires":[]},{"id":"e78d2cfa.a3cc48","type":"comment","z":"7b0fa635.67ef5","name":"****************************************** ACCOUNTING********************************************","info":"","x":335.85003662109375,"y":1794.64990234375,"wires":[]},{"id":"be2e3380.7b29b","type":"comment","z":"7b0fa635.67ef5","name":"****************************************** LOADTIMEWINDOWS-SHARE********************************************","info":"","x":390.85003662109375,"y":2147.449951171875,"wires":[]},{"id":"3ca33c8.d275fc4","type":"http in","z":"7b0fa635.67ef5","name":"","url":"/vpp-agent/control_newLoadProfile","method":"put","upload":false,"swaggerDoc":"","x":174.00003051757812,"y":1014,"wires":[["9fc17a13.197448","751aa5cc.975834"]]},{"id":"9fc17a13.197448","type":"http response","z":"7b0fa635.67ef5","name":"Response","statusCode":"","headers":{},"x":186.30001831054688,"y":1048,"wires":[]},{"id":"751aa5cc.975834","type":"function","z":"7b0fa635.67ef5","name":"Payload_handler","func":"msg.payload = msg.payload;\nmsg.headers = {'content-type':'application/octet-stream'};\nreturn msg;\n\n\n//msg.payload = '<?xml version=\"1.0\" encoding=\"UTF-8\"?><userRequest<authentication><username>foo</username><password>bar</password></authentication><action>doit</action></userRequest>';\n//msg.headers = {};\n//msg.headers['content-type'] = 'application/xml';","outputs":1,"noerr":0,"initialize":"","finalize":"","x":619.9334106445312,"y":1014.2999877929688,"wires":[["df2e2dca.4fd7f8"]]},{"id":"df2e2dca.4fd7f8","type":"http request","z":"7b0fa635.67ef5","name":"control_newLoadProfile Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/vpp-agent/control_newLoadProfile","tls":"","persist":false,"proxy":"","authType":"","x":1132.9333801269531,"y":1015.300048828125,"wires":[[]]},{"id":"c42d76ba.38d74","type":"http in","z":"7b0fa635.67ef5","name":"","url":"/vpp-agent/control_newLoadProfileUploaded","method":"put","upload":false,"swaggerDoc":"","x":202.00003051757812,"y":1085.0999908447266,"wires":[["883818ec.815dd8","774c3cf3.b19f24","e02adc48.0aa598"]]},{"id":"883818ec.815dd8","type":"http response","z":"7b0fa635.67ef5","name":"Response","statusCode":"","headers":{},"x":182.00003051757812,"y":1121.0999755859375,"wires":[]},{"id":"774c3cf3.b19f24","type":"function","z":"7b0fa635.67ef5","name":"Payload_handler","func":"var tuName = msg.payload.tuName || \"noNameSet\";\n\npayload = \n{\n\"tuName\": tuName\n}\n\nmsg.payload = payload;\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":618.6334838867188,"y":1084.4000244140625,"wires":[[]]},{"id":"5ac310c4.37c028","type":"http request","z":"7b0fa635.67ef5","name":"control_newLoadProfileUploaded Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/vpp-agent/control_newLoadProfileUploaded","tls":"","persist":false,"proxy":"","authType":"","x":1163.6334533691406,"y":1084.4000244140625,"wires":[[]]},{"id":"9947715.a48e99","type":"http response","z":"7b0fa635.67ef5","name":"Response","statusCode":"","headers":{},"x":181.85003662109375,"y":972.6500244140625,"wires":[]},{"id":"bc5e69ee.a039d","type":"comment","z":"7b0fa635.67ef5","name":"JADE Interface (VPP-Agent)","info":"","x":1118.116683959961,"y":1333.5167541503906,"wires":[]},{"id":"b6852e5b.8ef9d8","type":"comment","z":"7b0fa635.67ef5","name":"Payload description (JSON)","info":"//*****Example payload description *****//\n{ \n    agentName: \"AgentTUEmdenCompany0\",\n    tuName: \"TUEmdenCompany0\"\n}","x":839.0000152587891,"y":1470,"wires":[]},{"id":"bb839fc9.df20b","type":"comment","z":"7b0fa635.67ef5","name":"Payload description (JSON)","info":"//*****Example payload description *****//\n{ \n    agentName: \"AgentTUEmdenCompany0\",\n    tuName: \"TUEmdenCompany0\"\n}","x":842.0000152587891,"y":1545,"wires":[]},{"id":"b16096c5.f5f1c","type":"comment","z":"7b0fa635.67ef5","name":"VPP Interface","info":"","x":1065.000015258789,"y":1439,"wires":[]},{"id":"83f9a20e.e10d1","type":"comment","z":"7b0fa635.67ef5","name":"VPP Interface","info":"","x":1061.000015258789,"y":1612,"wires":[]},{"id":"21bc13db.66e90c","type":"comment","z":"7b0fa635.67ef5","name":"Payload description (JSON)","info":"//*****Example payload description *****//\n{ \n    tuName: \"TUEmdenCompany0\",\n    agentName: \"AgentTUEmdenCompany0\",\n    feedIn: \"0\",\n    operatingPoint: \"0\",\n    leadingOperatingPoint: \"0\",\n    currentValueFR: \"0\",\n    assignedPool: \"0\",\n    status: \"0\",\n    frequency: \"0\",\n    aFRRsetpoint: \"0\",\n    aFRRsetpointEcho: \"0\",\n    setpointFR: \"0\",\n    aFRRGradientPOS: \"0\",\n    aFRRGradientNEG: \"0\",\n    capacityPOS: \"0\",\n    capacityNEG: \"0\",\n    holdingCapacityPOS: \"0\",\n    holdingCapacityNEG: \"0\",\n    controlBandPOS: \"0\",\n    controlBandNEG: \"0\"\n}","x":838.0000152587891,"y":1650,"wires":[]},{"id":"baf539b5.92c29","type":"comment","z":"7b0fa635.67ef5","name":"Payload description (JSON)","info":"//*****Example payload description *****//\n{ \n    agentName: \"AgentTUEmdenCompany0\",\n    tuName: \"TUEmdenCompany0\"\n}","x":841.0000152587891,"y":1721,"wires":[]},{"id":"e1f777ff.26e368","type":"comment","z":"7b0fa635.67ef5","name":"Payload description (JSON)","info":"//*****Example payload description *****//\n<operation>\n    <name>\"ENERGYCONSUMPTIONPROFILE\"</name>\n    <tuID>\"testTUHSEMD\"</tuID>\n    <energyRange>\n        <from>\"6000\"</from>\n        <till>\"22000\"</till>\n    </energyRange>\n</operation>","x":955,"y":1904,"wires":[]},{"id":"5fa05d4b.ac739c","type":"comment","z":"7b0fa635.67ef5","name":"Payload description (JSON)","info":"//*****Example payload description *****//\n{ \n    tuName: \"TUEmdenCompany1\"\n}","x":955,"y":1974,"wires":[]},{"id":"da274a4e.455ba8","type":"comment","z":"7b0fa635.67ef5","name":"JADE Interface (VPP-Agent)","info":"","x":1131,"y":2044.9998779296875,"wires":[]},{"id":"bcdb708d.0ff79","type":"comment","z":"7b0fa635.67ef5","name":"VPP Interface","info":"","x":1163,"y":1863,"wires":[]},{"id":"249d9f32.672f1","type":"comment","z":"7b0fa635.67ef5","name":"VPP Interface","info":"","x":1082.8499450683594,"y":2215.64990234375,"wires":[]},{"id":"6577eca6.5b9f7c","type":"comment","z":"7b0fa635.67ef5","name":"JADE Interface (VPP-Agent)","info":"","x":1133.8499755859375,"y":2317.85009765625,"wires":[]},{"id":"595c6301.1677a4","type":"comment","z":"7b0fa635.67ef5","name":"JADE Interface (VPP-Agent)","info":"","x":1133.8499755859375,"y":2539.050048828125,"wires":[]},{"id":"9136a9fc.811a88","type":"comment","z":"7b0fa635.67ef5","name":"5. (B) LoadTimeWindowsShare-Process via Broadcast","info":"","x":227.85000610351562,"y":2509.64990234375,"wires":[]},{"id":"af3b68c1.5f3188","type":"http in","z":"7b0fa635.67ef5","name":"","url":"/vpp/ams_agentBorn","method":"put","upload":false,"swaggerDoc":"","x":128.00006103515625,"y":4948.999755859375,"wires":[["44fcb56e.c4f32c","56dbcc04.daf3a4"]]},{"id":"44fcb56e.c4f32c","type":"http response","z":"7b0fa635.67ef5","name":"Response","statusCode":"","headers":{},"x":175.300048828125,"y":4983.999755859375,"wires":[]},{"id":"3bf9a243.4ec776","type":"http in","z":"7b0fa635.67ef5","name":"","url":"/vpp/ams_agentDead","method":"put","upload":false,"swaggerDoc":"","x":131.88339233398438,"y":4876.099792480469,"wires":[["73401e22.77f56","79d99ed1.9c083"]]},{"id":"73401e22.77f56","type":"http response","z":"7b0fa635.67ef5","name":"Response","statusCode":"","headers":{},"x":176.00006103515625,"y":4912.099853515625,"wires":[]},{"id":"56dbcc04.daf3a4","type":"function","z":"7b0fa635.67ef5","name":"Payload_handler","func":"var agentName = msg.payload;\n\n\nmsg.payload = {\n    \"agentName\" : agentName\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":622,"y":4948.099609375,"wires":[[]]},{"id":"9c3f5c88.7ba6d8","type":"http request","z":"7b0fa635.67ef5","name":"Endpoint of VPP","method":"PUT","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":1103.183349609375,"y":4877.999755859375,"wires":[[]]},{"id":"f18b5b1.c24fda8","type":"http request","z":"7b0fa635.67ef5","name":"Endpoint of VPP","method":"PUT","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":1104.449951171875,"y":4946.999755859375,"wires":[[]]},{"id":"6b45ed15.a0c68c","type":"comment","z":"7b0fa635.67ef5","name":"****************************************** PLATFORM INTERACTION ********************************************","info":"","x":368.00006103515625,"y":4841.999755859375,"wires":[]},{"id":"944b4993.56459","type":"comment","z":"7b0fa635.67ef5","name":"VPP Interface","info":"","x":1094.1500244140625,"y":4838.349853515625,"wires":[]},{"id":"79d99ed1.9c083","type":"function","z":"7b0fa635.67ef5","name":"Payload_handler","func":"var agentName = msg.payload;\n\n\nmsg.payload = {\n    \"agentName\" : agentName\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":622.0000610351562,"y":4876.332763671875,"wires":[[]]},{"id":"4083bb5a.a2e824","type":"comment","z":"7b0fa635.67ef5","name":"Payload description (JSON)","info":"//*****Example payload description *****//\n{ \n    agentName : \"TUEmdenCompany0@192.168.178.29:1099/JADE\"\n}","x":886.0000610351562,"y":4880.332763671875,"wires":[]},{"id":"899f5199.edf59","type":"comment","z":"7b0fa635.67ef5","name":"Payload description (JSON)","info":"//*****Example payload description *****//\n{ \n    agentName : \"TUEmdenCompany0@192.168.178.29:1099/JADE\"\n}","x":887,"y":4947.332763671875,"wires":[]},{"id":"78a4d703.7ac96","type":"comment","z":"7b0fa635.67ef5","name":"****************************************** SOL/SNL Specific Actions ****************************************","info":"","x":365.85003662109375,"y":2732.666748046875,"wires":[]},{"id":"6e63440c.80f084","type":"comment","z":"7b0fa635.67ef5","name":"6 Enable Frequency Relay","info":"","x":136.00003051757812,"y":2766.9334716796875,"wires":[]},{"id":"7a05001e.7ae57","type":"comment","z":"7b0fa635.67ef5","name":"6.1 Sending out a enable (VPP --> Node-RED)","info":"","x":196.11669921875,"y":2799.133544921875,"wires":[]},{"id":"4f5baa87.87b47c","type":"http in","z":"7b0fa635.67ef5","name":"","url":"/vpp-agent/freqRelay_enable","method":"put","upload":false,"swaggerDoc":"","x":165.6667022705078,"y":2834.7665405273438,"wires":[["95544204.fb8228","f6d67de4.625868"]]},{"id":"e77e335e.80dd7","type":"function","z":"7b0fa635.67ef5","name":"Payload_handler","func":"var tuName = msg.payload.tuName || \"noNameSet\";\n\n\n\nmsg.payload = {\n    \"tuName\" : tuName\n}\n\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":623.6666107177734,"y":2833.7666625976562,"wires":[["42326bd2.9c9cbc"]]},{"id":"42326bd2.9c9cbc","type":"http request","z":"7b0fa635.67ef5","name":"freqRelay_enable Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/vpp-agent/freqRelay_enable","tls":"","persist":false,"proxy":"","authType":"basic","x":1128.550033569336,"y":2832.5499877929688,"wires":[[]]},{"id":"1296cf80.01fc19","type":"comment","z":"7b0fa635.67ef5","name":"JADE Interface (VPP-Agent)","info":"","x":1128.4000396728516,"y":2800.800048828125,"wires":[]},{"id":"95544204.fb8228","type":"http response","z":"7b0fa635.67ef5","name":"Response","statusCode":"","headers":{},"x":185.4000244140625,"y":2870.39990234375,"wires":[]},{"id":"c0d73163.1b41b","type":"http in","z":"7b0fa635.67ef5","name":"","url":"/vpp/freqRelay_enableInform","method":"put","upload":false,"swaggerDoc":"","x":163.66668701171875,"y":3016.666748046875,"wires":[["723607cf.c0378","88745c93.d7579"]]},{"id":"723607cf.c0378","type":"http response","z":"7b0fa635.67ef5","name":"Response","statusCode":"","headers":{},"x":185.9666748046875,"y":3052.666778564453,"wires":[]},{"id":"e37305cc.be4d6","type":"http request","z":"7b0fa635.67ef5","name":"Endpoint of VPP","method":"PUT","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":1092.6000061035156,"y":3013.566650390625,"wires":[[]]},{"id":"56377bd6.c9661c","type":"function","z":"7b0fa635.67ef5","name":"Payload_handler","func":"var agentName = msg.payload.InterfacePayloadAgentReference.agentName[0];\nvar tuName = msg.payload.InterfacePayloadAgentReference.tuName[0];\n\nmsg.payload = {\n    \"agentName\" : agentName,\n    \"tuName\" : tuName\n}\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":619.6667175292969,"y":3016.5667724609375,"wires":[["eee9a163.5033f"]]},{"id":"93beaf79.d9a6f8","type":"comment","z":"7b0fa635.67ef5","name":"6.2 VPP <-- Node-RED: receiving inform or failure message","info":"","x":234.66668701171875,"y":2913.666748046875,"wires":[]},{"id":"2889cab3.5a210e","type":"http in","z":"7b0fa635.67ef5","name":"","url":"/vpp/freqRelay_enableFailure","method":"put","upload":false,"swaggerDoc":"","x":163.66668701171875,"y":2948.666748046875,"wires":[["293e9824.2c7b38","ab516f10.e2ff2"]]},{"id":"293e9824.2c7b38","type":"http response","z":"7b0fa635.67ef5","name":"Response","statusCode":"","headers":{},"x":184.9666748046875,"y":2983.666778564453,"wires":[]},{"id":"36f13523.9e778a","type":"http request","z":"7b0fa635.67ef5","name":"Endpoint of VPP","method":"PUT","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":1093.6000061035156,"y":2948.5667724609375,"wires":[[]]},{"id":"55e19663.d0a4b8","type":"function","z":"7b0fa635.67ef5","name":"Payload_handler","func":"var agentName = msg.payload.InterfacePayloadAgentReference.agentName[0];\nvar tuName = msg.payload.InterfacePayloadAgentReference.tuName[0];\n\nmsg.payload = {\n    \"agentName\" : agentName,\n    \"tuName\" : tuName\n}\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620.6667022705078,"y":2950.56689453125,"wires":[[]]},{"id":"ab516f10.e2ff2","type":"xml","z":"7b0fa635.67ef5","name":"to JSON","property":"payload","attr":"","chr":"","x":455.7833557128906,"y":2950.3834228515625,"wires":[["55e19663.d0a4b8"]]},{"id":"88745c93.d7579","type":"xml","z":"7b0fa635.67ef5","name":"to JSON","property":"payload","attr":"","chr":"","x":454.7833557128906,"y":3016.3834228515625,"wires":[["56377bd6.c9661c"]]},{"id":"64947add.24e6cc","type":"comment","z":"7b0fa635.67ef5","name":"VPP Interface","info":"","x":1082.6666564941406,"y":2914.666748046875,"wires":[]},{"id":"7170556a.39d5f4","type":"comment","z":"7b0fa635.67ef5","name":"Payload description (JSON)","info":"//*****Example payload description *****//\n{ \n    agentName: \"AgentTUEmdenCompany0\",\n    tuName: \"TUEmdenCompany0\"\n}","x":854.6666564941406,"y":2949.666748046875,"wires":[]},{"id":"a0703054.3e615","type":"comment","z":"7b0fa635.67ef5","name":"Payload description (JSON)","info":"//*****Example payload description *****//\n{ \n    agentName: \"AgentTUEmdenCompany0\",\n    tuName: \"TUEmdenCompany0\"\n}","x":857.6666564941406,"y":3015.666748046875,"wires":[]},{"id":"92f6aa2f.0ab7d8","type":"comment","z":"7b0fa635.67ef5","name":"7 Disable Frequency Relay","info":"","x":132.6666717529297,"y":3165,"wires":[]},{"id":"93ceb3bf.84a8a8","type":"comment","z":"7b0fa635.67ef5","name":"7.1 Sending out a block (VPP --> Node-RED)","info":"","x":192.78334045410156,"y":3197.2000732421875,"wires":[]},{"id":"1818fccc.1ee26b","type":"http in","z":"7b0fa635.67ef5","name":"","url":"/vpp-agent/freqRelay_block","method":"put","upload":false,"swaggerDoc":"","x":153.33334350585938,"y":3238.8330688476562,"wires":[["aba214be.89c8f8","94cef519.97372"]]},{"id":"e45695de.fec6e","type":"function","z":"7b0fa635.67ef5","name":"Payload_handler","func":"var tuName = msg.payload.tuName || \"noNameSet\";\nvar newSetpoint = msg.payload.newSetpoint;\n\n\nmsg.payload = {\n    \"tuName\" : tuName \n}\n\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":615.333251953125,"y":3236.833251953125,"wires":[["1e2023e1.d79304"]]},{"id":"1e2023e1.d79304","type":"http request","z":"7b0fa635.67ef5","name":"freqRelay_block Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/vpp-agent/freqRelay_block","tls":"","persist":false,"proxy":"","authType":"basic","x":1127.2166748046875,"y":3238.6165161132812,"wires":[[]]},{"id":"df02ea30.a2d72","type":"comment","z":"7b0fa635.67ef5","name":"JADE Interface (VPP-Agent)","info":"","x":1136.066650390625,"y":3201.86669921875,"wires":[]},{"id":"aba214be.89c8f8","type":"http response","z":"7b0fa635.67ef5","name":"Response","statusCode":"","headers":{},"x":182.06668090820312,"y":3273.466552734375,"wires":[]},{"id":"d2eaa357.46a8d8","type":"http in","z":"7b0fa635.67ef5","name":"","url":"/vpp/freqRelay_blockInform","method":"put","upload":false,"swaggerDoc":"","x":155.3333282470703,"y":3419.7333984375,"wires":[["83d97141.99723","38ea8d15.11fc02"]]},{"id":"83d97141.99723","type":"http response","z":"7b0fa635.67ef5","name":"Response","statusCode":"","headers":{},"x":179.63331604003906,"y":3455.7333068847656,"wires":[]},{"id":"5a50e889.de309","type":"http request","z":"7b0fa635.67ef5","name":"Endpoint of VPP","method":"PUT","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":1105.2666473388672,"y":3416.6331787109375,"wires":[[]]},{"id":"4dd33ee6.15d84","type":"function","z":"7b0fa635.67ef5","name":"Payload_handler","func":"var agentName = msg.payload.InterfacePayloadAgentReference.agentName[0];\nvar tuName = msg.payload.InterfacePayloadAgentReference.tuName[0];\n\nmsg.payload = {\n    \"agentName\" : agentName,\n    \"tuName\" : tuName\n}\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":615.3333740234375,"y":3420.63330078125,"wires":[[]]},{"id":"f41cd723.6b3dc8","type":"comment","z":"7b0fa635.67ef5","name":"7.2 VPP <-- Node-RED: receiving inform or failure message","info":"","x":235.33331298828125,"y":3309.7333984375,"wires":[]},{"id":"35524bd0.0abffc","type":"http in","z":"7b0fa635.67ef5","name":"","url":"/vpp/freqRelay_blockFailure","method":"put","upload":false,"swaggerDoc":"","x":156.3333282470703,"y":3346.7332763671875,"wires":[["aff9f121.472e78","3ce4ae57.fb27d2"]]},{"id":"aff9f121.472e78","type":"http response","z":"7b0fa635.67ef5","name":"Response","statusCode":"","headers":{},"x":178.63331604003906,"y":3382.7333068847656,"wires":[]},{"id":"52e937d1.43551","type":"http request","z":"7b0fa635.67ef5","name":"Endpoint of VPP","method":"PUT","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":1103.2666473388672,"y":3346.63330078125,"wires":[[]]},{"id":"d72acb58.fab4b8","type":"function","z":"7b0fa635.67ef5","name":"Payload_handler","func":"var agentName = msg.payload.InterfacePayloadAgentReference.agentName[0];\nvar tuName = msg.payload.InterfacePayloadAgentReference.tuName[0];\n\nmsg.payload = {\n    \"agentName\" : agentName,\n    \"tuName\" : tuName\n}\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":615.3333740234375,"y":3346.63330078125,"wires":[[]]},{"id":"3ce4ae57.fb27d2","type":"xml","z":"7b0fa635.67ef5","name":"to JSON","property":"payload","attr":"","chr":"","x":452.45001220703125,"y":3347.449951171875,"wires":[["d72acb58.fab4b8"]]},{"id":"38ea8d15.11fc02","type":"xml","z":"7b0fa635.67ef5","name":"to JSON","property":"payload","attr":"","chr":"","x":452.45001220703125,"y":3421.449951171875,"wires":[["4dd33ee6.15d84"]]},{"id":"48785394.616ecc","type":"comment","z":"7b0fa635.67ef5","name":"VPP Interface","info":"","x":1092.3332977294922,"y":3314.7332763671875,"wires":[]},{"id":"d44a10b9.1c33f8","type":"comment","z":"7b0fa635.67ef5","name":"Payload description (JSON)","info":"//*****Example payload description *****//\n{ \n    agentName: \"AgentTUEmdenCompany0\",\n    tuName: \"TUEmdenCompany0\"\n}","x":855.3332977294922,"y":3348.7332763671875,"wires":[]},{"id":"71e65eb1.558378","type":"comment","z":"7b0fa635.67ef5","name":"Payload description (JSON)","info":"//*****Example payload description *****//\n{ \n    agentName: \"AgentTUEmdenCompany0\",\n    tuName: \"TUEmdenCompany0\"\n}","x":859.3332977294922,"y":3419.7332763671875,"wires":[]},{"id":"284c029d.54b0de","type":"comment","z":"7b0fa635.67ef5","name":"Receiving status (frequency relay has been triggered) message of frequency relay (VPP <-- Node-RED)","info":"","x":371.6666717529297,"y":3594,"wires":[]},{"id":"c4c6630c.4c84b8","type":"http in","z":"7b0fa635.67ef5","name":"","url":"/vpp/freqRelay_triggered","method":"put","upload":false,"swaggerDoc":"","x":144.6666717529297,"y":3636,"wires":[["cf71f945.763ba8","54c46f77.d4f258"]]},{"id":"cf71f945.763ba8","type":"http response","z":"7b0fa635.67ef5","name":"Response","statusCode":"","headers":{},"x":176.96665954589844,"y":3672.000030517578,"wires":[]},{"id":"a18bfe9f.9ca51","type":"http request","z":"7b0fa635.67ef5","name":"Endpoint of VPP","method":"PUT","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":1113.5999908447266,"y":3632.9000244140625,"wires":[[]]},{"id":"20327dc0.4986ea","type":"function","z":"7b0fa635.67ef5","name":"Payload_handler","func":"var agentName = msg.payload.InterfacePayloadAgentReference.agentName[0];\nvar tuName = msg.payload.InterfacePayloadAgentReference.tuName[0];\n\nmsg.payload = {\n    \"agentName\" : agentName,\n    \"tuName\" : tuName\n}\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":625.6667022705078,"y":3638.9000244140625,"wires":[[]]},{"id":"54c46f77.d4f258","type":"xml","z":"7b0fa635.67ef5","name":"to JSON","property":"payload","attr":"","chr":"","x":464.7833251953125,"y":3638.716796875,"wires":[["20327dc0.4986ea"]]},{"id":"e4a4428.4f2944","type":"comment","z":"7b0fa635.67ef5","name":"VPP Interface","info":"","x":1103.6666259765625,"y":3598,"wires":[]},{"id":"310936d1.c4ce4a","type":"comment","z":"7b0fa635.67ef5","name":"Payload description (JSON)","info":"//*****Example payload description *****//\n{ \n    agentName: \"AgentTUEmdenCompany0\",\n    tuName: \"TUEmdenCompany0\"\n}","x":898.6666412353516,"y":3638,"wires":[]},{"id":"aca7fd28.9f71d8","type":"comment","z":"7b0fa635.67ef5","name":"8 Frequency Relay Status","info":"","x":132.6666717529297,"y":3562,"wires":[]},{"id":"b3411deb.446a3","type":"comment","z":"7b0fa635.67ef5","name":"8.1 Sending out a confirm (VPP --> Node-RED)","info":"","x":202.6666717529297,"y":3706,"wires":[]},{"id":"a46c7074.46e768","type":"http in","z":"7b0fa635.67ef5","name":"","url":"/vpp-agent/freqRelay_confirm","method":"put","upload":false,"swaggerDoc":"","x":163.2166748046875,"y":3739.6329956054688,"wires":[["baf3a9e3.a7275","7cbf373d.7b5318"]]},{"id":"baf3a9e3.a7275","type":"function","z":"7b0fa635.67ef5","name":"Payload_handler","func":"var tuName = msg.payload.tuName || \"noNameSet\";\nvar newSetpoint = msg.payload.newSetpoint;\n\n\nmsg.payload = {\n    \"tuName\" : tuName, \n}\n\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":625.2165832519531,"y":3740.6331176757812,"wires":[["72490ce2.373bfc"]]},{"id":"72490ce2.373bfc","type":"http request","z":"7b0fa635.67ef5","name":"freqRelay_confirm Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/vpp-agent/freqRelay_confirm","tls":"","persist":false,"proxy":"","authType":"basic","x":1152.0999755859375,"y":3739.41650390625,"wires":[[]]},{"id":"c8f076e5.44d15","type":"comment","z":"7b0fa635.67ef5","name":"JADE Interface (VPP-Agent)","info":"","x":1152.949951171875,"y":3699.66650390625,"wires":[]},{"id":"7cbf373d.7b5318","type":"http response","z":"7b0fa635.67ef5","name":"Response","statusCode":"","headers":{},"x":183.95001220703125,"y":3776.2666015625,"wires":[]},{"id":"f7efb8f6.caf74","type":"inject","z":"7b0fa635.67ef5","name":"***test: inject an Enable***","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":157.5499725341797,"y":3126.650146484375,"wires":[["a2591b2b.10ab48"]]},{"id":"a2591b2b.10ab48","type":"function","z":"7b0fa635.67ef5","name":"Payload_handler","func":"var tuName = \"TU_Company1_SNL\";\n\npayload = \n{\n\"tuName\": tuName\n}\n\nmsg.payload = payload;\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":615.5499877929688,"y":3125.650146484375,"wires":[["be5fd782.9d624"]]},{"id":"be5fd782.9d624","type":"http request","z":"7b0fa635.67ef5","name":"freqRelay_enable Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/vpp-agent/freqRelay_enable","tls":"","persist":false,"proxy":"","authType":"basic","x":1133.6666259765625,"y":3124.666748046875,"wires":[[]]},{"id":"adc0e68e.0aea9","type":"inject","z":"7b0fa635.67ef5","name":"***test: inject a Disable***","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":156.5499725341797,"y":3527.9833984375,"wires":[["d519a76.89906d8"]]},{"id":"d519a76.89906d8","type":"function","z":"7b0fa635.67ef5","name":"Payload_handler","func":"var tuName = \"TU_Company1_SNL\";\n\npayload = \n{\n\"tuName\": tuName\n}\n\nmsg.payload = payload;\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":618.5499877929688,"y":3525.9833984375,"wires":[["485c3f9c.003658"]]},{"id":"485c3f9c.003658","type":"http request","z":"7b0fa635.67ef5","name":"freqRelay_block Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/vpp-agent/freqRelay_block","tls":"","persist":false,"proxy":"","authType":"basic","x":1133.6666259765625,"y":3527,"wires":[[]]},{"id":"16fa85eb.ccbd72","type":"inject","z":"7b0fa635.67ef5","name":"***test: inject a Confirm***","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":156.5499725341797,"y":3846.9833984375,"wires":[["315036ad.7555a2"]]},{"id":"315036ad.7555a2","type":"function","z":"7b0fa635.67ef5","name":"Payload_handler","func":"var tuName = \"TU_Company1_SNL\";\n\npayload = \n{\n\"tuName\": tuName\n}\n\nmsg.payload = payload;\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":625.5499877929688,"y":3843.9833984375,"wires":[["ecb04700.5c4358"]]},{"id":"ecb04700.5c4358","type":"http request","z":"7b0fa635.67ef5","name":"freqRelay_confirm Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/vpp-agent/freqRelay_confirm","tls":"","persist":false,"proxy":"","authType":"basic","x":1154.6666259765625,"y":3845,"wires":[[]]},{"id":"ab3c26e5.58647","type":"comment","z":"7b0fa635.67ef5","name":"********** TESTING *************","info":"//*****Example payload description *****//\n{ \nreference: \"tariff22\" \n}","x":150.6666717529297,"y":3093,"wires":[]},{"id":"7d49616.f2ae5a","type":"comment","z":"7b0fa635.67ef5","name":"********** TESTING *************","info":"//*****Example payload description *****//\n{ \nreference: \"tariff22\" \n}","x":152.6666717529297,"y":3493,"wires":[]},{"id":"d946bc35.bce1c","type":"comment","z":"7b0fa635.67ef5","name":"********** TESTING *************","info":"//*****Example payload description *****//\n{ \nreference: \"tariff22\" \n}","x":152.6666717529297,"y":3814,"wires":[]},{"id":"91cb935e.4dddf","type":"xml","z":"7b0fa635.67ef5","name":"to JSON","property":"payload","attr":"","chr":"","x":450.6166687011719,"y":969.1998901367188,"wires":[["3d2473f1.56f8d4"]]},{"id":"3d2473f1.56f8d4","type":"function","z":"7b0fa635.67ef5","name":"Payload_handler (for Simulation)","func":"var tuName = msg.payload.InterfacePayloadNewSetpoint.tuName || \"noNameSet\";\nvar newSetpoint = msg.payload.InterfacePayloadNewSetpoint.newSetpoint;\n\n\nmsg.payload = {\n    \"tuName\" : tuName, \n    \"newSetpoint\" : newSetpoint\n}\n\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":667.8499755859375,"y":969.449951171875,"wires":[["4b13d705.4dca3"]]},{"id":"876022fe.30795","type":"function","z":"7b0fa635.67ef5","name":"Payload_handler (for Simulation)","func":"var id = msg.payload.InterfacePayloadPlanning.referenceID || 0; //id is an optional parameter\nvar serviceDescriptions = msg.payload.InterfacePayloadPlanning.serviceDescriptions;\nvar start = msg.payload.InterfacePayloadPlanning.schedulingStart;\nvar end = msg.payload.InterfacePayloadPlanning.schedulingEnd;\nvar expiration = msg.payload.InterfacePayloadPlanning.expiration;\n\n\nmsg.payload = {\n    \"referenceID\" : id,\n    \"serviceDescriptions\" : serviceDescriptions,\n    \"schedulingStart\" : start, \n    \"schedulingEnd\" : end, \n    \"expiration\" : expiration\n}\n\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":673.8499755859375,"y":175.85000610351562,"wires":[["93d90be7.333288"]]},{"id":"b7656f7e.47eaa","type":"xml","z":"7b0fa635.67ef5","name":"to JSON","property":"payload","attr":"","chr":"","x":444.61669921875,"y":176.80001831054688,"wires":[["876022fe.30795"]]},{"id":"b0d0b8cb.8966a","type":"function","z":"7b0fa635.67ef5","name":"Payload_handler (for Simulation)","func":"var balancingTUName = msg.payload.InterfacePayloadBalancing.balancingTUName;\nvar balancingUpdateRate = msg.payload.InterfacePayloadBalancing.balancingUpdateRate;\nvar balancingStart = msg.payload.InterfacePayloadBalancing.balancingStart;\nvar balancingEnd = msg.payload.InterfacePayloadBalancing.balancingEnd;\nvar balancingReferenceID = msg.payload.InterfacePayloadBalancing.balancingReferenceID;\n\nmsg.payload = {\n   \"balancingTUName\" : balancingTUName,\n   \"balancingStart\" : balancingStart,\n   \"balancingEnd\" : balancingEnd,\n   \"balancingUpdateRate\" : balancingUpdateRate,\n   \"balancingReferenceID\" : balancingReferenceID\n}\n\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":656.8499755859375,"y":1401.25,"wires":[["8eaa7754.ddfe7"]]},{"id":"ea219ae5.fee2b8","type":"xml","z":"7b0fa635.67ef5","name":"to JSON","property":"payload","attr":"","chr":"","x":441.61669921875,"y":1400.800048828125,"wires":[["b0d0b8cb.8966a"]]},{"id":"f6d67de4.625868","type":"xml","z":"7b0fa635.67ef5","name":"to JSON","property":"payload","attr":"","chr":"","x":458.61669921875,"y":2870.199951171875,"wires":[["48f6c6c1.d178b8"]]},{"id":"48f6c6c1.d178b8","type":"function","z":"7b0fa635.67ef5","name":"Payload_handler","func":"var tuName = msg.payload.InterfacePayloadAgentReference.tuName || \"noNameSet\";\n\n\n\nmsg.payload = {\n    \"tuName\" : tuName\n}\n\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":622.8499755859375,"y":2870.64990234375,"wires":[["42326bd2.9c9cbc"]]},{"id":"94cef519.97372","type":"xml","z":"7b0fa635.67ef5","name":"to JSON","property":"payload","attr":"","chr":"","x":446.8499755859375,"y":3270.050048828125,"wires":[["4fa628f6.31a99"]]},{"id":"4fa628f6.31a99","type":"function","z":"7b0fa635.67ef5","name":"Payload_handler","func":"var tuName = msg.payload.InterfacePayloadAgentReference.tuName || \"noNameSet\";\n\n\n\nmsg.payload = {\n    \"tuName\" : tuName\n}\n\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":613.0833129882812,"y":3269.5,"wires":[["1e2023e1.d79304"]]},{"id":"40217cd9.f4f25c","type":"http request","z":"7b0fa635.67ef5","name":"***Simulation Setup***","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8082/vpp/scheduling_schedulingPlanInfos","tls":"","persist":false,"proxy":"","authType":"basic","x":1096.8499755859375,"y":288.8500061035156,"wires":[[]]},{"id":"843c0b65.fb9f38","type":"function","z":"7b0fa635.67ef5","name":"Payload_handler (for Simulation)","func":"var schedulingPlanReference = msg.payload.InterfacePayloadAcceptReject.schedulingPlanReference;\nvar start = msg.payload.InterfacePayloadAcceptReject.schedulingStart;\nvar end = msg.payload.InterfacePayloadAcceptReject.schedulingEnd;\n\n\nmsg.payload = {\n    \"schedulingPlanReference\" : schedulingPlanReference,\n    \"schedulingStart\" : start, \n    \"schedulingEnd\" : end, \n}\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":672.8499755859375,"y":539.8499450683594,"wires":[["c7d830c5.e26b5"]]},{"id":"260fa31f.9b694c","type":"xml","z":"7b0fa635.67ef5","name":"to JSON","property":"payload","attr":"","chr":"","x":452.8499755859375,"y":539.8499450683594,"wires":[["843c0b65.fb9f38"]]},{"id":"7ae1d2c0.d88814","type":"xml","z":"7b0fa635.67ef5","name":"to JSON","property":"payload","attr":"","chr":"","x":453,"y":617.9999694824219,"wires":[["bbdc19af.9137c8"]]},{"id":"bbdc19af.9137c8","type":"function","z":"7b0fa635.67ef5","name":"Payload_handler (for Simulation)","func":"var schedulingPlanReference = msg.payload.InterfacePayloadAcceptReject.schedulingPlanReference;\n\nmsg.payload = {\n    \"schedulingPlanReference\" : schedulingPlanReference,\n}\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":672,"y":617.9999694824219,"wires":[["95950400.6683d"]]},{"id":"cd761dcc.9ca9","type":"http request","z":"7b0fa635.67ef5","name":"***For Simulation Setup***","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8082/vpp/scheduling_done","tls":"","persist":false,"proxy":"","authType":"basic","x":1105,"y":727,"wires":[[]]},{"id":"3e3fd9bd.e7f1a6","type":"http request","z":"7b0fa635.67ef5","name":"***For Simulation Setup***","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8082/vpp/scheduling_failure","tls":"","persist":false,"proxy":"","authType":"basic","x":1106,"y":804,"wires":[[]]},{"id":"4dfb481c.c9f398","type":"http request","z":"7b0fa635.67ef5","name":"***For Simulation Setup***","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8082/vpp/accounting_energyConsumptionProfileReference","tls":"","persist":false,"proxy":"","authType":"basic","x":1201,"y":2006,"wires":[[]]},{"id":"a6dc3532.1dbe8","type":"function","z":"7b0fa635.67ef5","name":"Payload_handler (for Simulation)","func":"var tuName = msg.payload.InterfacePayloadAgentReference.tuName;\n\npayload = \n{\n\"tuName\": tuName\n}\n\nmsg.payload = payload;\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":675,"y":2111.0001220703125,"wires":[["c9286592.2b2a4"]]},{"id":"35f8281d.faff2","type":"xml","z":"7b0fa635.67ef5","name":"to JSON","property":"payload","attr":"","chr":"","x":459.5,"y":2111.0001220703125,"wires":[["a6dc3532.1dbe8"]]},{"id":"d7e193fb.e97838","type":"http request","z":"7b0fa635.67ef5","name":"***For Simulation Setup***","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8082/vpp/balancing_inform","tls":"","persist":false,"proxy":"","authType":"basic","x":1099.8499755859375,"y":1683.25,"wires":[[]]},{"id":"2e0ffecf.c10d12","type":"http response","z":"7b0fa635.67ef5","name":"Response","statusCode":"","headers":{},"x":179.85000610351562,"y":1401.050048828125,"wires":[]},{"id":"96c2fe94.ae4718","type":"function","z":"7b0fa635.67ef5","name":"Payload_handler","func":"var tuName = msg.payload.tuName || \"noNameSet\";\nvar referenceID = msg.payload.referenceID;\n\npayload = \n{\n\"tuName\": tuName,\n\"referenceID\": referenceID\n}\n\nmsg.payload = payload;\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":632.1499633789062,"y":4067.99951171875,"wires":[["dc4eee7e.3b4918"]]},{"id":"dc4eee7e.3b4918","type":"http request","z":"7b0fa635.67ef5","name":"cancelOperation_confirm Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/vpp-agent/cancelOperation_confirm","tls":"","persist":false,"proxy":"","authType":"","x":1178.1500701904297,"y":4065.9996795654297,"wires":[[]]},{"id":"33943318.c6bb84","type":"http in","z":"7b0fa635.67ef5","name":"","url":"/vpp-agent/cancelOperation_confirm","method":"put","upload":false,"swaggerDoc":"","x":192.1499786376953,"y":4069.199462890625,"wires":[["97686248.818948","96c2fe94.ae4718"]]},{"id":"97686248.818948","type":"http response","z":"7b0fa635.67ef5","name":"Response","statusCode":"","headers":{},"x":191.449951171875,"y":4105.19970703125,"wires":[]},{"id":"c882b9f2.d08bc8","type":"comment","z":"7b0fa635.67ef5","name":"9.1 Receiving Cancel for a specific operation from the a TU Agent (VPP <-- Node-RED","info":"","x":327.41668701171875,"y":3918.5162963867188,"wires":[]},{"id":"4e15f456.b6abbc","type":"comment","z":"7b0fa635.67ef5","name":"JADE Interface ","info":"","x":1119.300048828125,"y":4031.94970703125,"wires":[]},{"id":"6cfc3a12.59fa14","type":"comment","z":"7b0fa635.67ef5","name":"9.2 Sending confirmation or failure of the operation cancel fto the Agent (VPP --> Node-RED)","info":"","x":352.0000457763672,"y":4030.999755859375,"wires":[]},{"id":"fa66d7ef.52b85","type":"http in","z":"7b0fa635.67ef5","name":"","url":"/vpp/cancelOperation_inform","method":"put","upload":false,"swaggerDoc":"","x":159.00003051757812,"y":3954.099853515625,"wires":[["9621885c.2b8fd","cb4b24d4.f26328"]]},{"id":"9621885c.2b8fd","type":"http response","z":"7b0fa635.67ef5","name":"Response","statusCode":"","headers":{},"x":189.00003051757812,"y":3991.099609375,"wires":[]},{"id":"828f9146.4055b8","type":"function","z":"7b0fa635.67ef5","name":"Payload_handler","func":"var tuName = msg.payload.InterfacePayloadAgentReference.tuName.toString();\nvar referenceID = msg.payload.InterfacePayloadAgentReference.referenceID.toString();\n\npayload = \n{\n\"tuName\" : tuName,\n\"referenceID\" : referenceID\n}\nmsg.payload = payload;\n\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":631.8334350585938,"y":3956.7998046875,"wires":[[]]},{"id":"cb4b24d4.f26328","type":"xml","z":"7b0fa635.67ef5","name":"to JSON","property":"payload","attr":"","chr":"","x":467.8333740234375,"y":3956.0498046875,"wires":[["828f9146.4055b8"]]},{"id":"e91f8f9f.389e4","type":"http request","z":"7b0fa635.67ef5","name":"Endpoint of VPP","method":"PUT","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":1120.449951171875,"y":3957.2001953125,"wires":[[]]},{"id":"ba51565a.3f2b2","type":"comment","z":"7b0fa635.67ef5","name":"Payload description (JSON)","info":"//*****Example payload description *****//\n{ \n    tuName : \"TuCompanyEmden01\",\n    referenceID : \"schedulingOperation344Cancelled\"\n}","x":901.0166625976562,"y":3958.2001953125,"wires":[]},{"id":"3d673ddb.39d542","type":"comment","z":"7b0fa635.67ef5","name":"****************************************** CANCEL OPERATIONS ********************************************","info":"","x":369.0000305175781,"y":3883.849365234375,"wires":[]},{"id":"b416239b.85e8f","type":"inject","z":"7b0fa635.67ef5","name":"***test: inject a Confirm***","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":175,"y":4144.3330078125,"wires":[["ff7ef975.49eb7"]]},{"id":"ff7ef975.49eb7","type":"function","z":"7b0fa635.67ef5","name":"Payload_handler","func":"var tuName = msg.payload.tuName || \"noNameSet\";\nvar referenceID = msg.payload.referenceID;\n\npayload = \n{\n\"tuName\": \"TU_Company1_MRL\",\n\"referenceID\": \"abortSchedulingRef344\"\n}\n\nmsg.payload = payload;\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":635,"y":4142.3330078125,"wires":[["dc4eee7e.3b4918"]]},{"id":"f29bec6a.072428","type":"comment","z":"7b0fa635.67ef5","name":"VPP Interface","info":"","x":1112,"y":3924,"wires":[]},{"id":"2fa948eb.967e88","type":"xml","z":"7b0fa635.67ef5","name":"to JSON","property":"payload","attr":"","chr":"","x":457,"y":2578,"wires":[["ab393d18.32128"]]},{"id":"eee9a163.5033f","type":"http request","z":"7b0fa635.67ef5","name":"***For Simulation Setup***","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8082/vpp/freqRelay_enableInform","tls":"","persist":false,"proxy":"","authType":"basic","x":1124,"y":3046,"wires":[[]]},{"id":"6b21aaab.122004","type":"function","z":"7b0fa635.67ef5","name":"Payload_handler","func":"var tuName = msg.payload.tuName || \"noNameSet\";\nvar referenceID = msg.payload.referenceID;\n\npayload = \n{\n\"tuName\": tuName,\n\"referenceID\": referenceID\n}\n\nmsg.payload = payload;\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":596.1499633789062,"y":4331.549865722656,"wires":[["7818ca27.11d844"]]},{"id":"7818ca27.11d844","type":"http request","z":"7b0fa635.67ef5","name":"cancelOperation_inform Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/vpp-agent/cancelOperation_inform","tls":"","persist":false,"proxy":"","authType":"","x":1169.1500854492188,"y":4328.549911499023,"wires":[[]]},{"id":"63a8858c.e815ac","type":"http in","z":"7b0fa635.67ef5","name":"","url":"/vpp-agent/cancelOperation_inform","method":"put","upload":false,"swaggerDoc":"","x":185.14999389648438,"y":4331.749694824219,"wires":[["1eb5ad0b.ca6753","6b21aaab.122004"]]},{"id":"1eb5ad0b.ca6753","type":"http response","z":"7b0fa635.67ef5","name":"Response","statusCode":"","headers":{},"x":246.44998168945312,"y":4366.749740600586,"wires":[]},{"id":"f769df0d.b6d478","type":"comment","z":"7b0fa635.67ef5","name":"10.1 SendingCancel for a specific operation from the Planning System (Node-RED <-- VPP)","info":"","x":347.4166564941406,"y":4290.06640625,"wires":[]},{"id":"54bef9b7.22f4a","type":"comment","z":"7b0fa635.67ef5","name":"JADE Interface (TU-Agent)","info":"","x":1140.2999877929688,"y":4290.499801635742,"wires":[]},{"id":"740a667.efc4218","type":"comment","z":"7b0fa635.67ef5","name":"10.2 Receiving confirmation of the operation cancel from VPP (Node-RED --> VPP)","info":"","x":320,"y":4404.549865722656,"wires":[]},{"id":"cc065227.539e38","type":"http in","z":"7b0fa635.67ef5","name":"","url":"/vpp/cancelOperation_confirm","method":"put","upload":false,"swaggerDoc":"","x":170,"y":4444.649963378906,"wires":[["ab12692f.e971e","d2f788ea.0b714"]]},{"id":"ab12692f.e971e","type":"http response","z":"7b0fa635.67ef5","name":"Response","statusCode":"","headers":{},"x":250,"y":4480.649963378906,"wires":[]},{"id":"e5e9887c.34117","type":"function","z":"7b0fa635.67ef5","name":"Data from JSON Interface","func":"var tuName = msg.payload.InterfacePayloadAgentReference.tuName.toString();\nvar referenceID = msg.payload.InterfacePayloadAgentReference.referenceID.toString();\n\npayload = \n{\n\"tuName\" : tuName,\n\"referenceID\" : referenceID\n}\nmsg.payload = payload;\n\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":598.8334045410156,"y":4447.349670410156,"wires":[[]]},{"id":"d2f788ea.0b714","type":"xml","z":"7b0fa635.67ef5","name":"to JSON","property":"payload","attr":"","chr":"","x":416.8334045410156,"y":4446.600158691406,"wires":[["e5e9887c.34117"]]},{"id":"59f8a81f.2df438","type":"comment","z":"7b0fa635.67ef5","name":"Payload description (JSON)","info":"//*****Example payload description *****//\n{ \n    tuName : \"TuCompanyEmden01\",\n    referenceID : \"schedulingOperation344Cancelled\"\n}","x":858.0166320800781,"y":4447.750183105469,"wires":[]},{"id":"3f8c6389.2b0a3c","type":"function","z":"7b0fa635.67ef5","name":"Payload_handler","func":"var tuName = msg.payload.tuName || \"noNameSet\";\nvar referenceID = msg.payload.referenceID;\n\npayload = \n{\n\"tuName\": \"TU_Company1_MRL\",\n\"referenceID\": \"abortSchedulingRef344\"\n}\n\nmsg.payload = payload;\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":597.1500244140625,"y":4374.083068847656,"wires":[["7818ca27.11d844"]]},{"id":"d6ebc7b2.69d0e8","type":"inject","z":"7b0fa635.67ef5","name":"TESTING","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":425.6500244140625,"y":4374.750061035156,"wires":[["3f8c6389.2b0a3c"]]},{"id":"67c2a9c4.56cb18","type":"comment","z":"7b0fa635.67ef5","name":"VPP Interface","info":"","x":1095.8499755859375,"y":4413.350158691406,"wires":[]},{"id":"3a9c14b7.0c7efc","type":"http request","z":"7b0fa635.67ef5","name":"Endpoint of VPP","method":"PUT","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":1106.8499755859375,"y":4448.350158691406,"wires":[[]]},{"id":"57672fe1.ccb3f","type":"http in","z":"7b0fa635.67ef5","name":"","url":"/vpp-agent/requestInfo","method":"put","upload":false,"swaggerDoc":"","x":134.39999389648438,"y":4627.7998046875,"wires":[["94f8f779.b06f3","8f46e25a.35aa98"]]},{"id":"94f8f779.b06f3","type":"http response","z":"7b0fa635.67ef5","name":"Response","statusCode":"","headers":{},"x":174.13331604003906,"y":4663.433166503906,"wires":[]},{"id":"8f46e25a.35aa98","type":"xml","z":"7b0fa635.67ef5","name":"to JSON","property":"payload","attr":"","chr":"","x":475.3500213623047,"y":4627.233215332031,"wires":[["3480b47e.746164"]]},{"id":"3480b47e.746164","type":"function","z":"7b0fa635.67ef5","name":"Payload_handler","func":"var tuName = msg.payload.InterfacePayloadAgentReference.tuName || \"noNameSet\";\n\n\n\nmsg.payload = {\n    \"tuName\" : tuName\n}\n\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":644.5832977294922,"y":4623.683166503906,"wires":[["d3b6b14d.ce424"]]},{"id":"d3b6b14d.ce424","type":"http request","z":"7b0fa635.67ef5","name":"requestInfos Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/vpp-agent/requestInfo","tls":"","persist":false,"proxy":"","authType":"basic","x":1129.2832946777344,"y":4623.583435058594,"wires":[[]]},{"id":"5f8c1e4a.18edf8","type":"comment","z":"7b0fa635.67ef5","name":"JADE Interface (VPP-Agent)","info":"","x":1149.13330078125,"y":4591.83349609375,"wires":[]},{"id":"a1a2f8e8.5bac18","type":"comment","z":"7b0fa635.67ef5","name":"**************** 11 Requesting Agent Info Sequence**************","info":"","x":234.84999084472656,"y":4592.166809082031,"wires":[]},{"id":"57caba26.33ccc4","type":"http in","z":"7b0fa635.67ef5","name":"","url":"/vpp/requestInfoData","method":"put","upload":false,"swaggerDoc":"","x":128.0833282470703,"y":4737.699844360352,"wires":[["328f222e.397cde","c6f2bf22.161a18"]]},{"id":"328f222e.397cde","type":"http response","z":"7b0fa635.67ef5","name":"Response","statusCode":"","headers":{},"x":172.1999969482422,"y":4773.699905395508,"wires":[]},{"id":"c6f2bf22.161a18","type":"function","z":"7b0fa635.67ef5","name":"Payload_handler","func":"var dataName = \"InfoSet\";\n//filename needed for \"file node\", if you want to locally save the file\nmsg.filename = 'C:/Users/Woltmann/Desktop/VPP_Folder/'+dataName+'.xml';\nmsg.payload = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":647.0331878662109,"y":4737.299514770508,"wires":[[]]},{"id":"7c93f50f.bf3064","type":"http request","z":"7b0fa635.67ef5","name":"Endpoint of VPP","method":"PUT","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":1114.383316040039,"y":4732.599990844727,"wires":[[]]},{"id":"471a1bed.8e1834","type":"comment","z":"7b0fa635.67ef5","name":"Payload description (JSON)","info":"//*****Example payload description *****//\n<operation>\n    <name>\"ENERGYCONSUMPTIONPROFILE\"</name>\n    <tuID>\"testTUHSEMD\"</tuID>\n    <energyRange>\n        <from>\"6000\"</from>\n        <till>\"22000\"</till>\n    </energyRange>\n</operation>","x":872.3499603271484,"y":4735.949905395508,"wires":[]},{"id":"5496c112.5cfeb","type":"http in","z":"7b0fa635.67ef5","name":"","url":"/vpp/requestInfo","method":"get","upload":false,"swaggerDoc":"","x":121.19999694824219,"y":4805.599807739258,"wires":[["2eec3b94.8169c4"]]},{"id":"4e16df4.4683a2","type":"http response","z":"7b0fa635.67ef5","name":"Response","statusCode":"","headers":{},"x":805.1999969482422,"y":4805.599807739258,"wires":[]},{"id":"399a86d2.c4f45a","type":"function","z":"7b0fa635.67ef5","name":"Payload_handler","func":"msg.payload = msg.payload;\nmsg.headers = {'content-type':'application/octet-stream'};\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":638.1999969482422,"y":4806.599807739258,"wires":[["4e16df4.4683a2"]]},{"id":"2eec3b94.8169c4","type":"template","z":"7b0fa635.67ef5","name":"INSERT AGENT INFO HERE","field":"payload","fieldType":"msg","format":"text","syntax":"plain","template":"<operation>\n    <name>\"AGENT\"</name>\n    <info>\"ABC\"</info>\n</operation>","output":"str","x":409.1999969482422,"y":4805.599807739258,"wires":[["399a86d2.c4f45a"]]},{"id":"5d75ab3d.a62f34","type":"inject","z":"7b0fa635.67ef5","name":"**TEST**Inject Request to Agent","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":155.6999969482422,"y":4701.599807739258,"wires":[["76629d87.7098fc"]]},{"id":"76629d87.7098fc","type":"function","z":"7b0fa635.67ef5","name":"Payload_handler","func":"\nmsg.payload = {\n    \"tuName\" : \"TU_Company1_MRL\"\n}\n\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":648.1999969482422,"y":4703.599807739258,"wires":[["d3b6b14d.ce424"]]},{"id":"7ce87186.d7645","type":"comment","z":"7b0fa635.67ef5","name":"Payload description (JSON)","info":"//*****Example payload description *****//\n{ \n    tuName : \"TuCompanyEmden01\",\n}","x":419.1999969482422,"y":4662.599807739258,"wires":[]},{"id":"e9328489.cd5e88","type":"function","z":"7b0fa635.67ef5","name":"Payload_handler","func":"var tuName = msg.payload.tuName || \"noNameSet\";\nvar referenceID = msg.payload.referenceID;\n\npayload = \n{\n\"tuName\": tuName,\n\"referenceID\": referenceID\n}\n\nmsg.payload = payload;\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":635.1499633789062,"y":4178.25,"wires":[["dbe579fd.7dd56"]]},{"id":"dbe579fd.7dd56","type":"http request","z":"7b0fa635.67ef5","name":"cancelOperation_failure Endpoint","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/vpp-agent/cancelOperation_failure","tls":"","persist":false,"proxy":"","authType":"","x":1181.1500701904297,"y":4175.25016784668,"wires":[[]]},{"id":"58dff453.340fe4","type":"http in","z":"7b0fa635.67ef5","name":"","url":"/vpp-agent/cancelOperation_failure","method":"put","upload":false,"swaggerDoc":"","x":185.1499786376953,"y":4178.449951171875,"wires":[["7f470248.3b44cc","e9328489.cd5e88"]]},{"id":"7f470248.3b44cc","type":"http response","z":"7b0fa635.67ef5","name":"Response","statusCode":"","headers":{},"x":194.449951171875,"y":4214.4501953125,"wires":[]},{"id":"ff6d0031.d35f","type":"inject","z":"7b0fa635.67ef5","name":"***test: inject a Failure***","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":178,"y":4253.58349609375,"wires":[["5a73f948.ba7458"]]},{"id":"5a73f948.ba7458","type":"function","z":"7b0fa635.67ef5","name":"Payload_handler","func":"var tuName = msg.payload.tuName || \"noNameSet\";\nvar referenceID = msg.payload.referenceID;\n\npayload = \n{\n\"tuName\": \"TU_Company1_MRL\",\n\"referenceID\": \"abortSchedulingRef344\"\n}\n\nmsg.payload = payload;\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":638,"y":4251.58349609375,"wires":[["dbe579fd.7dd56"]]},{"id":"f8cf0271.5bfe9","type":"http in","z":"7b0fa635.67ef5","name":"","url":"/vpp/cancelOperation_failure","method":"put","upload":false,"swaggerDoc":"","x":171.6666717529297,"y":4517,"wires":[["c5b67811.cac2d8","47ff44dc.9beae4"]]},{"id":"c5b67811.cac2d8","type":"http response","z":"7b0fa635.67ef5","name":"Response","statusCode":"","headers":{},"x":251.6666717529297,"y":4553,"wires":[]},{"id":"12f0d993.412706","type":"function","z":"7b0fa635.67ef5","name":"Data from JSON Interface","func":"var tuName = msg.payload.InterfacePayloadAgentReference.tuName.toString();\nvar referenceID = msg.payload.InterfacePayloadAgentReference.referenceID.toString();\n\npayload = \n{\n\"tuName\" : tuName,\n\"referenceID\" : referenceID\n}\nmsg.payload = payload;\n\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600.5000762939453,"y":4519.69970703125,"wires":[[]]},{"id":"47ff44dc.9beae4","type":"xml","z":"7b0fa635.67ef5","name":"to JSON","property":"payload","attr":"","chr":"","x":418.5000762939453,"y":4518.9501953125,"wires":[["12f0d993.412706"]]},{"id":"fd3a8ab0.c1762","type":"comment","z":"7b0fa635.67ef5","name":"Payload description (JSON)","info":"//*****Example payload description *****//\n{ \n    tuName : \"TuCompanyEmden01\",\n    referenceID : \"schedulingOperation344Cancelled\"\n}","x":859.6833038330078,"y":4520.1002197265625,"wires":[]},{"id":"4311fce9.be3914","type":"http request","z":"7b0fa635.67ef5","name":"Endpoint of VPP","method":"PUT","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":1108.5166473388672,"y":4520.7001953125,"wires":[[]]},{"id":"18c87b11.b14c55","type":"function","z":"7b0fa635.67ef5","name":"Payload_handler (for Simulation)","func":"var tuName = msg.payload.InterfacePayloadNewSetpoint.tuName || \"noNameSet\";\nvar newSetpoint = msg.payload.InterfacePayloadNewSetpoint.newSetpoint;\n\n\nmsg.payload = {\n    \"tuName\" : tuName, \n    \"newSetpoint\" : newSetpoint\n}\n\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":672.6666870117188,"y":1121,"wires":[["5ac310c4.37c028"]]},{"id":"e02adc48.0aa598","type":"xml","z":"7b0fa635.67ef5","name":"to JSON","property":"payload","attr":"","chr":"","x":455.4333801269531,"y":1120.7499389648438,"wires":[["18c87b11.b14c55"]]},{"id":"9395992a.39d0e8","type":"http response","z":"7b0fa635.67ef5","name":"Response","statusCode":"","headers":{},"x":186,"y":2118.8573122024536,"wires":[]}]